
<nav>

  <div id="logo" style="display: inline-block;"><a href="/"><img style="vertical-align:middle; margin-right: 10px;" src="/img/logo.png" width="48px" alt="Lighthouse logo"><br/><span id="logoname">Lighthouse<br/>
    <% if (cookies.loggedin) { %>
      <sup>Hi, <%= truncate(cookies.username,20) %>!</sup>
    <% } else { %>
    <sup>Journal Together</sup>
      <% } %>
  </span></a></div>
  <% if (cookies.loggedin){ %>
<a class="navel" href="/logout">Logout</a>
  <% } else { %>
    <a class="navel" href="/signup">Sign Up</a>
    <a class="navel" href="/login">Log in</a>
  <% } %>
  
  <% if (cookies.loggedin){ %>
    <% if (session.system_term) { %> 
      <a class="navel" href="/system">My <%= capitalise(session.system_term) %></a>
    <% } else { %>
      <a class="navel" href="/system">My <%= session.system_term %></a>
      <% } %>
      
  <% } %>
  <a class="navel" href="/crisis">In crisis?</a>
	  <% if (cookies.loggedin){ %>
	  <a class="navel" href="/profile">Settings</a>
	  <% } %>
    <a class="navel" href="/about">Information</a>
    <!-- <a class="navel" href="/changelog">Changelog</a> -->
  <button class="navel" onclick="history.back()">Go Back</button>
  <button class="navel" onclick="toggleMode()"><span name="mode" class="material-symbols-outlined" style="vertical-align:middle;color: var(--col1);">light_mode
    </span></button>
</nav>
<div class="navmobile">
  <div id="logo" style="display: inline-block; float: left;"><a href="/"><img style="vertical-align:middle; margin-right: 10px;" src="/img/logo.png" width="48px" alt="Lighthouse logo"><br/></a></div>
  <div id="hamburger"><span class="material-symbols-outlined">
    menu
    </span></div>
  <ul class="menu" id="mobilenav" style="display:none;">
    <% if (cookies.loggedin) { %>
      <sup>Hello, <%= capitalise(cookies.username) %>!</sup>
      <% } else { %>
      <sup>Journal Together</sup>
        <% } %>
    <% if (cookies.loggedin){ %>
      <li><a class="navel" href="/logout">Logout</a></li>
        <% } else { %>
          <li><a class="navel" href="/signup">Sign Up</a></li>
          <li><a class="navel" href="/login">Log in</a></li>         
        <% } %>
        
        <% if (cookies.loggedin){ %>
          <li><a class="navel" href="/system">My <%= capitalise(session.system_term) %></a></li>
        <% } %>
        <li><a class="navel" href="/crisis">In crisis?</a></li>
          <% if (cookies.loggedin){ %>
          <li><a class="navel" href="/profile">Settings</a></li>
          <% } %>
          <li><a class="navel" href="/about">Information</a></li>
          <li><button class="navel" onclick="toggleMode()"><span name="mode" class="material-symbols-outlined" style="vertical-align:middle;color: var(--col1);">light_mode
          </span></button></li>
          <!-- <li><a class="navel" href="/changelog">Changelog</a></li> -->
  </ul>
</div>
<script>
  if (localStorage.lighthouse_mode){
      if (localStorage.lighthouse_mode == "dark") {
        $('[name="mode"]').text(`dark_mode`);
      } else {
        $('[name="mode"]').text(`light_mode`);
      }

    } else {
      localStorage.lighthouse_mode= "light";
    }
  $( "#hamburger" ).on( "click", function() {
   $("#mobilenav").toggle("fast");
} );
$( ".infowindow" ).on( "click", function() {
   $(".infodd").toggle("fast");
} );

function toggleMode(){

  event.preventDefault();
  var $darkCss = $("link[href='/stylesheets/dark.css']");
  if (localStorage.lighthouse_mode){
    // Toggle.
    if (localStorage.lighthouse_mode == "dark") {
      $darkCss.remove();
      $('[name="mode"]').text(`light_mode`);
      localStorage.lighthouse_mode="light";
    } else {
      localStorage.lighthouse_mode="dark";
      $('[name="mode"]').text(`dark_mode`);
      $('head').append('<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/dark.css">');
    }
  } else {
    // Define and then darken.
    localStorage.lighthouse_mode="dark";
      $('[name="mode"]').text(`dark_mode`);
      $('head').append('<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/dark.css">');
  }


}
</script>