<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

.topnav {
  background-color: var(--col6);
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  z-index:200;
}

.topnav a {
  float: left;
  display: block;
  color: var(--col2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: var(--col2);
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: var(--col2);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--col6);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100!important;
}

.dropdown-content a {
  float: none;
  color: var(--col2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: var(--col3);
  color: var(--col1);
}

.dropdown-content a:hover {
  background-color: var(--col3);
  color: var(--col1);
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav .responsive {
    z-index: 8000;
    margin-bottom: 3em;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
  </style>
  </head>
  <div id="menubg"></div>
  <div id="logo" style="display: inline-block; margin-left: 30px; width:100%;filter: drop-shadow(0 0 .2em black);"><a href="/"><img style="margin-right: 10px; float: left;" src="/img/logo.png" width="64px" alt="<%= siteLanguage[session.language || "en"].title %> logo"><span id="logoname" style="line-height:30px;"><%= siteLanguage[session.language || "en"].title %></span> <span class="version">Beta v<%- version %></span><br/>
    <% if (isLoggedIn(cookies)) { %>
      <span style="color:var(--col3);line-height: .3;"><%= (siteLanguage[session.language || "en"].greeting).replace("[[USER]]",cookies.username ? cookies.username : "friend") %></span>
    <% } else { %>
    <span style="color:var(--col7)">Journal Together</span>
      <% } %>
  </a>

</div>
  <div class="topnav" id="myTopnav">
    <% if (isLoggedIn(cookies)){ %>
      <a href="/logout"><%= siteLanguage[session.language || "en"].signOut %></a>
        <% } else { %>
          <a href="/signup"><%= siteLanguage[session.language || "en"].signUp %></a>
          <a href="/login"><%= siteLanguage[session.language || "en"].signIn %></a>
        <% } %>
    <% if (isLoggedIn(cookies)){ %>
      <% if (session.system_term) { %> 
        <a href="/system"><%= (siteLanguage[session.language || "en"].mySys).replace("[[SYSTEM]]", capitalise(session.system_term)) %></a>
      <% } else { %>
        <a href="/system"><%= (siteLanguage[session.language || "en"].mySys).replace("[[SYSTEM]]", siteLanguage[session.language || "en"].system) %></a>
        <% } %>
      <a href="/profile"><%= siteLanguage[session.language || "en"].settings %></a>
      <a href="/forum"><%= siteLanguage[session.language || "en"].myForum %></a>
      <% } %>
    
      <% if (session.is_dev){ %>
        <a href="/mod">Mod Panel</a>
        <% } %>
      <div class="dropdown">
      <button class="dropbtn" onclick='$("#drop").toggle()'><%= siteLanguage[session.language || "en"].info %> ⮛
      </button>
      <div class="dropdown-content" id="drop">
        <a href="/about"><%= siteLanguage[session.language || "en"].about %></a>
        <a href="/tutorial"><%= siteLanguage[session.language || "en"].tutorial %></a>
        <a href="/glossary"><%= siteLanguage[session.language || "en"].glossary %></a>
        <a href="/changelog"><%= siteLanguage[session.language || "en"].changelog %></a>
        <a href="/crisis"><%= siteLanguage[session.language || "en"].crisis %></a>
        <a href="/tos"><%= siteLanguage[session.language || "en"].tos %></a>
        <a href="/privacypolicy"><%= siteLanguage[session.language || "en"].pp %></a>
        <a title="Current Language"><%= (siteLanguage[session.language || "en"].name) %> <%= (siteLanguage[session.language || "en"].flag) %></a>
      </div>
      
    </div> 
      <a href="javascript:history.back()"><%= siteLanguage[session.language || "en"].back %></a>
      
  <button style="background:transparent; "onclick="toggleMode()"><span name="mode" class="material-symbols-outlined" style="vertical-align:middle;color: var(--col2);">light_mode</span></button>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="toggleMobile()">&#9776;</a>
  
  

    
  </div>

<script>
  if (localStorage.lighthouse_mode){
      if (localStorage.lighthouse_mode == "dark") {
        $('[name="mode"]').text(`dark_mode`);
        $('head').append('<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/dark.css">');
      } else {
        $('[name="mode"]').text(`light_mode`);
        $('head').append('<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/lighthouse.css">');
      }

    } else {
      localStorage.lighthouse_mode= "light";

    }
  $( "#hamburger" ).on( "click", function() {
   $("#mobilenav").toggle("fast");
} );
$( ".infowindow" ).on( "click", function() {
   $(".infodd").toggle("fast");
} );

function toggleMobile() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

function toggleMode(){
  event.preventDefault();
  var $darkCss = $("link[href='/stylesheets/dark.css']");
  if (localStorage.lighthouse_mode){
    // Toggle.
    if (localStorage.lighthouse_mode == "dark") {
      $darkCss.remove();
      $('[name="mode"]').text(`light_mode`);
      localStorage.lighthouse_mode="light";
      $("html").addClass("light-mode");
      $("html").removeClass("dark-mode");
      $("head").append(`<link rel="stylesheet" href="/stylesheets/<%- cookies.skin || "lighthouse" %>.css">`);  
    } else {
      localStorage.lighthouse_mode="dark";
      $('[name="mode"]').text(`dark_mode`);
      $('head').append('<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/dark.css">');
      $("html").removeClass("light-mode");
      $("html").addClass("dark-mode");
      
    }
  } else {
    // Define and then darken.
    localStorage.lighthouse_mode="dark";
      $('[name="mode"]').text(`dark_mode`);
      $('head').append('<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/dark.css">');

  }
}
</script>