<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
        <section id="authorsystem">
        <h1>The System Behind the Site</h1>
        <p>The website "Lighthouse" is made by <strong>The Lighthouse System</strong>, with the name coined after us. Lighthouse is not a social website and is not intended for roleplay, socialising, or other public activity. No features for users to share systems, chat, or communicate in any way will be implemented.</p>
    </section>
    <section id="features">
        <h2>Features of Lighthouse</h2>
        <dl>
            <dt>Private and Public Journalling
            <dd>Every alter can create a <strong>private journal</strong> for themselves, and the account itself has a <strong>Communal Journal</strong>. This is to encourage more communication between parts and keep things as closely documented as a system needs. Alters can lock their journals with passwords to make sure other alters can't access their journals.</dd>
            <dt>Encryption
            <dd><strong>Everything you write on this website is secured.</strong> The data you enter to this website is <strong>not</strong> stored in plain text. It is encrypted. Likewise, the data is then decrypted and encrypted solely on your end so that should someone get in the middle, they get a jumbled mess of code that can't be deciphered instead of your actual data.</dd>
            <dt>Copyright</dt>
            <dd><strong>Everything you write on this website is yours, forever.</strong> Lighthouse will not use your journal(s) to promote the website, or display to anyone else. Lighthouse relinquishes copyright of any material written by users on the website.</dd>
        </dl>
    </section>
    <section id="bugs">
        <h2>Found a bug while using Lighthouse?</h2>
        <p>Please email us or send and ask to our tumblr. Include as much info as you can, like what you were doing that caused the bug so we can recreate it and hopefully figure out what happened.</p>
        <ul>
            <li><a title="Email us" href="mailto:dee_deyes@writelighthouse.com">Email us</a></li>
            <li><a title="Send an ask on Tumblr" href="https://lighthouse-app.tumblr.com/" target="_blank">Send an ask on Tumblr</a></li>
            <li><a title="Join our Discord" href="https://discord.gg/RQcfvtmKWn" target="_blank">Join our Discord.</a> Upcoming changes, bug fixes, and more are posted here.</li>
        </ul>
        <iframe src="https://discord.com/widget?id=1112774099861770292&theme=dark&username=<%= (cookies.username || 'Guest') %>" width="auto" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </section>
    <section id="privacy">
        <h2>Privacy</h2>
        <p>Lighthouse is a system-focused website, therefore it is a place to store data on yourself as a whole and as a system. Having said that, there are certain pieces of information that we collect and store.</p>
        <p>Lighthouse will always collect, regardless of activity:</p>
        <ul>
            <li>A username to identify your account.</li>
            <li>An email to identify your account, plus to email you should you forget your password or delete your account.</li>
            <li>Your timezone to correctly date your posts (still working on this)</li>
        </ul>
        <p>Lighthouse can collect this data, if you elect for it to do so. Participating in these activities on Lighthouse will opt you into this data being collected and stored:</p>
        <ul>
            <li>Any post you feed into the website, including post titles.</li>
            <li>Alter and system information, such as a system alias (system name), amount of alters, alter profile information.</li>
            <li>Mood data, if applicable.</li>
            <li>Information on inner worlds.</li>
            <li>Rules for your system(s).</li>
        </ul>
        <p>Lighthouse is never going to ask for demographic information to advertise to you. This is a tool our system used that is being adapted for others to use, too.</p>
        <p>When you delete your account, <em>everything</em> gets deleted. We do not store your data after you delete your account for privacy's sake and to save space on our end.</p>
    </section>
    <hr>
    <section id="credits">
        <h2>Image Credits</h2>
        <ul>
            <li>Light Mode Background Photo by <a href="https://unsplash.com/@yannick_apollon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Yannick Apollon</a> on <a href="https://unsplash.com/photos/dpViyqTgzI4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
            <li>Dark Mode Background Photo by <a href="https://unsplash.com/@mmckee30?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mitch Mckee</a> on <a href="https://unsplash.com/photos/Qhe9I6PhhZs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
            <li>Coral Photo by <a href="https://unsplash.com/@quinguyen?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">QUI NGUYEN</a> on <a href="https://unsplash.com/photos/0G01UI1MQhg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Sand Photo by <a href="https://unsplash.com/@jimgade?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">jim gade</a> on <a href="https://unsplash.com/photos/eYWNaMffWHI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Tropical Fish Photo by <a href="https://unsplash.com/@corneschi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Corneschi</a> on <a href="https://unsplash.com/photos/GsAJ4-Tsz_c?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Seashell Photo by <a href="https://unsplash.com/ko/@mandyhenry1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mandy Henry</a> on <a href="https://unsplash.com/photos/2Jjx-btuiMY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Slate Photo by <a href="https://unsplash.com/@lesliedelmoral?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Leslie del Moral</a> on <a href="https://unsplash.com/photos/p7IZgRe0n-U?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Water Photo by <a href="https://unsplash.com/@inghelza?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ingrid Salmanca</a> on <a href="https://unsplash.com/photos/Y6OKbIFe4Z0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Night Beach Photo by <a href="https://unsplash.com/@recalmedia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Recal Media</a> on <a href="https://unsplash.com/photos/ueBIGLmiI5A?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Day Beach Photo by <a href="https://unsplash.com/@lance_asper?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lance Asper</a> on <a href="https://unsplash.com/photos/mNDVSSmMt0Y?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Coral Reef Photo by <a href="https://unsplash.com/ko/@marc0521?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">LI FEI</a> on <a href="https://unsplash.com/photos/l4QTY7XOIcg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Big Wave Photo by <a href="https://unsplash.com/@jeremybishop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jeremy Bishop</a> on <a href="https://unsplash.com/wallpapers/nature/wave?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Seashells Photo by <a href="https://unsplash.com/@glbutler17?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Garrett Butler</a> on <a href="https://unsplash.com/photos/YpjwZYNAB4w?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Bioluminescence Photo by <a href="https://unsplash.com/fr/@kevinwolf?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kevin Wolf</a> on <a href="https://unsplash.com/photos/ItQBfuJGrOk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Glitter Photo by <a href="https://unsplash.com/es/@sharonmccutcheon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Grey</a> on <a href="https://unsplash.com/photos/9Rc00n8ie-Y?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Sand Photo by <a href="https://unsplash.com/@danielabeleva?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniela Beleva</a> on <a href="https://unsplash.com/photos/Lo-SBGQjll4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Ice Cream Photo by <a href="https://unsplash.com/@courtneymcook?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Courtney Cook</a> on <a href="https://unsplash.com/images/food/ice-cream?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Raspberry Sorbet Photo by <a href="https://unsplash.com/@artic_studios?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Öberg</a> on <a href="https://unsplash.com/images/food/ice-cream?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li><a target="_blank" href="https://icons8.com/icon/3MTBFydz5wMr/lighthouse">Lighthouse</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
            <li>Snow Photo by <a href="https://unsplash.com/@chanphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chandler Cruttenden</a> on <a href="https://unsplash.com/photos/w8hWTFpGtpY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Winter Background Photo by <a href="https://unsplash.com/@stewi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">S. Widua</a> on <a href="https://unsplash.com/photos/8GgEgObcIuw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Autumn Leaves Photo by <a href="https://unsplash.com/@anthonyrossbach?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anthony Lee</a> on <a href="https://unsplash.com/photos/zZ-G8iQOwa8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>
                Autumn Background Photo by <a href="https://unsplash.com/@markusspiske?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Markus Spiske</a> on <a href="https://unsplash.com/photos/Bg-OeRJxfAQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
            </li>
            <li>Spring Flowers Photo by <a href="https://unsplash.com/@yoksel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Yoksel 🌿 Zok</a> on <a href="https://unsplash.com/photos/3E5lTL4bglE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Spring Background Photo by <a href="https://unsplash.com/@babybluecat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">J Lee</a> on <a href="https://unsplash.com/photos/0lL6Sox7n1Y?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Summer Background Photo by <a href="https://unsplash.com/@sadswim?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">ian dooley</a> on <a href="https://unsplash.com/photos/DuBNA1QMpPA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Summer Photo by <a href="https://unsplash.com/@notevilbird?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Aleksandr Eremin</a> on <a href="https://unsplash.com/photos/QfHmrIUN9G0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Gorillaz art by Jamie Hewlett</li>
        </ul>
        
    </section>
</div>
<%- include ("../partials/footer.ejs") %>
    </body>
</html>
