<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <%- include ("../partials/header.ejs") %>

    <style>
        .radio-toolbar input[type="radio"] {
         display: none;
}

.radio-toolbar label {
  display: block;
  cursor: pointer;
  width: 6em;
  height: 6em;
  text-align:center;
}

.radio-toolbar input[type="radio"]:checked ~ * { 
    background:#9CD9D3 !important;
}
.pixelart{
    image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#blogpopup{
    width: 40vw;
    text-align: center;
}
form>span{
    display: block;
    margin-bottom:calc(1em);
}
table{
    width: 70%;
}
td{
    padding: calc(.5em);
    border-bottom: 1px solid rgba(0,0,0,.2)
}
    </style>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>
                  <!-- The Modal -->
                  <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content" id="modalContent">
                      <span class="material-symbols-outlined close">
                        cancel
                        </span>
                        <h2>Lock Journal</h2>
                        <p>This journal will only open if you put in the password. If you forget, you can reset it.</p>
                      <form method="post">
                        <label for="password">Journal password: </label>
                        <input type="password" id="password" name="journalPassword" required>
                        <span id="passText"></span>
                        <input type="submit" name="lockJournal" value="Create Password">
                      </form>
                    </div>
                  </div>
    <script>
        $("#password").on('keyup', function () {
            document.getElementById("passText").style.color="gray";
            $("#passText").html(`<small>You typed: ${$("#password").val()}</small>`);
            });
    </script>
    <div id="wrapper">
        <% if (locals.messages.flash) { %>
            <div class="splash"><%- locals.messages.flash %></div>
        <% } %>
        <section>
            <h2><%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s page</h2>
            <dt>
            <% if (session.chosenAlter.mood) { %>
                Feeling: <%- moods[session.chosenAlter.mood].name %> <%- moods[session.chosenAlter.mood].emoji %>
            <% } %>
            </dt>
        <dd><small><% if (session.chosenAlter.mood) { %>
            Reason: <%- session.chosenAlter.reason %>
        <% } %><a href="/mood/<%=session.chosenAlter.alt_id %>">Set mood</a><% if (session.chosenAlter.mood) { %>
            | <a href="/del-mood/<%=session.chosenAlter.alt_id %>">Clear mood</a>
        <% } %></small></dd>
            <form method="post" autocomplete="off">
              <input type="text" name="altname" value="<%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>" style="text-align:center;"> is a part of <select name="alterSys" style="text-align:center;"><% for (i in session.sysList){ %>
                <% if (session.chosenAlter.sys_alias == session.sysList[i].sys_alias){ %>
                  <option value="<%= session.sysList[i].sys_id %>" selected><%= Buffer.from(session.sysList[i].sys_alias, 'base64').toString() %></option>
                <% } else { %>
                  <option value="<%= session.sysList[i].sys_id %>"><%= Buffer.from(session.sysList[i].sys_alias, 'base64').toString() %></option>
                <% } %>
                <% } %>
              </select>
              <input type="submit" name="modify" value="Update">
            </form>
            <% if (session.altJournal.length > 0){ %>
                <div class="indented">
                <p>This journal is <strong><%= session.altJournal[0].is_private == true ? 'password protected' : 'unlocked' %>.</strong>
                <% if (session.altJournal[0].is_private == true){ %> 
                    <form method="post"><input type="submit" name="unlock" value="Unlock"></form>
                <% } else { %>
                    <button id="tbutton">Lock</button>
                <% } %></p>
                </div>

                <!-- <p><%= session.altJournal[0].is_private %></p> -->
				<p>Click on the journal to enter.</p>
                <div id="blogpopup" style="display:none;">
                    <form method="post" autocomplete="off">
                        <p>Please put in the journal password.</p>
                        <input type="password" name="logPass" autocomplete="off">
                        <input type="submit" name="log" value="Open Journal">
                    </form>
                    <button id="forgotpass" style="cursor:pointer">I forgot...</button>
                    <form id="rj" name="resetjournal" style="display:none;" method="post">
                        <p>No problem. Because journal passwords are treated like the one on your account, we can't show you what the original password was. You'll need to put a new one in.</p>
                        <label for="passnew">New Journal password</label>
                        <input type="password" id="passnew" name="jPassNew" autocomplete="new-password"><br><span id="passtextNew"></span><br>
                        <input type="submit" value="Change <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Password" name="changePass">
                    </form>
                </div>
                <% if (session.altJournal[0].is_private == true){ %>
                    <img class= "pixelart" src="/img/<%- (session.altJournal[0].skin).replace(/'/gi, '') %>.png" width="400px" id="login" onclick="blogPopup()" alt="<%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal.">
                <% } else { %>
                    <a href="/journal/<%- (session.altJournal[0].alt_id) %>"><img class="pixelart" src="/img/<%- (session.altJournal[0].skin).replace(/'/gi, '') %>.png" width="400px" id="login" alt="<%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal."></a>
                <% } %>
                <section>
            <form method="post" name="changejournal">
                <label for="skin">Change Journal skin:</label>
                <select name="skin" id="skin">
                 <% for (i in journalArr) { %>
                    <% if (parseInt(session.altJournal[0].skin) == parseInt(journalArr[i].val)){ %>
                        <option value="<%- journalArr[i].val %>"><%- journalArr[i].c %></option>
                    <% } else { %>
                        <option value="<%- journalArr[i].val %>"><%- journalArr[i].c %></option>
                    <% } %>
                    <% } %>
                    <% if (session.is_legacy){ %>
                        <option value="19">Old Journal</option>
                    <% } %>
                    
                </select> 
                <input type="submit" name="newjournalSkin" value="Update Journal Skin">
                </form>

        </section>
            <% } else { %>
                <h2>Uh oh!</h2> <p><%= Buffer.from(session.chosenAlter.name, 'base64').toString() %> has no journal. Make one down below. (You can change this journal's skin later)</p>
                <form method="post" autocomplete="off">
                    <input type="hidden" name="sys_id" value="<%- alterInfo.sys_id %>">
                    <div class="parent" style="height: auto;margin:auto;">
                    <% for (let i=0; i < 11; i++){ %>
                        <div class="radio-toolbar child">
                            <input type="radio" id="<%= i+1 %>" name="journ" value="<%= i+1 %>">
                            <label for="<%= i+1 %>"><img src="/img/<%= i+1 %>.png" class="tinyimg"  style="display:block; margin:0 auto;"><%= ['Red', 'Orange', 'Yellow', 'Green', 'Teal', 'Blue', 'Purple', 'Pink', 'White', 'Black', 'Rainbow', 'Ocean', 'Space'][i] %></label>
                        </div>
                    <% } %>
                    <% if (session.is_legacy){ %>
                        <div class="radio-toolbar child">
                        <input type="radio" id="19" name="journ" value="19">
                            <label for="19"><img src="/img/19.png" class="tinyimg"  style="display:block; margin:0 auto;" alt="A gift skin for being here since the beginning. A leather book with gold trimming and blue and green gemstones.">Old Journal</label></div>
                    <% } %>
                    </div>
                    <p>Password Protect this journal?</p>
                        <input type="radio" id= "true" name="priv" value="true">
                        <label for="priv">Yes</label><br/>

                        <input type="radio" id= "false" name="priv" value="false" checked>
                        <label for="priv">No</label>
                    <div id="more" style="display: none;">
                        <label for="pass">Journal password</label>
                        <input type="password" id="pass" name="jPass" autocomplete="off"> <span id="passtext"></span>
                    </div>
                    <br/>
                    <!-- <hr/> -->
                    <input type="submit" value="Create <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal" name="create">
                    <p id="passhint" style="display: none;"><strong>Keep your password somewhere safe.</strong></p>
                </form>
            <% } %>
        </section>
        <hr>
        <section>
            <!-- For adding alter info. -->
            <h2>About <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %> <% if (session.chosenAlter.pronouns){ %><% if (distill(session.chosenAlter.pronouns)){ %> (<%- Buffer.from(session.chosenAlter.pronouns, "base64").toString() %>) <% } %> <% } %></h2>
            <% if (distill(session.chosenAlter.img_url)) { %>
            <img src="<%= Buffer.from(session.chosenAlter.img_url, 'base64').toString() %>" class="medimg" style="float:left; margin-right:calc(1em);">
            <% } else { %> 
                <img src="https://i.ibb.co/vkwmWjF/avatar-default.jpg" class="medimg" style="float:left; margin-right:calc(1em);" alt="<%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s icon">
            <% } %>
            <table>
                <tbody>
                  
                    <% if (session.chosenAlter.agetext) { %>
                         <% if (distill(session.chosenAlter.agetext)) { %>
                            <tr><td>Perceived Age:</td>
                            <td><%= Buffer.from(session.chosenAlter.agetext, 'base64').toString() %></td></tr>
                        <% } %>
                        <% } %>
                   
                  
                  
                    <% if (session.chosenAlter.birthday) { %>
                    <% if (distill(session.chosenAlter.birthday)) { %>
                                                <tr><td>Perceived Birthday:</td>
                                                <td><%= Buffer.from(session.chosenAlter.birthday, 'base64').toString() %></td></tr>
                                            <% } %>
                        <% } %>
                    
                  
                  
                    <% if (session.chosenAlter.gender) { %>
                    <% if (distill(session.chosenAlter.gender)) { %>
                                                <tr><td>Gender:</td>
                                                <td name="gender"><%= Buffer.from(session.chosenAlter.gender, 'base64').toString() %></td></tr>
                                            <% } %>
                        <% } %>
                    
                  
                  
                    <% if (session.chosenAlter.sexuality) { %>
                    <% if (distill(session.chosenAlter.sexuality)) { %>
                                                <tr><td>Sexuality:</td>
                                                <td name="sexuality"><%= Buffer.from(session.chosenAlter.sexuality, 'base64').toString() %></td></tr>
                                            <% } %>
                        <% } %>
                    
                  
                  
                    <% if (session.chosenAlter.first_noted) { %>
                        <% if (distill(session.chosenAlter.first_noted)) { %>
                                                    <tr><td>First Noted:</td>
                                                    <td><%= Buffer.from(session.chosenAlter.first_noted, 'base64').toString() %></td></tr>
                                                <% } %>
                        <% } %>
                    
                  
                  
                    
                    <% if (session.chosenAlter.type) { %>
                    <% if (distill(session.chosenAlter.type)) { %>
                       <tr> <td>Type:</td>
                        <td><%= session.chosenAlter.type %></td></tr>
                    <% } %>
                        <% } %>
                    
                  
                  
                    
                    <% if (session.chosenAlter.source) { %>
                    <% if (distill(session.chosenAlter.source)) { %>
                        <tr><td>Source:</td>
                        <td><%= Buffer.from(session.chosenAlter.source, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>
                    
                  
                  
                    
                    <% if (session.chosenAlter.triggers_pos) { %>
                    <% if (distill(session.chosenAlter.triggers_pos)) { %>
                        <tr><td>Positive Triggers:</td>
                        <td><%= Buffer.from(session.chosenAlter.triggers_pos, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                  
                    <% if (session.chosenAlter.triggers_neg) { %>
                    <% if (distill(session.chosenAlter.triggers_neg)) { %>
                        <tr><td>Negative Triggers:</td>
                        <td><%= Buffer.from(session.chosenAlter.triggers_neg, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                  
                    <% if (session.chosenAlter.likes) { %>
                    <% if (distill(session.chosenAlter.likes)) { %>
                        <tr><td>Likes:</td>
                        <td><%= Buffer.from(session.chosenAlter.likes, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                  
                    <% if (session.chosenAlter.dislikes) { %>
                    <% if (distill(session.chosenAlter.dislikes)) { %>
                        <tr><td>Dislikes:</td>
                        <td><%= Buffer.from(session.chosenAlter.dislikes, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                  
                    
                    <% if (session.chosenAlter.job) { %>
                    <% if (distill(session.chosenAlter.job)) { %>
                        <tr><td>Internal Job:</td>
                        <td><%= Buffer.from(session.chosenAlter.job, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                  
                    
                    <% if (session.chosenAlter.safe_place) { %>
                    <% if (distill(session.chosenAlter.safe_place)) { %>
                        <tr><td>Feels safest when:</td>
                        <td><%= Buffer.from(session.chosenAlter.safe_place, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                  
                    
                    <% if (session.chosenAlter.wants) { %>
                    <% if (distill(session.chosenAlter.wants)) { %>
                        <tr><td>Wants/Wishes:</td>
                        <td><%= Buffer.from(session.chosenAlter.wants, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                  
                    <% if (session.chosenAlter.acc) { %>
                    <% if (distill(session.chosenAlter.acc)) { %>
                        <tr><td>Needs accommodated for:</td>
                        <td><%= Buffer.from(session.chosenAlter.acc, 'base64').toString() %></td></tr>
                    <% } %>
                        <% } %>

                  
                                      
                    <% if (session.chosenAlter.notes) { %>
                    <% if (distill(session.chosenAlter.notes)) { %>
                        <tr><td>Other Notes:</td>
                        <td><%- (Buffer.from(session.chosenAlter.notes, 'base64').toString()).replace(/\n/g, "<br>") %></td></tr>
                    <% } %>
                        <% } %>
                    <% if (session.chosenAlter.fronttells) { %>
                    <% if (distill(session.chosenAlter.fronttells)) { %>
                        <tr><td>Might be fronting if:</td>
                        <td><%- (Buffer.from(session.chosenAlter.fronttells, 'base64').toString()).replace(/\n/g, "<br>") %></td></tr>
                    <% } %>
                        <% } %>
                    <% if (session.chosenAlter.relationships) { %>
                    <% if (distill(session.chosenAlter.relationships)) { %>
                        <tr><td>Relationships with other <%- pluralize(cookies.alter_term) %>:</td>
                        <td><%- (Buffer.from(session.chosenAlter.relationships, 'base64').toString()).replace(/\n/g, "<br>") %></td></tr>
                    <% } %>
                        <% } %>

                  
                </tbody>
                </table>
                <a title="Edit <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>" href="/edit-alter/<%= session.chosenAlter.alt_id %>" class="editbtn">Edit <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %></a>
        </section>
        <hr>
        <section>
            <h2><span class="material-symbols-outlined">dangerous</span> Danger Zone <span class="material-symbols-outlined">dangerous</span></h2>
            <form method="post">

            </form>
            <!-- Delete the alter. -->
            <a style="margin-top: calc(1em)" href="/alter/<%= session.chosenAlter.alt_id %>/delete" class="deletebtn">Delete <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %></a>
        </section>
    </div>

    <%- include ("../partials/footer.ejs") %>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("tbutton");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
          // modal.style.display = "block";
          $("#myModal").fadeIn("fast");
        }
        span.onclick = function() {
          // modal.style.display = "none";
          $("#myModal").fadeOut("fast");
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            // modal.style.display = "none";
            $("#myModal").fadeOut("fast");
          }
        }
        </script>
    <script>


        $("#pass").on('keyup', function () {
            document.getElementById("passtext").style.color="gray";
            $("#passtext").html(`<small>You typed: ${$("#pass").val()}</small>`);
            });

        $("#forgotpass").click(function(){
            // Toggle password tooltip and the reset.
            $( "#rj" ).show("fast");
            $("#forgotpass").hide("fast");
        });

        $("#passnew").on('keyup', function () {
            document.getElementById("passtextNew").style.color="gray";
            $("#passtextNew").html(`<small>You typed: ${$("#passnew").val()}</small>`);
            });
        
        try {
        document.getElementById("true").addEventListener("click", function(){
            $( "#more" ).show("fast");
            $( "#passhint" ).show("fast");
        });
        document.getElementById("false").addEventListener("click", function(){
            $( "#more" ).hide("fast");
            $( "#passhint" ).hide("fast");
        });            
        } catch (e){
            // console.log(e);
        }

        function showPass(){
            document.getElementById("passtext").style.color="gray";
            return document.getElementById("passtext").innerHTML=`Your password is: ${document.getElementById('pass').value}`;
        }
        function blogPopup(){
            document.getElementById("blogpopup").style.display="block";
        }
        $("#moodButton").click(function(){
            $( "#moodForm" ).show("fast");
        });




    </script>
</body>

</html>
