<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
        .radio-toolbar input[type="radio"] {
         display: none;
}

.radio-toolbar label {
  display: block;
  cursor: pointer;
  width: 6em;
  height: 6em;
  text-align:center;
}

.radio-toolbar input[type="radio"]:checked ~ * { 
    background:rgba(0,0,0,.5);
    color: var(--nav-txt)
}


#blogpopup{
    width: 40vw;
    text-align: center;
}
form>span{
    display: block;
    margin-bottom:calc(1em);
}
table{
    width: 70%;
}
td{
    padding: calc(.5em);
    border-bottom: 1px solid rgba(0,0,0,.2)
}
.alt{
    color: <%= alterInfo.colour == "#000000" ? "inherit" : alterInfo.colour %>!important;
}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>

    <% var skinGroups=["Default", "Misc. User Skins", "Galaxii Kingdom", "Constellation Collection", "Chaotic Troop", "Pax Vesania Collective", "Pride", "DivineChrysalism", "GOOPYGAMER9000", "Era vulgaris", "Unlockables"] %>
    <%- include ("../partials/nav.ejs") %>
                  <!-- The Modal -->
                  <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content" id="modalContent">
                      <span class="material-symbols-outlined close">
                        cancel
                        </span>
                        <h2>Lock Journal</h2>
                        <p>This journal will only open if you put in the password. If you forget, you can reset it.</p>
                      <form method="post">
                        <label for="password">Journal password: </label>
                        <input type="password" id="password" name="journalPassword" required>
                        <span id="passText"></span>
                        <input type="submit" name="lockJournal" value="Create Password">
                      </form>
                    </div>
                  </div>
    <script>
        $("#password").on('keyup', function () {
            document.getElementById("passText").style.color="gray";
            $("#passText").html(`<small>You typed: ${$("#password").val()}</small>`);
            });
    </script>
    <div id="wrapper">
        <% if (alterInfo.parentsys) { 
            var parentSys;
            for (i in session.sysList){
                if (session.sysList[i].sys_id==alterInfo.parentsys){
                    parentSys= Buffer.from(session.sysList[i].sys_alias, "base64").toString()
                }
            }
         } %>
        <section><ul class="breadcrumb">
                <li><a href="/system" title=""><%= capitalise(cookies.system_term) %></a></li>
                <% if (alterInfo.parentsys){ %><li><a href="/system/<%= alterInfo.subsys_id %>" title="Back to <%= parentSys %>"><%= parentSys %></a></li><% } %>
                <li><a href="/system/<%= alterInfo.sys_id %>" title="Back to <%= capitalise(Buffer.from(alterInfo.sys_alias, "base64").toString()) %>"><%= capitalise(Buffer.from(alterInfo.sys_alias, "base64").toString()) %></a></li>
                <li><%= Buffer.from(alterInfo.name, 'base64').toString() %></li>
              </ul> 
            <!-- <h2 class="alt"><%= Buffer.from(alterInfo.name, 'base64').toString() %>'s page</h2> -->
            <h2 class="alt"><%= Buffer.from(alterInfo.name, 'base64').toString() %> <% if (alterInfo.nickname){ %><% if (distill(alterInfo.nickname)){ %> - Aka <%- Buffer.from(alterInfo.nickname, "base64").toString() %> <% } %> <% } %> <% if (alterInfo.pronouns){ %><% if (distill(alterInfo.pronouns)){ %> (<%- Buffer.from(alterInfo.pronouns, "base64").toString() %>) <% } %> <% } %></h2>


            <dt>
            <% if (alterInfo.mood) { %>
                Feeling: <%- moods[alterInfo.mood].name %> <%- moods[alterInfo.mood].emoji %>
            <% } %>
            </dt>
        <dd><small><% if (alterInfo.mood) { %>
            Reason: <%- alterInfo.reason %>
        <% } %><a href="/mood/<%=alterInfo.alt_id %>"><%= strings.actions.setMood %></a><% if (alterInfo.mood) { %>
            | <a href="/del-mood/<%=alterInfo.alt_id %>"><%= strings.actions.clearMood %></a>
        <% } %></small></dd>
            
            <form method="post" autocomplete="off">
              <input type="text" name="altname" value="<%= Buffer.from(alterInfo.name, 'base64').toString() %>" style="text-align:center;"> is a part of <select name="alterSys" style="text-align:center;"><% for (i in session.sysList){ %>
                <% if (alterInfo.sys_alias == session.sysList[i].sys_alias){ %>
                  <option value="<%= session.sysList[i].sys_id %>" selected><%= Buffer.from(session.sysList[i].sys_alias, 'base64').toString() %></option>
                <% } else { %>
                  <option value="<%= session.sysList[i].sys_id %>"><%= Buffer.from(session.sysList[i].sys_alias, 'base64').toString() %></option>
                <% } %>
                <% } %>
              </select>
              <input type="submit" name="modify" value="Update">
            </form>
            <section class="clearfix">
                <div style="display:block;">
                   <a title="Edit <%= Buffer.from(alterInfo.name, 'base64').toString() %>" href="/edit-alter/<%= alterInfo.alt_id %>" class="editbtn" style="width: fit-content;margin-bottom: calc(.5em);display:inline-block;">Edit <%= Buffer.from(alterInfo.name, 'base64').toString() %></a>

                <a title="Inbox" href="/inbox/<%= alterInfo.alt_id %>" class="editbtn" style="width: fit-content;margin-bottom: calc(.5em);display:inline-block;">Inbox</a> 
                </div>
                


                <% if (alterInfo.img_blob){ %> <img class="medimg" style="float:left; margin-right:calc(1em);" src="data:<%= alterInfo.blob_mimetype %>;base64,<%= Buffer.from(alterInfo.img_blob).toString("base64") %>"> <% } else if (distill(alterInfo.img_url)) { %>
                <img src="<%= Buffer.from(alterInfo.img_url, 'base64').toString() %>" class="medimg" style="float:left; margin-right:calc(1em);">
                <% } else { %> 
                    <img src="https://i.ibb.co/vkwmWjF/avatar-default.jpg" class="medimg" style="float:left; margin-right:calc(1em);" alt="<%= Buffer.from(alterInfo.name, 'base64').toString() %>'s icon">
                <% } %>
                <table id="alterInfo">
                    <tbody>
                      
                        <% if (alterInfo.agetext) { %>
                             <% if (distill(alterInfo.agetext)) { %>
                                <tr><td>Perceived Age:</td>
                                <td><%- Buffer.from(alterInfo.agetext, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                            <% } %>
                            <% } %>
                       
                            <% if (alterInfo.species) { %>
                             <% if (distill(alterInfo.species)) { %>
                                <tr><td>Perceived Species:</td>
                                <td><%- decode(alterInfo.species).replace(/\n/g, "<br>") %></td></tr>
                            <% } %>
                            <% } %>
                      
                      
                        <% if (alterInfo.appearance) { %>
                             <% if (distill(alterInfo.appearance)) { %>
                                <tr><td>Internal Appearance:</td>
                                <td><%- Buffer.from(alterInfo.appearance, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                            <% } %>
                            <% } %>
                       
                      
                      
                        <% if (alterInfo.birthday) { %>
                        <% if (distill(alterInfo.birthday)) { %>
                                                    <tr><td>Perceived Birthday:</td>
                                                    <td><%- Buffer.from(alterInfo.birthday, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                                                <% } %>
                            <% } %>
                        
                      
                      
                        <% if (alterInfo.gender) { %>
                        <% if (distill(alterInfo.gender)) { %>
                                                    <tr><td>Gender:</td>
                                                    <td name="gender"><%- Buffer.from(alterInfo.gender, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                                                <% } %>
                            <% } %>
                        
                      
                      
                        <% if (alterInfo.sexuality) { %>
                        <% if (distill(alterInfo.sexuality)) { %>
                                                    <tr><td>Romantic/Sexual Orientation:</td>
                                                    <td name="sexuality"><%- Buffer.from(alterInfo.sexuality, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                                                <% } %>
                            <% } %>
                        
                      
                      
                        <% if (alterInfo.first_noted) { %>
                            <% if (distill(alterInfo.first_noted)) { %>
                                                        <tr><td>First Noted:</td>
                                                        <td><%- Buffer.from(alterInfo.first_noted, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                                                    <% } %>
                            <% } %>
                        
                      
                      
                        
                        <% if (alterInfo.type) { %>
                        <% if (distill(alterInfo.type)) { %>
                           <tr> <td>Type:</td>
                            <td><%- (alterInfo.type).replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
                        
                      
                      
                        
                        <% if (alterInfo.source) { %>
                        <% if (distill(alterInfo.source)) { %>
                            <tr><td>Source:</td>
                            <td><%- Buffer.from(alterInfo.source, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
                        
                      
                      
                        
                        <% if (alterInfo.triggers_pos) { %>
                        <% if (distill(alterInfo.triggers_pos)) { %>
                            <tr><td>Positive Triggers:</td>
                            <td><%- Buffer.from(alterInfo.triggers_pos, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                      
                      
                        <% if (alterInfo.triggers_neg) { %>
                        <% if (distill(alterInfo.triggers_neg)) { %>
                            <tr><td>Negative Triggers:</td>
                            <td><%- Buffer.from(alterInfo.triggers_neg, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                      
                      
                        <% if (alterInfo.likes) { %>
                        <% if (distill(alterInfo.likes)) { %>
                            <tr><td>Likes:</td>
                            <td><%- Buffer.from(alterInfo.likes, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                      
                      
                        <% if (alterInfo.dislikes) { %>
                        <% if (distill(alterInfo.dislikes)) { %>
                            <tr><td>Dislikes:</td>
                            <td><%-  Buffer.from(alterInfo.dislikes, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                        <% if (alterInfo.hobbies) { %>
                        <% if (distill(alterInfo.hobbies)) { %>
                            <tr><td>Hobbies:</td>
                            <td><%- Buffer.from(alterInfo.hobbies, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                        <% if (alterInfo.job) { %>
                        <% if (distill(alterInfo.job)) { %>
                            <tr><td>Internal Job:</td>
                            <td><%-  Buffer.from(alterInfo.job, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                        <% if (alterInfo.safe_place) { %>
                        <% if (distill(alterInfo.safe_place)) { %>
                            <tr><td>Feels safest when:</td>
                            <td><%- Buffer.from(alterInfo.safe_place, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                      
                      
                        
                        <% if (alterInfo.wants) { %>
                        <% if (distill(alterInfo.wants)) { %>
                            <tr><td>Wants/Wishes:</td>
                            <td><%- Buffer.from(alterInfo.wants, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                      
                      
                        <% if (alterInfo.acc) { %>
                        <% if (distill(alterInfo.acc)) { %>
                            <tr><td>Needs accommodated for:</td>
                            <td><%- Buffer.from(alterInfo.acc, 'base64').toString().replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
    
                      
                                          
                        <% if (alterInfo.notes) { %>
                        <% if (distill(alterInfo.notes)) { %>
                            <tr><td>Other Notes:</td>
                            <td><%- (Buffer.from(alterInfo.notes, 'base64').toString()).replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
                        <% if (alterInfo.fronttells) { %>
                        <% if (distill(alterInfo.fronttells)) { %>
                            <tr><td>Might be fronting if:</td>
                            <td><%- (Buffer.from(alterInfo.fronttells, 'base64').toString()).replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
                        <% if (alterInfo.relationships) { %>
                        <% if (distill(alterInfo.relationships)) { %>
                            <tr><td>Relationships with other <%- pluralize(cookies.alter_term) %>:</td>
                            <td><%- (Buffer.from(alterInfo.relationships, 'base64').toString()).replace(/\n/g, "<br>") %></td></tr>
                        <% } %>
                            <% } %>
                        
                        <% if (alterInfo.pk_id) { %>
                        <% if (distill(alterInfo.pk_id)) { %>
                            <tr><td>Pluralkit ID:</td>
                            <td><%- decrypt(alterInfo.pk_id) %></td></tr>
                        <% } %>
                            <% } %>

                        <% if (alterInfo.sp_id) { %>
                        <% if (distill(alterInfo.sp_id)) { %>
                            <tr><td>Simply Plural ID:</td>
                            <td><%- decrypt(alterInfo.sp_id) %></td></tr>
                        <% } %>
                            <% } %>
                      <% 
                      if ([alterInfo.subsys_id1, alterInfo.subsys_id2, alterInfo.subsys_id3, alterInfo.subsys_id4, alterInfo.subsys_id5].some(value => value !== null)) { 
                        const theirList = [alterInfo.subsys_id1, alterInfo.subsys_id2, alterInfo.subsys_id3, alterInfo.subsys_id4, alterInfo.subsys_id5].filter(c => c !== null);
                        const joinedEntries = session.sysList.filter(sessionEntry => theirList.includes(sessionEntry.sys_id));
                        const groupNames = joinedEntries.map(entry => `<a href="/system/${entry.sys_id}">${decode(entry.sys_alias)}</a>`).join(", ");
                        %>
                        <tr><td>Also present in:</td>
                            <td><%- groupNames %></td></tr>
                      <%  } %>

                    </tbody>
                    </table>
                    
            </section>
            <hr>
            <% if (altJournal){ %>
                <div class="indented">
                <p>This journal is <strong><%= altJournal.is_private == true ? 'password protected' : 'unlocked' %>.</strong>
                <% if (altJournal.is_private == true){ %> 
                    <form method="post"><input type="submit" name="unlock" value="Unlock"></form>
                <% } else { %>
                    <button id="tbutton">Lock</button>
                <% } %></p>
                </div>

				<p>Click on the journal to enter.</p>
                <div id="blogpopup" style="display:none;">
                    <form method="post" autocomplete="off">
                        <p>Please put in the journal password.</p>
                        <input type="password" name="logPass" autocomplete="off">
                        <input type="submit" name="log" value="Open Journal">
                    </form>
                    <button id="forgotpass" style="cursor:pointer">I forgot...</button>
                    <form id="rj" name="resetjournal" style="display:none;" method="post">
                        <p>No problem. Because journal passwords are treated like the one on your account, we can't show you what the original password was. You'll need to put a new one in.</p>
                        <label for="passnew">New Journal password</label>
                        <input type="password" id="passnew" name="jPassNew" autocomplete="new-password"><br><span id="passtextNew"></span><br>
                        <input type="submit" value="Change <%= Buffer.from(alterInfo.name, 'base64').toString() %>'s Password" name="changePass">
                    </form>
                </div>
                <% if (altJournal.is_private == true){ %>
                    <img class= "pixelart" src="/img/<%- skin.val %>.<%- skin.ext %>" width="400px" id="login" onclick="blogPopup()" alt="<%= Buffer.from(alterInfo.name, 'base64').toString() %>'s Journal.">
                <% } else { %>
                    <a href="/journal/<%- (altJournal.alt_id) %>"><img class="pixelart" src="/img/<%- skin.val %>.<%- skin.ext %>" width="400px" id="login" alt="<%= Buffer.from(alterInfo.name, 'base64').toString() %>'s Journal."></a>
                <% } %>
                <section><span id="saveSplash"></span>
            <form method="post" name="changejournal" id="changejournal">
                <label for="skin">Change Journal skin:</label>
                <select name="skin" id="skin">
                <% for (i in journalArr) { %>
                    <optgroup label="<%= skinGroups[i] %>">
                      <% for (n in journalArr[i]){ %> 
                        <% if (journalArr[i][n].val== '19' && session.is_legacy == false) { continue; } else { %>
                            <option value="<%= journalArr[i][n].val %>,<%= journalArr[i][n].ext %>" <% if (parseInt((altJournal.skin).replace("'", "")) == parseInt(journalArr[i][n].val)){ %>selected<% } %>><%= journalArr[i][n].c %></option>
                        <% } %>
                        
                      <% } %>  
                    </optgroup>
                <% } %>
                </select> 
                <input type="submit" name="newjournalSkin" id="newSkin" value="Update Journal Skin">
                
                </form>

        </section>
            <% } else { %>
                <h2>Uh oh!</h2> <p><%= Buffer.from(alterInfo.name, 'base64').toString() %> has no journal. Make one down below. (You can change this journal's skin later)</p>
                <form method="post" autocomplete="off">
                    <h3 style="border-bottom: 1px solid var(--col1)">Starter Journal Skins</h3>
                    <input type="hidden" name="sys_id" value="<%- alterInfo.sys_id %>">
                    <div class="parent" style="height: auto;margin:auto;">
                    <% for (let i=0; i < 11; i++){ %>
                        <div class="radio-toolbar child">
                            <input type="radio" id="<%= i+1 %>" name="journ" value="<%= i+1 %>" <% if (i== 0){%>checked<% }%>>
                            <label for="<%= i+1 %>"><img src="/img/<%= i+1 %>.png" class="tinyimg"  style="display:block; margin:0 auto;"><%= ['Red', 'Orange', 'Yellow', 'Green', 'Teal', 'Blue', 'Purple', 'Pink', 'White', 'Black', 'Rainbow', 'Ocean', 'Space'][i] %></label>
                        </div>
                    <% } %>
                    <% if (session.is_legacy){ %>
                        <div class="radio-toolbar child">
                        <input type="radio" id="19" name="journ" value="19">
                            <label for="19"><img src="/img/19.png" class="tinyimg"  style="display:block; margin:0 auto;" alt="A gift skin for being here since the beginning. A leather book with gold trimming and blue and green gemstones.">Old Journal</label></div>
                    <% } %>
                    </div>
                    <p>Password Protect this journal?</p>
                        <input type="radio" id= "true" name="priv" value="true">
                        <label for="priv">Yes</label><br/>

                        <input type="radio" id= "false" name="priv" value="false" checked>
                        <label for="priv">No</label>
                    <div id="more" style="display: none;">
                        <label for="pass">Journal password</label>
                        <input type="password" id="pass" name="jPass" autocomplete="off"> <span id="passtext"></span>
                    </div>
                    <br/>
                    <!-- <hr/> -->
                    <input type="submit" value="Create <%= Buffer.from(alterInfo.name, 'base64').toString() %>'s Journal" name="create">
                    <p id="passhint" style="display: none;"><strong>Keep your password somewhere safe.</strong></p>
                </form>
            <% } %>
        </section>

        <hr>
        <section>
            <h2><span class="material-symbols-outlined">dangerous</span> Danger Zone <span class="material-symbols-outlined">dangerous</span></h2>
            <form method="post">

            </form>
            <!-- Delete the alter. -->
            <p><%= capitalise(cookies.alter_term) %> deletion is permanent, but archiving is reversible.</p>
            <a style="margin-top: calc(1em)" href="/alter/<%= alterInfo.alt_id %>/delete" class="deletebtn">Delete <%= Buffer.from(alterInfo.name, 'base64').toString() %></a>
            <a class="deletebtn" style="width:auto;" href="/archive-alter/<%= alterInfo.alt_id %>">Archive <%= Buffer.from(alterInfo.name, 'base64').toString() %></a>
        </section>
    </div>

    <%- include ("../partials/footer.ejs") %>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("tbutton");
        var span = document.getElementsByClassName("close")[0];
        try{
            btn.onclick = function() {
          // modal.style.display = "block";
          $("#myModal").fadeIn("fast");
        }
        span.onclick = function() {
          // modal.style.display = "none";
          $("#myModal").fadeOut("fast");
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            // modal.style.display = "none";
            $("#myModal").fadeOut("fast");
          }
        }
        } catch (e){
            
        }
        
        </script>
    <script>


        $("#pass").on('keyup', function () {
            document.getElementById("passtext").style.color="gray";
            $("#passtext").html(`<small>You typed: ${$("#pass").val()}</small>`);
            });

        $("#forgotpass").click(function(){
            // Toggle password tooltip and the reset.
            $( "#rj" ).show("fast");
            $("#forgotpass").hide("fast");
        });

        $("#passnew").on('keyup', function () {
            document.getElementById("passtextNew").style.color="gray";
            $("#passtextNew").html(`<small>You typed: ${$("#passnew").val()}</small>`);
            });
        
        try {
        document.getElementById("true").addEventListener("click", function(){
            $( "#more" ).show("fast");
            $( "#passhint" ).show("fast");
        });
        document.getElementById("false").addEventListener("click", function(){
            $( "#more" ).hide("fast");
            $( "#passhint" ).hide("fast");
        });            
        } catch (e){
        }

        function showPass(){
            document.getElementById("passtext").style.color="gray";
            return document.getElementById("passtext").innerHTML=`Your password is: ${document.getElementById('pass').value}`;
        }
        function blogPopup(){
            document.getElementById("blogpopup").style.display="block";
        }
        $("#moodButton").click(function(){
            $( "#moodForm" ).show("fast");
        });

        $("#skin").change(function(){
            $("#login").fadeTo(100, 0,function(){
            $("#login").load(function () { //avoiding blinking, wait until loaded
                $("#login").fadeTo(100, 1);
            });
            
            var newSkin= ($("#skin").val()).split(",")
            $("#login").attr("src",`/img/${newSkin[0]}.${newSkin[1]}`);
            $("#saveSplash").text("You currently have unsaved changes.");
            $("#newSkin").addClass("glow");
        });

        });


document.addEventListener("DOMContentLoaded", () => {
    const tableElement = document.getElementById("alterInfo");
    if (tableElement && tableElement.children.length > 0) {  // Check for existence and children

        const tableRows = Array.from(tableElement.children[0].children);
        tableRows.forEach((row)=>{
            let rowCells = Array.from(row.children);
            rowCells.forEach((cell)=>{
                const existingText = cell.innerHTML; // Get existing text content
                const parsedHtml = marked.parse(existingText).replace("“", "").replace("”", "");  // Parse with Marked
                cell.innerHTML = parsedHtml;  // Update with parsed HTML
            })
        })
    }
    
});


        


    </script>
</body>

</html>
