<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>

    <style>
        .radio-toolbar input[type="radio"] {
         display: none;
}

.radio-toolbar label {
  display: block;
  cursor: pointer;
  width: 6em;
  height: 6em;
  text-align:center;
}

.radio-toolbar input[type="radio"]:checked ~ * { 
    background:#9CD9D3 !important;
}
.pixelart{
    image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#blogpopup{
    width: 40vw;
    text-align: center;
}
    </style>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <% if (typeof splash == 'string'){  %>
            <p class="splash"><%- splash %></p>
        <% } %>
        <section>
            <h2><%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s page</h2>
            <!-- <p><%= Buffer.from(session.chosenAlter.name, 'base64').toString() %> is a part of <%= Buffer.from(session.chosenAlter.sys_alias, 'base64').toString() %>.</p> -->
            <form method="post" autocomplete="off">
              <input type="text" name="altname" value="<%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>" style="text-align:center;"> is a part of <select name="alterSys" style="text-align:center;"><% for (i in session.sysList){ %>
                <% if (session.chosenAlter.sys_alias == session.sysList[i].sys_alias){ %>
                  <option value="<%= session.sysList[i].sys_id %>" selected><%= Buffer.from(session.sysList[i].sys_alias, 'base64').toString() %></option>
                <% } else { %>
                  <option value="<%= session.sysList[i].sys_id %>"><%= Buffer.from(session.sysList[i].sys_alias, 'base64').toString() %></option>
                <% } %>
                <% } %>
              </select>
              <input type="submit" name="modify" value="Update">
            </form>
            <% if (session.altJournal.length > 0){ %>
                <!-- <p><%= session.altJournal[0].is_private %></p> -->
				<p>Click on the journal to enter.</p>
                <div id="blogpopup" style="display:none;">
                    <form method="post" autocomplete="off">
                        <p>Please put in the journal password.</p>
                        <input type="password" name="logPass" autocomplete="off">
                        <input type="submit" name="log" value="Open Journal">
                    </form>
                    <button id="forgotpass" style="cursor:pointer">I forgot...</button>
                    <form id="rj" name="resetjournal" style="display:none;" method="post">
                        <p>No problem. Because journal passwords are treated like the one on your account, we can't show you what the original password was. You'll need to put a new one in.</p>
                        <label for="passnew">New Journal password</label>
                        <input type="password" id="passnew" name="jPassNew" autocomplete="new-password"><br><span id="passtextNew"></span><br>
                        <input type="submit" value="Change <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Password" name="changePass">
                    </form>
                </div>
                <% if (session.altJournal[0].is_private == true){ %>
                    <img class= "pixelart" src="/img/<%- (session.altJournal[0].skin).replace(/'/gi, '') %>.png" width="400px" id="login" onclick="blogPopup()" alt="<%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal.">
                <% } else { %>
                    <a href="/journal/<%- (session.altJournal[0].alt_id) %>"><img class="pixelart" src="/img/<%- (session.altJournal[0].skin).replace(/'/gi, '') %>.png" width="400px" id="login" alt="<%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal."></a>
                <% } %>
            <% } else { %>
                <h2>Uh oh!</h2> <p><%= Buffer.from(session.chosenAlter.name, 'base64').toString() %> has no journal. Make one down below.</p>
                <form method="post" autocomplete="off">
                    <div class="parent" style="height: auto;margin:auto;">
                    <% for (let i=0; i < 13; i++){ %>
                        <div class="radio-toolbar child">
                            <input type="radio" id="<%= i+1 %>" name="journ" value="<%= i+1 %>">
                            <label for="<%= i+1 %>"><img src="/img/<%= i+1 %>.png" class="tinyimg"  style="display:block; margin:0 auto;"><%= ['Red', 'Orange', 'Yellow', 'Green', 'Teal', 'Blue', 'Purple', 'Pink', 'White', 'Black', 'Rainbow', 'Ocean', 'Space'][i] %></label>
                        </div>
                    <% } %>
                    </div>
                    <p>Password Protect this journal?</p>
                        <input type="radio" id= "true" name="priv" value="true">
                        <label for="priv">Yes</label><br/>

                        <input type="radio" id= "false" name="priv" value="false" checked>
                        <label for="priv">No</label>
                    <div id="more" style="display: none;">
                        <label for="pass">Journal password</label>
                        <input type="password" id="pass" name="jPass" autocomplete="off"> <span id="passtext"></span>
                    </div>
                    <br/>
                    <!-- <hr/> -->
                    <input type="submit" value="Create <%= Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal" name="create">
                    <p id="passhint" style="display: none;"><strong>Keep your password somewhere safe.</strong> If you forget, it won't be able to be reset until a future date.</p>
                </form>
            <% } %>
            <a style="margin-top: calc(1em)" href="/alter/<%= session.chosenAlter.alt_id %>/delete" class="deletebtn">Delete</a>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        
        $("#pass").on('keyup', function () {
            document.getElementById("passtext").style.color="gray";
            $("#passtext").html(`<small>You typed: ${$("#pass").val()}</small>`);
            });

        $("#forgotpass").click(function(){
            // Toggle password tooltip and the reset.
            $( "#rj" ).show("fast");
            $("#forgotpass").hide("fast");
        });

        $("#passnew").on('keyup', function () {
            document.getElementById("passtextNew").style.color="gray";
            $("#passtextNew").html(`<small>You typed: ${$("#passnew").val()}</small>`);
            });

        document.getElementById("true").addEventListener("click", function(){
            $( "#more" ).show("fast");
            $( "#passhint" ).show("fast");
        });
        document.getElementById("false").addEventListener("click", function(){
            $( "#more" ).hide("fast");
            $( "#passhint" ).hide("fast");
        });
        function showPass(){
            document.getElementById("passtext").style.color="gray";
            return document.getElementById("passtext").innerHTML=`Your password is: ${document.getElementById('pass').value}`;
        }
        function blogPopup(){
            document.getElementById("blogpopup").style.display="block";
        }

    </script>
</body>

</html>
