<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h2>Changelog</h2>
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
                <% for (i in changes){ %>
                    <% 
                    // DD, MM, YYYY
                        var dateArr=(((changes[i].date).toLocaleString()).split(",")[0]).split("/");
                        var dateMonth= parseInt(dateArr[1]);
                    %>
                    <hr>
                    <section>
                        <h3><%- changes[i].title %></h3>
                        <p><small>Posted on <%= parseInt(dateArr[0]) %> <%= monthNames[dateMonth-1] %>, <%= dateArr[2] %></small></p>
                        <% var cbodyArr= (changes[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                        for (j in cbodyArr){
                            if (cbodyArr[j] !== ''){ %>
                                <p><%- cbodyArr[j] %></p>
                            <% }
                         }%>
                    </section>
                <% } %>

    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
