<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <% if (typeof splash == 'string'){  %>
                    <p class="splash"><%- splash %></p>
                <% } %>
                <img src="/img/svg/ptsd-support.svg" class="vtinyimg"  style="display:inline-block; margin:0 auto; float: left; margin-right:1em;"><h2>Crisis Helplines</h2>
                <p><a href="http://togetherweare-strong.tumblr.com/helpline" target="_blank">Global List of Helplines for a variety of countries can be found here.</a></p>
                <ul>
                    <li>Trevor Project</li>
                    <ul><li>“START” to 678678</li></ul>
                    <ul><li>Call 1-866-488-7386</li></ul>
                    <li>Trans Lifeline</li>
                    <ul><li>Call 1-877-565-8860</li></ul>
                    <li>LGBT National Help Center</li>
                    <ul><li>Youth Talkline (1-800-246-7743)—Available Monday-Friday
from 4 PM to midnight and Saturdays from 12 PM to 5 PM</li></ul>
                    <li>Fenway Health</li>
                    <ul><li>Peer Listening Line (ages 25 and under) (1-800-399-
PEER)—Available Monday-Saturday from 5:30 PM to 10 PM</li></ul>
                    <li>Suicide Prevention Hotline</li>
                    <ul><li>Call 1-800-273-TALK (or dial 988 in the US)</li></ul>
                    <ul><li>“HOME” to 741741 (Available to US and Ontario residents)</li></ul>
                </ul>
            </section>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
