<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <% if (locals.messages.flash) { %>
            <div class="splash"><%- locals.messages.flash %></div>
        <% } %>
        <section>
            <h2>Delete <%=  Buffer.from(alt.sys_alias, 'base64').toString() %>?</h2>
            <h3 class="warningtext">Warning: This cannot be undone!</h3>
            <p>Any <%= pluralize(cookies.alter_term) %> under this <%= session.system_term %> will be deleted, as well as their journals. Are you absolutely sure this is what you want to do? Press the "delete" button if so.</p>
            <form method="post">
                <input class="warningbutton" type="submit" value="Delete <%=  Buffer.from(alt.sys_alias, 'base64').toString() %> forever" name="delete">
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
