<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <section>
            <% if(sysid){ %>
                <input type="hidden" value="<%= sysid %>">
            <% } %>
            <h2>Delete <%- session.jPost.title %>?</h2>
            <h3 class="warningtext">Warning: This cannot be undone!</h3>
            <p>This post cannot be recovered. Are you absolutely sure this is what you want to do? Press the "delete" button if so.</p>
            <form method="post">
                <input class="warningbutton" type="submit" value="Delete" name="delete">
            </form>
            <hr/>
            <h3>Your post:</h3>
                <blockquote><%- session.jPost.body %></blockquote>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <%- include ("../partials/quill.ejs") %>
</body>

</html>
