<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <!-- <link rel="stylesheet" href="/stylesheets/<%- session.font %>.css?v=1.0.7"> -->
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <% if (locals.messages.flash) { %>
            <div class="splash"><%- locals.messages.flash %></div>
        <% } %>
        <section>
            <h2>Delete <%=  Buffer.from(alt.sys_alias, 'base64').toString() %>?</h2>
            <h3 class="warningtext">Warning: This cannot be undone!</h3>
            <p>Are you absolutely sure this is what you want to do? The following will be deleted <strong>permanently</strong>:
            <ul>
                <li>All <%= pluralize(cookies.alter_term) %> associated with this <%= cookies.system_term %></li>
                <li>All journals and journal entries created by <%= pluralize(cookies.alter_term) %> associated with this <%= cookies.system_term %></li>
                <li>Any <%= pluralize(cookies.subsystem_term) %> attached to this <%= cookies.system_term %></li>
                <li>All forum threads and thread replies made by <%= pluralize(cookies.alter_term) %> associated with this <%= cookies.system_term %> or any of its <%= pluralize(cookies.subsystem_term) %></li>
            </ul></p>
            <a class="linkbutton" href="/system/<%= alt.sys_id %>">Go back</a>
            <form method="post">
                <input class="warningbutton" type="submit" value="Delete <%=  Buffer.from(alt.sys_alias, 'base64').toString() %> forever" name="delete">
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
