<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <section>
            <h2>Edit <%- cJourn.title %></h2>
            <div id="Wait"></div>
            <form method="post" id="editpost">
                <% if (cJourn.is_comm == false){ %> 
                    <input type="hidden" name="journalid" value="<%= journalID %>">
                    <input type="hidden" name="alt_id" value="<%= alt_id %>">
                    <label for="author">Change author to...</label>
                    <select name="author" id="author">
                        <option selected value="skip">Leave as is</option>
                    </select><br>
                <% } %>
                <% if (cJourn.is_comm == true){ %>
                    <input type="hidden" id="sysid" name="sysid" value="<%- cJourn.sysid %>">
                <% } %>
                <label for="jTitle">Post title</label><br/>
                <input 
                    type="text" 
                    name="jTitle" 
                    value="<%- cJourn.title %>"
                    ><br/>
                <label for="jDate">Post Date (dd/mm/yyyy, hh:mm)</label><br/>
                <!-- 2017-06-01T08:30 -->
                <input type="datetime-local" id="jDate" name="jDate" value="<%- (cJourn.date).getFullYear() %>-<%- pad((cJourn.date).getMonth()+1 , 2) %>-<%- pad((cJourn.date).getDate(), 2) %>T<%- pad((cJourn.date).getHours(), 2) %>:<%- pad((cJourn.date).getMinutes(), 2) %>"/><br>

                <!-- <span><%- (cJourn.date).getFullYear() %>-<%- pad((cJourn.date).getMonth()+1 , 2) %>-<%- pad((cJourn.date).getDate(), 2) %>T<%- pad((cJourn.date).getHours(), 2) %>:<%- pad((cJourn.date).getMinutes(), 2) %></span><br> -->

                <label for="feeling">Currently feeling... </label><br/>
                <input type="text" id="feeling" name="feeling" autocomplete="off" value="<%- cJourn.feeling %>"></br>
                <label for="jBody">Post Body</label><br/>
                <div id="editor"><%- cJourn.body %></div>
                <textarea name="jBody" autocomplete="off" cols="60" rows="15" id="hidden-text" ></textarea><br/>
                <input type="submit" value="Edit Post"> <input type="reset" value="Revert changes">
            </form>
        </section>
    </div>
    <%- include ("../partials/quill.ejs") %>
    <%- include ("../partials/footer.ejs") %>
    <script>
            async function fetchData(){
            let response = await fetch(`/system-data`, { 
            method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "journals"
                } 
            });
            let body = await response.text();
            if (!response.ok) return $("#editpost").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");
            let resInfo = JSON.parse(body);
            let chosenJournal= '<%- cJourn.id %>';
            for (i in resInfo.search){
                if (!resInfo.search[i].is_archived){
                    // Only un-archived alters may have posts moved to their journal.
                   $("#author").append(`<option value="${resInfo.search[i].j_id}">${resInfo.search[i].name}</option>`); 
                }
                
                
            }
        }

        $(document).ready(function(){
            fetchData();
        });

    </script>
</body>

</html>
