<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            #bdapanel{
                display: flex; 
                justify-content:space-around;
                vertical-align: bottom;
            }
            .panel{
                width:30%; 
                text-align:center;
                display: block;
                align-self: flex-end;
            }
            #clear{
                margin-top: 1em;
            }
            @media only screen and (max-width: 600px) {
                #bdapanel{
                    display: block;
            }
            .panel{
                width:100%; 
                text-align:center;
                display:block;
            }
            }
            .planSection{
                border-bottom: 1px solid var(--col1);
            }
            .planSection:last-child{
                border: 0;
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <h2>Edit Your Plan</h2>
                <form method="post">
                    <label for ="planname">Name This Plan: </label> <input type="text" id="planname" name="planname" value="<%- plan.name %>">
                    <div id="bdapanel">
                      <div class="panel">
                        <h3>Before</h3>
                        <label for="planbefore">What will you and the other <%- pluralize(session.alter_term) %> do to be ready for this event?</label><br>
                        <textarea name="planbefore" id="planbefore" rows="10" cols="15"><%- plan.before %></textarea>
                    </div>
                    <div class="panel">
                        <h3>During</h3>
                        <label for="planduring">How will the <%- session.system_term %> stay grounded during this event?</label><br>
                        <textarea name="planduring" id="planduring" rows="10" cols="15"><%- plan.during %></textarea>
                    </div>
                    <div class="panel">
                        <h3>After</h3>
                        <label for="planafter">What can everyone do to ensure each others' safety and solace?</label><br>
                        <textarea name="planafter" id="planafter" rows="10" cols="15"><%- plan.after %></textarea>
                    </div>  
                    </div>
                    <input type="submit">
                </form>
                
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
