
<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            .fail{
                background: red !important;
                color: white !important;
                transition: .5s;
            }
            label{
                margin-top:calc(1em);
            }
            label::after{
                content: "\a";
                white-space: pre;
            }
            textarea,input,select{
                display:block;
            }
        .column {
        float: left;
        width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        @media only screen and (max-width: 900px) {
            .column {
                float:none;
            }
}
#discordwarning{
    font-size: .75em;
    color: var(--col4);
}
#discordwarning::before{
    content: "🛑 ";
}
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <ul class="breadcrumb">
                <li><a href="/system" title=""><%= capitalise(cookies.system_term) %></a></li>
                <li><a href="/system/<%= chosenAlter.sys_id %>" title="Back to <%= Buffer.from(chosenAlter.sys_alias, "base64").toString() %>"><%= Buffer.from(chosenAlter.sys_alias, "base64").toString() %></a></li>
                <li><a href="/alter/<%= chosenAlter.alt_id %>"><%= Buffer.from(chosenAlter.name, 'base64').toString() %></a></li>
                <li>Edit</li>
              </ul> 
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Edit <%= Buffer.from(chosenAlter.name, 'base64').toString() %></h2>
            <p>The only required response is <%= Buffer.from(chosenAlter.name, 'base64').toString() %>'s name. Feel free to leave any other questions blank.</p>
            <form method="post" enctype="multipart/form-data">
                <div class="column">
                <label for="name" >Name</label>
                <input type="text" name="name" required <% if (chosenAlter.name){ %> value="<%= Buffer.from(chosenAlter.name, "base64").toString() %>" <% } %>>
                <label for="pronouns" >Pronouns</label>
                <input type="text" name="pronouns" <% if (chosenAlter.pronouns){ %> value="<%= Buffer.from(chosenAlter.pronouns, "base64").toString() %>" <% } %>>
                <label for="gender" >Gender</label>
                <input type="text" name="gender" <% if (chosenAlter.gender){ %> value="<%= Buffer.from(chosenAlter.gender, "base64").toString() %>" <% } %>>
                <label for="sexuality" >Romantic/Sexual Orientation</label>
                <input type="text" name="sexuality" <% if (chosenAlter.sexuality){ %> value="<%= Buffer.from(chosenAlter.sexuality, "base64").toString() %>" <% } %>>
                <label for="age" >Perceived Age</label>
                <input type="text" name="age" <% if (chosenAlter.agetext){ %> value="<%= Buffer.from(chosenAlter.agetext, "base64").toString() %>" <% } %>>
                <label for="type" id="typeinfo"><%= capitalise(cookies.alter_term) %> Type</label>
                <input type="text" name="type" value="<%= chosenAlter.type %>">
                <span style="display:block; margin-bottom:2em; margin-top:-1.5em;">Check out the <a href="/glossary" target="_blank">glossary</a> for definitions of different alter types.</span>
                <label for="source">If introject, source:</label>
                <input type="text" name="source" <% if (chosenAlter.source){ %> value="<%= Buffer.from(chosenAlter.source, "base64").toString() %>" <% } %>>
                
                <label for="postr">Positive Triggers</label>       
                <textarea name="postr"><% if (chosenAlter.triggers_pos !== null) { %><%- Buffer.from(chosenAlter.triggers_pos, 'base64').toString() %><% } %></textarea>    
                <label for="negtr">Negative Triggers</label>       
                <textarea name="negtr"><% if (chosenAlter.triggers_neg !== null) { %><%- Buffer.from(chosenAlter.triggers_neg, 'base64').toString() %><% } %></textarea>      
                <label for="likes">Things that <%= Buffer.from(chosenAlter.name, 'base64').toString() %> likes</label>       
                <textarea name="likes"><% if (chosenAlter.likes !== null) { %><%- Buffer.from(chosenAlter.likes, 'base64').toString() %><% } %></textarea>   
                <label for="dislikes">Things that <%= Buffer.from(chosenAlter.name, 'base64').toString() %> dislikes</label>       
                <textarea name="dislikes"><% if (chosenAlter.dislikes !== null) { %><%- Buffer.from(chosenAlter.dislikes, 'base64').toString() %><% } %></textarea>
                <label for="hobbies">Hobbies</label>
                <textarea name="hobbies"><% if (chosenAlter.hobbies !== null) { %><%- Buffer.from(chosenAlter.hobbies, 'base64').toString() %><% } %></textarea>
            </div>
                <div class="column">
                <label for="birthday">Perceived Birthday:</label>
                <input type="text" name="birthday" value="<% if (chosenAlter.birthday !== null) { %><%- Buffer.from(chosenAlter.birthday, 'base64').toString() %><% } %>">
                <label for="firstnoted">General date of when <%= Buffer.from(chosenAlter.name, 'base64').toString() %> might've come about:</label>
                <input type="text" name="firstnoted" value="<% if (chosenAlter.first_noted !== null) { %><%- Buffer.from(chosenAlter.first_noted, 'base64').toString() %><% } %>">
                <label for="internalJob">Job: (e.g.: Hosting, Self Care, etc)</label>
                <input type="text" name="internalJob" value="<% if (chosenAlter.job !== null) { %><%- Buffer.from(chosenAlter.job, 'base64').toString() %><% } %>">
                <label for="fronttells">What helps to figure out when <%= Buffer.from(chosenAlter.name, 'base64').toString() %> is fronting or conscious?</label>       
                <textarea name="fronttells"><% if (chosenAlter.fronttells !== null) { %><%- Buffer.from(chosenAlter.fronttells, 'base64').toString() %><% } %></textarea>
                <label for="safety"><%= Buffer.from(chosenAlter.name, 'base64').toString() %> feels safest when...</label>       
                <textarea name="safety"><% if (chosenAlter.safe_place !== null) { %><%- Buffer.from(chosenAlter.safe_place, 'base64').toString() %><% } %></textarea>
                <label for="acc"><%= Buffer.from(chosenAlter.name, 'base64').toString() %> would like accommodation from the <%= cookies.system_term %> for... (e.g.: Emotional regulation, memory loss)</label>       
                <textarea name="acc"><% if (chosenAlter.acc !== null) { %><%- Buffer.from(chosenAlter.acc, 'base64').toString() %><% } %></textarea>
                <label for="wish">A few things <%= Buffer.from(chosenAlter.name, 'base64').toString() %> wishes for (e.g. "to feel safer internally", "to communicate with other parts")</label>       
                <textarea name="wish"><% if (chosenAlter.wants !== null) { %><%- Buffer.from(chosenAlter.wants, 'base64').toString() %><% } %></textarea>
                <label for="relationships">What are <%= Buffer.from(chosenAlter.name, 'base64').toString() %>'s relationships to other <%- pluralize(cookies.alter_term) %>?</label>       
                <textarea name="relationships"><% if (chosenAlter.relationships !== null) { %><%- Buffer.from(chosenAlter.relationships, 'base64').toString() %><% } %></textarea>
                <label for="notes">Other notes</label>       
                <textarea name="notes"><% if (chosenAlter.notes !== null) { %><%- Buffer.from(chosenAlter.notes, 'base64').toString() %><% } %></textarea>
                <label for="appearance">Internal Appearance</label>       
                <textarea name="appearance"><% if (chosenAlter.appearance !== null) { %><%- Buffer.from(chosenAlter.appearance, 'base64').toString() %><% } %></textarea>
                
                <label for="imgupload">Upload Avatar (max 2MB)</label> <% if (chosenAlter.img_blob){ %><a id="fileClear" style="display:inline-block;">Remove Uploaded Avatar</a> <% } %>
                <input type="file" name="imgupload" id="imgupload" accept="image/*"> 
                <input type="hidden" id="clear" name="clear">
                <label for="imgurl">Image URL</label>
                <input type="text" name="imgurl" id="imgurl" value="<% if (chosenAlter.img_url !== null) { %><%- Buffer.from(chosenAlter.img_url, 'base64').toString() %><% } %>">
                <p id="discordwarning"></p>
            </div>
            <p>Uploaded images take priority over Image URLs.</p>
                <input type="submit" onclick="return verifyUp()" value="Update <%= Buffer.from(chosenAlter.name, 'base64').toString() %>" id="submit"><input type="reset" value="Start Over">
            </form>
        </section>
        <!-- Info about image hosts -->
        <hr/>
        <section>
            <h2>Image Hosts</h2>
            <p>Though there's been no date or official announcement posted yet, Discord plans to change how images are hosted on their servers, making the link require specific parameters and becoming unavailable after a couple hours. This will affect services like AO3, Pluralkit, Tupperbox, and Lighthouse. Below is a list of image hosting websites you can use in Discord's stead. <strong>If this <%= cookies.alter_term %> has their icon pointing to cdn.discordapp.com, then we advise you to upload their icon to one of the websites below:</strong></p>
            <ul>
                <li><a href="https://tumblr.com/">Tumblr (you can make a photo post, save it as a draft and grab the link that way)</a></li>
                <li><a href="https://imgbb.com/" target="_blank">ImgBB</a></li>
                <li><a href="https://filegarden.com/" target="_blank">FileGarden (requires an account)</a></li>
                <li><a href="https://imgur.com/" target="_blank">Imgur</a></li>
                <li><a href="https://www.mediafire.com/" target="_blank">Mediafire</a></li>
                <li><a href="https://www.google.com/drive/" target="_blank">Google Drive</a></li>
                <li><a href="https://neocities.org/" target="_blank">Neocities (free up to 1GB)</a></li>
                <li><a href="https://www.dropbox.com/" target="_blank">Dropbox (free up to 2GB)</a></li>
            </ul>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        if ($("#imgurl").val().match(/cdn.discordapp.com/g)){
            // They have a discord icon.
            $("#discordwarning").text("We have detected that this <%= cookies.alter_term %> has an icon pointing to Discord. Please read below for more information.")
        }
        var originalSubmit = $("#submit").clone();
        	var alterTypes=[{name: "Apparently Normal Part", desc: "doesn't seem to have many memories of trauma. (This doesn't mean they have none at all-- They just look non-traumatised on the surface)"},{name:"Emotional/Traumatised Part", desc: "has lots of memories of trauma, or is solely meant to hold traumatic memories. (Also sometimes called a \"Trauma Holder\")"},{name: "Younger Part", desc: "presents as younger than the body."},{name: "Older Part", desc: "presents as older than the body."},{name: "Introject (Factual)", desc: "presents as an existing person in the real world."},{name: "Introject (Fictional)", desc: "presents as a fictional character."},{name: "Non-Human", desc: "presents as a mythical being, religious figure, or other non-human species."}, {name: "Robot", desc: "presents as a robot or machine."},{name: "Animal", desc: "presents as an animal of some variety."},{name: "Fragment", desc: "may not be fully formed, or have a solid sense of identity."}, {name:"Introject (Mixed)", desc: "presents as a fictional character with real-world identities mixed in, a real-world person with fictional aspects, or in a different blend of reality and fiction."}]
            let alterTermCap= "<%= capitalise(cookies.alter_term) %>";
            let alterTermLow= "<%= cookies.alter_term %>";
            $(document).ready(function(){
            $("#typeSel").change(function(){
                var selectedAlt = $(this).children("option:selected").val();
                
                // $("#typeinfo").html(`${alterTermCap} Type<br><small>This ${alterTermLow} ${alterTypes[selectedAlt].desc}</small>`);
            });
        });
        $("#fileClear").click(function(){
            event.preventDefault();
            if ($("#clear").val()=="true"){
                $("#clear").val("false");
                $("#fileClear").text("Remove Uploaded Avatar");
            } else {
                $("#clear").val("true");
                $("#fileClear").text("Keep Uploaded Avatar");
            }
        });
        $("#imgupload").change(function(){
            verifyUp();
        });
        function verifyUp(){
       var maxBytes = 2097152; // 2MB
       var fld = document.getElementById("imgupload");
       if( fld.files && fld.files.length == 1 && fld.files[0].size > maxBytes )
       {
        //   alert("The file size must be no more than " + parseInt(MaxSizeInBytes/1024/1024) + "MB");
        $("#submit").val(`Keep uploaded files under ${parseInt(maxBytes/1024/1024)}MB`).addClass("fail").prop("disabled", true);
          return false;
       }
       $("#submit").replaceWith(originalSubmit).removeClass("fail").prop("disabled", false);
       return true;
    }
    </script>
    </body>
</html>
