<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <% if (typeof splash == 'string'){  %>
            <p class="splash"><%- splash %></p>
        <% } %>
        <section>
            <h2>Edit <%= capitalise(session.system_term) %>- <%=  Buffer.from(alt.sys_alias, 'base64').toString() %></h2>
            <p>You can rename the <%= session.system_term %>.</p>
            <form method="post">
                <label for="sysname"><%=  Buffer.from(alt.sys_alias, 'base64').toString() %> will now be known as....</label>
                <input type="text" autocomplete="off" name="sysname" placeholder="Put a cool name here">
                <input type="submit" name="submit" value="Make it so">
            </form>
            <div class="grid">
                <% for (i in alters){ %>
                    <a href="/alter/<%= alters[i].alt_id %>" class="alterbutton">Edit <br/><%- Buffer.from(alters[i].name, 'base64').toString() %></a>
                <% } %>
            </div>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
