<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <h2>Edit <%= iw.title %></h2>
                <form method="post">
                    <label for="keytitle">Name</label>
                    <input type="text" id="keytitle" name="keytitle" value="<%= iw.title %>"><br>
                    <label for="editor">Description</label><br>
                    <div id="editor"><%- iw.body %></div><br>
                    <textarea name="valuebody" id="hidden-text" style="display:none;"></textarea>
                    <input type="submit" name="edit" value="Edit Entry"><input type="reset" value="Start Over">
                </form>
            </section>
    </div>
    <%- include ("../partials/quill.ejs") %>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
