<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <section>
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Edit <%- session.jPost.title %></h2>
            <div id="Wait"></div>
            <form method="post">
                <% if (session.jPost.is_comm == false){ %> 
                    <label for="author">Change author to...</label>
                    <select name="author" id="author">
                        <option selected value="skip">Leave as is</option>
                    </select><br>
                <% } %>
                <label for="jTitle">Post title</label><br/>
                <input type="text" name="jTitle" value="<%- session.jPost.title %>"><br/>
                <label for="jBody">Post Body</label><br/>
                <textarea name="jBody" autocomplete="off" cols="60" rows="15" id="editor" required ><%- session.jPost.body %></textarea><br/>
                <input type="submit" value="Edit Post"> <input type="reset" value="Revert changes">
                <script>ClassicEditor
                    .create( document.querySelector( '#editor' ), {
                        fontColor: {
        colors: [
            {color: 'red',label: 'Red'},{color: '#ff691f',label: 'Orange'},{ color: '#ffc20a',label: 'Yellow'},{color: 'green',label: 'Green'},{color: 'teal',label: 'Teal'},{color: 'blue',label: 'Blue'},{color: 'purple',label: 'Purple'},{color: '#ff0f83',label: 'Pink'},{color:'#663c28', label: 'Brown'}, {color: 'lightgray', label: 'Silver'}, {color: 'gray', label: 'Stone'}, {color: 'black', label: 'Black'}, {color: 'white', label: "White"}
        ]}
                    } )
                    .then( editor => {
                      window.editor = editor;
                    } )
                    .catch( error => {
                      console.error( 'Oops, something went wrong!' );
                      console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                      console.warn( 'Build id: c0gefhhqxz8y-2hxzvv2htugp' );
                      console.error( error );
                    } );
                </script>
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
            async function fetchData(){
            let response = await fetch(`/system-data`, { 
            method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "journals"
                } 
            });
            let body = await response.text();
            let resInfo = JSON.parse(body);
            let chosenJournal= '<%- session.altJournal[0].j_id %>';
            for (i in resInfo.search){
                $("#author").append(`<option value="${resInfo.search[i].j_id}">${resInfo.search[i].name}</option>`);
                
            }
        }
        $(document).ready(function(){
            fetchData();
        });

    </script>
</body>

</html>
