
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            .fail{
                padding:0.5em;
                background: rgb(173, 0, 0) !important;
                color: white !important;
                /* transition: .5s; */
            }
            label{
                margin-top:calc(1em);
            }
            label::after{
                content: "\a";
                white-space: pre;
            }
            textarea,input,select{
                display:block;
            }
        .column {
        float: left;
        width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        #typeSplash{
    padding-right: 1em;
}
        @media only screen and (max-width: 900px) {
            .column {
                float:none;
                width: 100%;
            }
            #typeSplash{
                padding-right: 0;
                margin-bottom: .5em;
            }
}
#discordwarning{
    font-size: .75em;
    /* color: var(--col4); */
}

        </style>
        <link rel="stylesheet" href="/stylesheets/toggleswitch.css?v=<%- version %>">
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <div class="alert alert-info">Heads up: Discord has changed how images are stored. Please use the image upload tool, or use image hosts listed at the bottom of the page.</div>
            <ul class="breadcrumb">
                <li><a href="/system" title=""><%= capitalise(cookies.system_term) %></a></li>
                <li><a href="/system/<%= chosenAlter.sys_id %>" title="Back to <%= decode(chosenAlter.sys_alias, "base64") %>"><%= decode(chosenAlter.sys_alias, "base64") %></a></li>
                <li><a href="/alter/<%= chosenAlter.alt_id %>"><%= decode(chosenAlter.name) %></a></li>
                <li>Edit</li>
              </ul> 
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Edit <%= decode(chosenAlter.name) %></h2>
            <p>The only required response is <%= decode(chosenAlter.name) %>'s name. Feel free to leave any other questions blank. <strong><a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown</a> and HTML are both supported in this section.</strong> (You can even use a mix of both!)</p>
            <form method="post" enctype="multipart/form-data" autocomplete="off" id="editAlt">
                <div class="column">
                <label for="name" >Name</label>
                <input type="text" name="name" required <% if (chosenAlter.name){ %> value="<%= Buffer.from(chosenAlter.name, "base64").toString() %>" <% } %>>
                <label for="nickname" >Nickname</label>
                <input type="text" name="nickname" <% if (chosenAlter.nickname){ %> value="<%= Buffer.from(chosenAlter.nickname, "base64").toString() %>" <% } %>>
                <label for="pronouns" >Pronouns</label>
                <input type="text" name="pronouns" <% if (chosenAlter.pronouns){ %> value="<%= Buffer.from(chosenAlter.pronouns, "base64").toString() %>" <% } %>>

                <label for="pronouns" >Perceived Species</label>
                <input type="text" name="species" <% if (chosenAlter.species){ %> value="<%= decode(chosenAlter.species, "base64") %>" <% } %>>

                <label for="gender" >Gender</label>
                <input type="text" name="gender" <% if (chosenAlter.gender){ %> value="<%= Buffer.from(chosenAlter.gender, "base64").toString() %>" <% } %>>
                <label for="sexuality" >Romantic/Sexual Orientation</label>
                <input type="text" name="sexuality" <% if (chosenAlter.sexuality){ %> value="<%= Buffer.from(chosenAlter.sexuality, "base64").toString() %>" <% } %>>
                <label for="age" >Perceived Age</label>
                <input type="text" name="age" <% if (chosenAlter.agetext){ %> value="<%= Buffer.from(chosenAlter.agetext, "base64").toString() %>" <% } %>>
                <label for="type" id="typeinfo"><%= capitalise(cookies.alter_term) %> Type</label>
                <input type="text" id="type" name="type" value="<%= chosenAlter.type %>">
                <span style="display:block;" id="typeSplash"></span>
                <span style="display:block; margin-bottom:2em;">Check out the <a href="/glossary" target="_blank">glossary</a> for definitions of different alter types.</span>
                <label for="source">If introject, source:</label>
                <input type="text" name="source" <% if (chosenAlter.source){ %> value="<%= Buffer.from(chosenAlter.source, "base64").toString() %>" <% } %>>
                
                <label for="postr">Positive Triggers</label>       
                <textarea name="postr"><% if (chosenAlter.triggers_pos !== null) { %><%- Buffer.from(chosenAlter.triggers_pos, 'base64').toString() %><% } %></textarea>    
                <label for="negtr">Negative Triggers</label>       
                <textarea name="negtr"><% if (chosenAlter.triggers_neg !== null) { %><%- Buffer.from(chosenAlter.triggers_neg, 'base64').toString() %><% } %></textarea>      
                <label for="likes">Things that <%= decode(chosenAlter.name) %> likes</label>       
                <textarea name="likes"><% if (chosenAlter.likes !== null) { %><%- Buffer.from(chosenAlter.likes, 'base64').toString() %><% } %></textarea>   
                <label for="dislikes">Things that <%= decode(chosenAlter.name) %> dislikes</label>       
                <textarea name="dislikes"><% if (chosenAlter.dislikes !== null) { %><%- Buffer.from(chosenAlter.dislikes, 'base64').toString() %><% } %></textarea>
                <label for="hobbies">Hobbies</label>
                <textarea name="hobbies"><% if (chosenAlter.hobbies !== null) { %><%- Buffer.from(chosenAlter.hobbies, 'base64').toString() %><% } %></textarea>
            </div>
                <div class="column">
                <label for="birthday">Perceived Birthday:</label>
                <input type="text" name="birthday" value="<% if (chosenAlter.birthday !== null) { %><%- Buffer.from(chosenAlter.birthday, 'base64').toString() %><% } %>">
                <label for="firstnoted">General date of when <%= decode(chosenAlter.name) %> might've come about:</label>
                <input type="text" name="firstnoted" value="<% if (chosenAlter.first_noted !== null) { %><%- Buffer.from(chosenAlter.first_noted, 'base64').toString() %><% } %>">
                <label for="internalJob">Job: (e.g.: Hosting, Self Care, etc)</label>
                <input type="text" name="internalJob" value="<% if (chosenAlter.job !== null) { %><%- Buffer.from(chosenAlter.job, 'base64').toString() %><% } %>">
                <label for="fronttells">What helps to figure out when <%= decode(chosenAlter.name) %> is fronting or conscious?</label>       
                <textarea name="fronttells"><% if (chosenAlter.fronttells !== null) { %><%- Buffer.from(chosenAlter.fronttells, 'base64').toString() %><% } %></textarea>
                <label for="safety"><%= decode(chosenAlter.name) %> feels safest when...</label>       
                <textarea name="safety"><% if (chosenAlter.safe_place !== null) { %><%- Buffer.from(chosenAlter.safe_place, 'base64').toString() %><% } %></textarea>
                <label for="acc"><%= decode(chosenAlter.name) %> would like accommodation from the <%= cookies.system_term %> for... (e.g.: Emotional regulation, memory loss)</label>       
                <textarea name="acc"><% if (chosenAlter.acc !== null) { %><%- Buffer.from(chosenAlter.acc, 'base64').toString() %><% } %></textarea>
                <label for="wish">A few things <%= decode(chosenAlter.name) %> wishes for (e.g. "to feel safer internally", "to communicate with other <%= pluralize(cookies.alter_term) %>")</label>       
                <textarea name="wish"><% if (chosenAlter.wants !== null) { %><%- Buffer.from(chosenAlter.wants, 'base64').toString() %><% } %></textarea>
                <label for="relationships">What are <%= decode(chosenAlter.name) %>'s relationships to other <%- pluralize(cookies.alter_term) %>?</label>       
                <textarea name="relationships"><% if (chosenAlter.relationships !== null) { %><%- Buffer.from(chosenAlter.relationships, 'base64').toString() %><% } %></textarea>
                <label for="notes">Other notes</label>       
                <textarea name="notes"><% if (chosenAlter.notes !== null) { %><%- Buffer.from(chosenAlter.notes, 'base64').toString() %><% } %></textarea>

                <label for="appearance">Internal Appearance</label>       
                <textarea name="appearance"><% if (chosenAlter.appearance !== null) { %><%- decode(chosenAlter.appearance) %><% } %></textarea>

                <label class="toggle" for="colourenabled" onclick="toggleColoursChange()">
                    <input class="toggle-checkbox" type="checkbox" <% if (chosenAlter.colour_enabled){ %>checked <% } %> name="colourenabled" id="colourenabled">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">Custom Colour</span>
                  </label>
                <div id="toggleColour">
                    <label for="colour">Name Colour </label><input type="color" id="colour" name="colour" value="<%= chosenAlter.colour %>">
                </div>
                


                <label class="toggle" for="outlineenabled" onclick="toggleColoursChange()">
                    <input class="toggle-checkbox" type="checkbox" <% if (chosenAlter.outline_enabled){ %>checked <% } %> name="outlineenabled" id="outlineenabled">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">Custom Outline</span>
                  </label>
                  <div id="toggleOutline">
                    <label for="outline">Name Outline Colour </label><input type="color" id="outline" name="outline" value="<%= chosenAlter.outline %>">
                  </div>
                  

                
                <label for="imgupload">Upload Avatar (max 2MB)</label> <% if (chosenAlter.img_blob){ %><a id="fileClear" style="display:inline-block;">Remove Uploaded Avatar</a> <% } %>
                <input type="file" name="imgupload" id="imgupload" accept="image/*"> 
                <input type="hidden" id="clear" name="clear">
                
                <label for="imgurl">Image URL</label>
                <input type="text" name="imgurl" id="imgurl" value="<% if (chosenAlter.img_url !== null) { %><%- Buffer.from(chosenAlter.img_url, 'base64').toString() %><% } %>">
                <p id="discordwarning"></p>

                <label for="headeralt">Page Header (max 2MB)</label>
                <% if (chosenAlter.header_blob){ %><a id="headerClear" style="display:inline-block;">Remove Uploaded Header</a> <% } %>
                <input type="file" name="headeralt" id="headeralt" accept="image/*"> 
                <input type="hidden" id="headersclear" name="headersclear">

            </div>
            <p>Uploaded images take priority over Image URLs.</p>
            <div>
                <h2>Advanced Section</h2>
                <div class="column">
                    <label for="spid">Simply Plural ID (if applicable): </label>
                    <input type="text" name="spid" id="spid" value="<% if (chosenAlter.sp_id !== null) { %><%- decrypt(chosenAlter.sp_id) %><% } %>">
                    <label for="pkid">Pluralkit ID (if applicable): </label>
                    <input type="text" name="pkid" id="pkid" maxlength="7" value="<% if (chosenAlter.pk_id !== null) { %><%- decrypt(chosenAlter.pk_id) %><% } %>">
                </div>
                <div class="column">
                    <label class="dyn">Other [[SYSTEMS]] that <%- decode(chosenAlter.name) %> is in (up to 5):</label>
                    <% 
                        sysInfo.forEach((sys)=>{ 
                            if (sys.sys_id !== chosenAlter.sys_id){ %>
                        <div style="display: flex;">
                            
                            <input 
                            type="checkbox" 
                            name="othersys"
                            onclick="handleCheckboxChange()"
                            <% if ([chosenAlter.subsys_id1, chosenAlter.subsys_id2, chosenAlter.subsys_id3, chosenAlter.subsys_id4, chosenAlter.subsys_id5].includes(sys.sys_id)){ %>
                                checked 
                            <% } %>
                            value="<%- sys.sys_id %>"
                        > <%= decode(sys.sys_alias) %>
                            </div>
                    <%
                        } 
                    }) 
                    %>
                </div>
            </div>
                
                <input type="submit" value="Update <%= decode(chosenAlter.name) %>" id="submit"><input type="reset" value="Start Over">
            </form>
        </section>
        <!-- Info about image hosts -->
        <hr/>
        <section>
            <h2>Image Hosts</h2>
            <p>Discord has officially changed how images are hosted on their servers, making the link require specific parameters and becoming unavailable after 24 hours. This will affect services like AO3, Pluralkit, Tupperbox, and Lighthouse. Below is a list of image hosting websites you can use in Discord's stead. <strong>If this <%= cookies.alter_term %> has their icon pointing to <u>cdn.discordapp.com</u>, then we advise you to upload their icon to one of the websites below:</strong></p>
            <ul>
                <li><a href="https://tumblr.com/" title="Tumblr">Tumblr (you can make a photo post, save it as a draft and grab the link that way)</a></li>
                <li><a href="https://imgbb.com/" target="_blank" title="ImgBB">ImgBB</a></li>
                <li><a href="https://filegarden.com/" target="_blank" title="FileGarden">FileGarden (requires an account)</a></li>
                <li><a href="https://imgur.com/" target="_blank" title="Imgur">Imgur</a></li>
                <li><a href="https://www.mediafire.com/" target="_blank" title="MediaFire">Mediafire</a></li>
                <li><a href="https://www.google.com/drive/" target="_blank" title="Google Drive">Google Drive</a></li>
                <li><a href="https://www.dropbox.com/" target="_blank" title="Dropbox">Dropbox (free up to 2GB)</a></li>
                <li><a href="https://files.catbox.moe/" target="_blank" title="Catbox.moe">Catbox.moe</a></li>
            </ul>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>

        const checkboxes = document.querySelectorAll(".selectable"); // Select all system checkboxes
        const maxSelections = 5; // Define your maximum allowed selections

        function handleCheckboxChange(event) {
        const selectedCount = document.querySelectorAll(".selectable:checked").length;
        console.log(selectedCount)
        if (selectedCount > maxSelections) {
            event.target.checked = false; // Deselect the latest checkbox
            alert("You can only select a maximum of " + maxSelections + " options.");
        }
        }

        // Add event listener to all checkboxes
        checkboxes.forEach(checkbox => checkbox.addEventListener("change", handleCheckboxChange));


        function checkURL(){
           if ($("#imgurl").val().match(/cdn.discordapp.com/g)){
                // They have a discord icon.
                $("#discordwarning").addClass("fail").text("We have detected that this <%= cookies.alter_term %> has an icon pointing to Discord. Please read below for more information.")
            } else {
                $("#discordwarning").removeClass("fail").empty();
            }
        }

        checkURL();

        function toggleColoursInit(){
            // When loaded.
            console.log(document.getElementById('colourenabled').checked)
            if (document.getElementById('colourenabled').checked){
                $("#toggleColour").show();
            } else {
                $("#toggleColour").hide();
            }

            if (document.getElementById('outlineenabled').checked){
                $("#toggleOutline").show();
            } else {
                $("#toggleOutline").hide();
            }
        }

        toggleColoursInit();

        function toggleColoursChange(){
            // When the user clicks the toggles.
            if (document.getElementById('colourenabled').checked){
                $("#toggleColour").slideDown();
            } else {
                $("#toggleColour").slideUp();
            }

            if (document.getElementById('outlineenabled').checked){
                $("#toggleOutline").slideDown();
            } else {
                $("#toggleOutline").slideUp();
            }
        }


        $("#imgurl").bind("change paste keyup keydown", function(){ checkURL()});
        var originalSubmit = $("#submit").clone();
        var alterTypes=[
            {name: "Apparently Normal <%= capitalise(cookies.alter_term) %>", desc: "doesn't seem to have many memories of trauma. (This doesn't mean they have none at all-- They just look non-traumatised on the surface)", keywords:["apparently normal part"]},
            {name:"Memory Holder", desc: "has lots of memories or trauma, or is solely meant to hold traumatic memories.", keywords:["emotional part", "traumatised", "traumatized", "memory holder", "trauma holder"]},
            {name: "Younger <%= capitalise(cookies.alter_term) %>", desc: "presents as younger than the body.", keywords:["little", "child", "baby"]},
            {name: "Older <%= capitalise(cookies.alter_term) %>", desc: "presents as older than the body.", keywords: ["adult", "big"]},
            {name: "Introject", desc: "has adopted parts of their identity from the outside world in some way.", keywords:["introject", "introjected"]},
            {name: "Introject (Factual)", desc: "presents as an existing person in the real world.", keywords:["factual", "factive", "factual introject"]},
            {name: "Introject (Fictional)", desc: "presents as a fictional character.", keywords:["fictional", "fictive", "fictional introject"]},
            {name: "Non-Human", desc: "presents as a mythical being, religious figure, or other non-human species.", keywords: ["nonhuman", "non-human", "angel", "demon"]}, 
            {name: "Robot", desc: "presents as a robot or machine.", keywords: ["android", "robot", "machine"]},
            {name: "Animal", desc: "presents as an animal of some variety.", keywords: ["animal", "furry"]},
            {name: "Fragment", desc: "may not be fully formed, or have a solid sense of identity.", keywords:["fragment", "shard"]},
            {name:"Introject (Mixed)", desc: "presents as a fictional character with real-world identities mixed in, a real-world person with fictional aspects, or in a different blend of reality and fiction.", keywords:["mixed introject"]},
            {name:"Host", desc: "is fronting the most often.", keywords: ["host", "main <%= cookies.alter_term %>"]},
            {name:"Dormant", desc: "no longer fronts, or is no longer able to be contacted by the rest of the <%= cookies.system_term %>.", keywords: ["dormant", "asleep", "gone"]},
            {name:"Fused", desc: "fused with another <%= cookies.alter_term %> at some point.", keywords: ["fused"]},
            {name:"Protector", desc: "protects their <%= cookies.system_term %>, other <%= pluralize(cookies.alter_term) %>, or others in the outside world.", keywords: ["protector", "bodyguard", "guard", "defender"]},
            {name:"Persecutor", desc: "may be self-destructive or harmful to their <%= cookies.system_term %>.", keywords: ["persecutor"]},
            {name:"Caretaker", desc: "cares for other <%= pluralize(cookies.alter_term) %>, or others in the outside world who may be vulnerable.", keywords: ["caretaker"]},
            {name:"Gatekeeper", desc: "keeps vulnerable <%= pluralize(cookies.alter_term) %> from fronting at inappropriate times.", keywords: ["gatekeeper", "doorkeeper"]},
            {name:"Shell", desc: "may not have a solid sense of identity, but helps mask other <%= pluralize(cookies.alter_term) %> who are fronting.", keywords: ["shell"]}
        ]
        let alterTermCap= "<%= capitalise(cookies.alter_term) %>";
        let alterTermLow= "<%= cookies.alter_term %>";
        $("#type").bind("change paste keyup keydown", function(){
            // $("#typeinfo").html(`${alterTermCap} Type<br><small>This ${alterTermLow} ${alterTypes[selectedAlt].desc}</small>`); 
            if ($("#type").val()=="") return $("#typeSplash").empty();
            $("#typeSplash").empty();
            for (i in alterTypes){
                for (n in alterTypes[i].keywords){
                    let currKey= alterTypes[i].keywords[n];
                    if (($("#type").val()).toLowerCase().match(currKey)){
                        $("#typeSplash").append(`<em><strong>${alterTypes[i].name}</strong> - This <%= cookies.alter_term %> ${alterTypes[i].desc}</em> `);
                        break;
                    }
                }
            }
        });
        $("#fileClear").click(function(){
            event.preventDefault();
            if ($("#clear").val()=="true"){
                $("#clear").val("false");
                $("#fileClear").text("Remove Uploaded Avatar");
            } else {
                $("#clear").val("true");
                $("#fileClear").text("Keep Uploaded Avatar");
            }
        });
        $("#headerClear").click(function(){
            event.preventDefault();
            if ($("#headersclear").val()=="true"){
                $("#headersclear").val("false");
                $("#headerClear").text("Remove Uploaded Header");
            } else {
                $("#headersclear").val("true");
                $("#headerClear").text("Keep Uploaded Header");
            }
        });
        $("#imgupload").change(function(){
            verifyUp();
        });
        $("#submit").click(function(){
            verifyUp()
        })
    function verifyUp(){
       var maxBytes = 2097152; // 2MB
       var fld = document.getElementById("imgupload");
       var hdr = document.getElementById("header");
       if( fld.files && fld.files.length == 1 && fld.files[0].size > maxBytes ){
        $("#submit").val(`Keep uploaded files under ${parseInt(maxBytes/1024/1024)}MB`).addClass("fail").prop("disabled", true);
            event.preventDefault();
          return false;
       }
       if( hdr.files && hdr.files.length == 1 && hdr.files[0].size > maxBytes ){
        $("#submit").val(`Keep uploaded files under ${parseInt(maxBytes/1024/1024)}MB`).addClass("fail").prop("disabled", true);
            event.preventDefault();
          return false;
       }
       $("#submit").removeClass("fail").prop("disabled", false);
        return true;
    }
    $(document).bind("keyup keydown", function(e){
    if(e.ctrlKey && e.which == 83){
        saveSubmit();
    }
});

function saveSubmit(){
    // alert("Key pressed Ctrl+s");
    event.preventDefault();
    $("#submit").click();
}
    </script>
    </body>
</html>
