
<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            label{
                margin-top:calc(1em);
            }
            label::after{
                content: "\a";
                white-space: pre;
            }
            textarea,input,select{
                display:block;
            }
        .column {
        float: left;
        width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        @media only screen and (max-width: 900px) {
            .column {
                float:none;
            }
}
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Edit <%= Buffer.from(chosenAlter.name, 'base64').toString() %></h2>
            <p>The only required response is <%= Buffer.from(chosenAlter.name, 'base64').toString() %>'s name. Feel free to leave any other questions blank.</p>
            <form method="post">
                <div class="column">
                <label for="name" >Name</label>
                <input type="text" name="name" required <% if (chosenAlter.name){ %> value="<%= Buffer.from(chosenAlter.name, "base64").toString() %>" <% } %>>
                <label for="pronouns" >Pronouns</label>
                <input type="text" name="pronouns" <% if (chosenAlter.pronouns){ %> value="<%= Buffer.from(chosenAlter.pronouns, "base64").toString() %>" <% } %>>
                <label for="gender" >Gender</label>
                <input type="text" name="gender" <% if (chosenAlter.gender){ %> value="<%= Buffer.from(chosenAlter.gender, "base64").toString() %>" <% } %>>
                <label for="sexuality" >Sexuality</label>
                <input type="text" name="sexuality" <% if (chosenAlter.sexuality){ %> value="<%= Buffer.from(chosenAlter.sexuality, "base64").toString() %>" <% } %>>
                <label for="age" >Perceived Age</label>
                <input type="text" name="age" <% if (chosenAlter.agetext){ %> value="<%= Buffer.from(chosenAlter.agetext, "base64").toString() %>" <% } %>>
                <label for="type" id="typeinfo"><%= capitalise(cookies.alter_term) %> Type</label>
                <input type="text" name="type" value="<%= chosenAlter.type %>">
                <span style="display:block; margin-bottom:2em; margin-top:-1.5em;">Check out the <a href="/glossary" target="_blank">glossary</a> for definitions of different alter types.</span>
                <label for="source">If introject, source:</label>
                <input type="text" name="source" <% if (chosenAlter.source){ %> value="<%= Buffer.from(chosenAlter.source, "base64").toString() %>" <% } %>>
                
                <label for="postr">Positive Triggers</label>       
                <textarea name="postr"><% if (chosenAlter.triggers_pos !== null) { %><%- Buffer.from(chosenAlter.triggers_pos, 'base64').toString() %><% } %></textarea>    
                <label for="negtr">Negative Triggers</label>       
                <textarea name="negtr"><% if (chosenAlter.triggers_neg !== null) { %><%- Buffer.from(chosenAlter.triggers_neg, 'base64').toString() %><% } %></textarea>      
                <label for="likes">Things that <%= Buffer.from(chosenAlter.name, 'base64').toString() %> likes</label>       
                <textarea name="likes"><% if (chosenAlter.likes !== null) { %><%- Buffer.from(chosenAlter.likes, 'base64').toString() %><% } %></textarea>   
                <label for="dislikes">Things that <%= Buffer.from(chosenAlter.name, 'base64').toString() %> dislikes</label>       
                <textarea name="dislikes"><% if (chosenAlter.dislikes !== null) { %><%- Buffer.from(chosenAlter.dislikes, 'base64').toString() %><% } %></textarea>
            </div>
                <div class="column">
                <label for="birthday">Perceived Birthday:</label>
                <input type="text" name="birthday" value="<% if (chosenAlter.birthday !== null) { %><%- Buffer.from(chosenAlter.birthday, 'base64').toString() %><% } %>">
                <label for="firstnoted">General date of when <%= Buffer.from(chosenAlter.name, 'base64').toString() %> might've come about:</label>
                <input type="text" name="firstnoted" value="<% if (chosenAlter.first_noted !== null) { %><%- Buffer.from(chosenAlter.first_noted, 'base64').toString() %><% } %>">
                <label for="internalJob">Job: (e.g.: Hosting, Self Care, etc)</label>
                <input type="text" name="internalJob" value="<% if (chosenAlter.job !== null) { %><%- Buffer.from(chosenAlter.job, 'base64').toString() %><% } %>">
                <label for="fronttells">What helps to figure out when <%= Buffer.from(chosenAlter.name, 'base64').toString() %> is fronting or conscious?</label>       
                <textarea name="fronttells"><% if (chosenAlter.fronttells !== null) { %><%- Buffer.from(chosenAlter.fronttells, 'base64').toString() %><% } %></textarea>
                <label for="safety"><%= Buffer.from(chosenAlter.name, 'base64').toString() %> feels safest when...</label>       
                <textarea name="safety"><% if (chosenAlter.safe_place !== null) { %><%- Buffer.from(chosenAlter.safe_place, 'base64').toString() %><% } %></textarea>
                <label for="acc"><%= Buffer.from(chosenAlter.name, 'base64').toString() %> would like accommodation from the <%= cookies.system_term %> for... (e.g.: Emotional regulation, memory loss)</label>       
                <textarea name="acc"><% if (chosenAlter.acc !== null) { %><%- Buffer.from(chosenAlter.acc, 'base64').toString() %><% } %></textarea>
                <label for="wish">A few things <%= Buffer.from(chosenAlter.name, 'base64').toString() %> wishes for (e.g. "to feel safer internally", "to communicate with other parts")</label>       
                <textarea name="wish"><% if (chosenAlter.wants !== null) { %><%- Buffer.from(chosenAlter.wants, 'base64').toString() %><% } %></textarea>
                <label for="relationships">What are <%= Buffer.from(chosenAlter.name, 'base64').toString() %>'s relationships to other <%- pluralize(cookies.alter_term) %>?</label>       
                <textarea name="relationships"><% if (chosenAlter.relationships !== null) { %><%- Buffer.from(chosenAlter.relationships, 'base64').toString() %><% } %></textarea>
                <label for="notes">Other notes</label>       
                <textarea name="notes"><% if (chosenAlter.notes !== null) { %><%- Buffer.from(chosenAlter.notes, 'base64').toString() %><% } %></textarea>
                <label for="imgurl">Image URL (Image upload coming eventually...)</label>
                <input type="text" name="imgurl" value="<% if (chosenAlter.img_url !== null) { %><%- Buffer.from(chosenAlter.img_url, 'base64').toString() %><% } %>">
            </div>
                <input type="submit" value="Update <%= Buffer.from(chosenAlter.name, 'base64').toString() %>"><input type="reset" value="Start Over">
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        	var alterTypes=[{name: "Apparently Normal Part", desc: "doesn't seem to have many memories of trauma. (This doesn't mean they have none at all-- They just look non-traumatised on the surface)"},{name:"Emotional/Traumatised Part", desc: "has lots of memories of trauma, or is solely meant to hold traumatic memories. (Also sometimes called a \"Trauma Holder\")"},{name: "Younger Part", desc: "presents as younger than the body."},{name: "Older Part", desc: "presents as older than the body."},{name: "Introject (Factual)", desc: "presents as an existing person in the real world."},{name: "Introject (Fictional)", desc: "presents as a fictional character."},{name: "Non-Human", desc: "presents as a mythical being, religious figure, or other non-human species."}, {name: "Robot", desc: "presents as a robot or machine."},{name: "Animal", desc: "presents as an animal of some variety."},{name: "Fragment", desc: "may not be fully formed, or have a solid sense of identity."}, {name:"Introject (Mixed)", desc: "presents as a fictional character with real-world identities mixed in, a real-world person with fictional aspects, or in a different blend of reality and fiction."}]
            let alterTermCap= "<%= capitalise(cookies.alter_term) %>";
            let alterTermLow= "<%= cookies.alter_term %>";
            $(document).ready(function(){
            $("#typeSel").change(function(){
                var selectedAlt = $(this).children("option:selected").val();
                
                // $("#typeinfo").html(`${alterTermCap} Type<br><small>This ${alterTermLow} ${alterTypes[selectedAlt].desc}</small>`);
            });
        });
    </script>
    </body>
</html>
