<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <h2>Edit Reply</h2>
                <form method="post" id="editReply">
                    <input type="hidden" name="threadid" value="<%= chosenReply.thread_id %>">
                    <label for="editor">Reply Body</label>
                    <div id="editor" autocomplete="off" cols="60" rows="15">
                        <%- chosenReply.body %>
                    </div>
                    <textarea name="editor3" id="hidden-text" style="display:none;">
                    </textarea>
                    <br><label for="replyauthor">Reply Author</label>
                    <select name="replyauthor" id="replyauthor" required>
                    </select>
                    <br><input type="submit" name="editreply" value="Edit Reply">
                </form>
            </form>
            </section>
    </div>
    <%- include ("../partials/quill.ejs") %>
    <%- include ("../partials/footer.ejs") %>
    <script>
                async function getAlters(){
          let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "alters"
                } 
            });
            let body = await response.text();
            if (!response.ok) return $("#editReply").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");

            let sysInfo = JSON.parse(body);
            for (i in sysInfo.search){
            if ('<%- chosenReply.alt_id %>' == sysInfo.search[i].alt_id){
                  $("#replyauthor").append(`<option value="${sysInfo.search[i].alt_id}" selected>${sysInfo.search[i].name} (<%- capitalise(cookies.system_term) %>: ${sysInfo.search[i].sys_alias})</option>`);
            } else if (!sysInfo.search[i].is_archived){
                // Only un-archived alters may have posts changed to them.
                $("#replyauthor").append(`<option value="${sysInfo.search[i].alt_id}">${sysInfo.search[i].name} (<%- capitalise(cookies.system_term) %>: ${sysInfo.search[i].sys_alias})</option>`);
            }
            }
        }
        getAlters();
    </script>
    </body>
</html>
