<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <title>Lighthouse- Glossary</title>
        <style>
            dt{
                font-style: normal;
                cursor: pointer;
            }
            #important{
                display: block;
            }
            #important > div {
            display: block;
            }
            #copyNotification{
                z-index: 5;
                position: fixed;
                bottom: 0;
                right: 0;
                width: 30%;
                padding: 1em;
                background: var(--col2);
                display: none;
            }
        </style>
    </head>
    <%- include ("../partials/nav.ejs") %>
    <body>
        <div id="copyNotification">Copied Link!</div>
        <div id="wrapper">
            <h1>Glossary</h1>
            <p class="dyn">This page serves as a guide for those who may be new to receiving a DID/OSDD diagnosis, or for people who have a loved one recently diagnosed. It is not meant to define every term in the community; <a href="https://pluralpedia.org/w/Main_Page">We recommend browsing Pluralpedia for that</a>. This glossary is focused on trauma-based terminology. <% if (isLoggedIn(cookies)){ %><strong>Your custom terms will not show on this page.</strong><% } %></p>
            <p>Click or tap on a term to copy a shareable link to your clipboard.</p>
        <hr>
        <section>
            <div style="display:flex; justify-content: space-around;">
            <% var abc = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split(""); 
               var termsLetters= new Array();
               for (t in terms) { 
                termsLetters.push(terms[t].start_letter);
               } 
               for (i in abc){ 
                    var count = termsLetters.filter(x => x == abc[i]).length;
                    if (count > 0) {
                    %>
                    <a href="/glossary#<%-abc[i] %>"><%- abc[i]%></a>
                    <% } %>
                <% } %>
            </div>
            
            <% for (n in abc) { 
                var count = termsLetters.filter(x => x == abc[n]).length;
                    if (count > 0) {
                %>
                <h3 class="lettc" id="<%- abc[n] %>"><%- abc[n] %></h3>
                <div class="collapsible">
                    <% for (i in terms) { 
                        
                        if (terms[i].start_letter == abc[n]){ %>
                            <div id="<%- terms[i].linkalias %>" style="scroll-margin-top: 10em;">
                                <dt onclick="copyLink('<%- terms[i].linkalias %>')"><%- terms[i].term %> <small><em>(<%- terms[i].type %>)</em></small></dt>
                    <dd><%- terms[i].definition %></dd>  
                    </div>
                        <% } %>
                    <% } %>
                </div>
                <!-- End ABC Loop -->
             <% } %>
           <% } %>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        if (window.location.hash){
            $(`${window.location.hash}`).css("background-color", "rgba(255, 255, 0, .2)")
        }
        function copyLink(url) {
            navigator.clipboard.writeText(`https://www.writelighthouse.com/glossary/#${url}`);
            $("#copyNotification").show().delay(3000).fadeOut("slow");
            } 
        </script>
    </body>
</html>
