<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <title>Lighthouse- Glossary</title>
        <style>
            dt{
                font-style: normal;
            }
            #important{
                display: flex;
                flex-wrap: wrap;
            }
            #important > div {
            flex: 40%;
            padding: .5em
            }
            @media only screen and (max-width: 600px) {
                #important{
                display: block;
            }
            #important > div {
            display: block;
            }
            }
        </style>
    </head>
    <%- include ("../partials/nav.ejs") %>
    <body>
        <div id="wrapper">
            <h2>Glossary</h2>
            <p>The terms used in plural spaces are not usually ones known to the layman. Here are a list of terms you might see being used.</p>
            <p><strong>This page isn't fully complete.</strong> Terms are still being added.</p>
            <section>
            <h3>Important Terms</h3>
            <p>It's best to understand these terms first before reading further.</p>
            <dl id="important">
                <% for (i in important) { %> 
                    <div id="<%- important[i].term %>" style="scroll-margin-top: 10em;">
                    <dt style="color:var(--col5)"><%- important[i].term %> <small><em>(<%- important[i].type %>)</em></small></dt>
                    <dd><%- important[i].definition %></dd>  
                    </div>
                <% } %>
            </dl>
        </section>
        <hr>
        <section>
            <h3>All Terms</h3>
            <% var abc = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split(""); 
               var termsLetters= new Array();
               for (t in terms) { 
                termsLetters.push(terms[t].start_letter);
               } 
               %>
            <div style="display:flex; justify-content: space-around;">
                <% for (i in abc){ 
                    var count = termsLetters.filter(x => x == abc[i]).length;
                    if (count > 0) {
                    %>
                    <a href="/glossary#<%-abc[i] %>"><%- abc[i]%></a>
                    <% } %>
                <% } %>
            </div>
            
            <% for (n in abc) { 
                var count = termsLetters.filter(x => x == abc[n]).length;
                    if (count > 0) {
                %>
                <h3 class="lettc" id="<%- abc[n] %>"><%- abc[n] %></h3>
                <div class="collapsible">
                    <% for (i in terms) { 
                        
                        if (terms[i].start_letter == abc[n]){ %>
                            <div id="<%- terms[i].term %>" style="scroll-margin-top: 10em;">
                    <% if (terms[i].essential== true) { %> 
                        <dt style="color:var(--col5)"><%- terms[i].term %> <small><em>(<%- terms[i].type %>)</em></small></dt>
                    <% } else { %>
                        <dt><%- terms[i].term %> <small><em>(<%- terms[i].type %>)</em></small></dt>
                    <% } %>
                    <dd><%- terms[i].definition %></dd>  
                    </div>
                        <% } %>
                    <% } %>
                </div>
                <!-- End ABC Loop -->
             <% } %>
           <% } %>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
