<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            #features > div{
                margin-bottom: 3em;
            }
            #features>div:nth-child(odd) {
                text-align: left;
            }

            #features>div:nth-child(even) {
                text-align: right;
            }
            #desktopsection{
                    display: block;
                    /* float: right; */
                }
            form{

                width: 25vw;
                padding: 1em; 
                height: 27vh;
                margin-left: 3em;
                margin-bottom:2em; 
                /* border-bottom: 1px solid var(--col1); */
            }
            input{
                margin-bottom:1em;
                display: block;
            }
            #signup{
                color: var(--col4);
                font-weight: 800;
                cursor: pointer;
                text-decoration: underline;
            }
            @media only screen and (max-width: 600px) {
                form{
                    width: 85vw;
                    padding: .5em; 
                    /* height: 25vh;  */
                    border-left: 0;
                    margin-left: auto;
                    margin-bottom: 3em;
                }
            }

        </style>
    </head>
    <body>
        <script>0</script>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <div style="text-align:center;">
                <% if ((new Date().getMonth()+1)==6) { %>
                    <p class="alert alert-info"><img src="/img/svg/ptsd-support.svg" class="vtinyimg" alt="An anchor with an awareness ribbon around it." style="margin-right: 1em;"> June is PTSD awareness month.</p>
                    <% } %>
                    <% if ((new Date().getMonth()+1)==7) { %>
                        <p class="alert alert-info"><img src="/img/svg/cane.svg" class="vtinyimg" alt="A person with a cane." style="margin-right: 1em;"> July is Disability Pride Month! <img src="/img/svg/wheelchair.svg" class="vtinyimg" alt="A person in a wheelchair."></p>
                        <% } %>
                    <% if (((new Date().getMonth()+1)== 3) && (new Date().getDate()) == 5) { %>
                        <img src="/img/svg/ptsd-support.svg" class="vtinyimg" alt="An anchor with an awareness ribbon around it." style="margin-right: 1em;">  Today is DID Awareness Day.
                        <% } %>
                    <% if (((new Date().getMonth()+1)== 7) && (new Date().getDate()) == 15) { %>
                        <p class="alert alert-info">👥 Today is Plural Pride Day!</p>
                   <% } %>

                   <% if (((new Date().getMonth()+1)== 12) && (new Date().getDate()) == 15) { %>
                    <p class="alert alert-info">🎂 Today is Lighthouse's <%= new Date().getFullYear() - 2021 %><%= getOrdinal(new Date().getFullYear() - 2021) %> Anniversary! Thank you for supporting us this long!</p>
               <% } %>
               
             </div>  

            
            <!-- <h1 style="font-family: 'Berkshire Swash','Lobster Two', cursive;font-size:3em;margin-bottom:-.5em">Lighthouse</h1> -->
            <% if (messages.flash){ %> <p class="splash"><%- messages.flash %></p><% } %>
            <%  if (!cookies.loggedin){ %>
                <!-- Login -->
                <form method="post" style="float: left; height: auto;">
                    <h2>Log In</h2>
                    <small>No Account? <a id="signup" href="/signup">Signing Up takes only a minute!</a></small><br/>
                    <label for="email">Email: </label>
                    <input type="email" placeholder="something@mail.com" name="email" id="email"></br>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password"><br/>
                    <button id="login">Log In</button>
                    <div id="Wait" style="display:none"><img src="/img/svg/bubbles.svg" class="tinyimg"></div>
                </form>
                <% } %>   
                <% 
                var altTerm;
                var sysTerm;
                if (cookies.alter_term){
                    altTerm= cookies.alter_term;
                } else {
                    altTerm= "alter";
                }
                if (cookies.system_term){
                    sysTerm= cookies.system_term;
                } else {
                    sysTerm= "system";
                }
                if (cookies.subsystem_term){
                    subsysTerm= cookies.subsystem_term;
                } else {
                    subsysTerm= "subsystem";
                }
                %>
                
            <hgroup style="text-align:center;">
                <h2><%- strings.homepage.slogan %></h2></hgroup>
                
                <section id="desktopsection">                 
                </section>
                
                <section style="text-align:center;">
                    <img src="/img/<%= Math.floor(Math.random() * (18 - 1 + 1)) + 1  %>.png" alt="a journal book" style="display:inline; height: 256px; width: auto;margin-bottom:-1em;" class="pixelart">
                
                 <h4 class="dyn"><%- (strings.homepage.helping).replace("[[x]]", parseInt(userCount).toLocaleString()) %></h4>
               
            </section>
            <article style="float:none;border:0;">
            <p class="dyn"><%- strings.homepage.desc %><%  if (!cookies.loggedin){ %> <a href="/signup">Sign up today and start your journey.</a><% } %></p>
                <p><small>
                    <i class="fa fa-anchor" aria-hidden="true"></i><%- strings.homepage.disclaimer %></small></p>
                    <p><a href="/about#credits"><%- strings.homepage.imgCredits %></a></p>

            </article>
            
        <hr>
        <section id="features">
            <div>
                <div><h2 class="dyn"><%- strings.homepage.bullet1 %></h2>
                    <p class="dyn"><%- strings.homepage.bullet1Desc %></p></div>
                
            </div>
            <div>
                <div><h2 class="dyn"><%- strings.homepage.bullet2 %></h2>
                    <p class="dyn"><%- strings.homepage.bullet2desc %></p></div>
                
            </div>
            <div>
                <div><h2><%- strings.homepage.bullet3 %></h2>
                    <p class="dyn"><%- strings.homepage.bullet3desc %></p></div>
                
            </div>
            <div>
                <div><h2 class="dyn"><%- strings.homepage.bullet4 %></h2>
                    <p class="dyn"><%- strings.homepage.bullet4desc %></p>
                </div>
                
            </div>
            <div>
                <div><h2><%- strings.homepage.bullet5 %></h2>
                    <p class="dyn"><%- strings.homepage.bullet5desc %></p></div>
                
            </div>
            <div>
                <div><h2><%- strings.homepage.bullet6 %></h2>
                    <p class="dyn"><%- strings.homepage.bullet6desc %></p>
                    <p class="dyn"><small><%- strings.homepage.bullet6disclaimer %></small></p></div>
                
            </div>
        </section>
        <% if (donators.length > 0){ %>
            <hr>
            <section>
            <h2><%- strings.homepage.supporters %></h2>
            <div class="donators">
                <% for (i in donators) { %> 
                    <div style="padding:1em;line-height:1;text-align:center;"><%- donators[i].nickname %></div>
                    <%} %>
            </div>
        </section>
        <% } %>
        
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        $("#login").click(async function(){
            event.preventDefault();
            $("#login").hide();
            $("#Wait").show();
        let response = await fetch(`/api/user/auth`, { 
            method: "GET",
            headers: { 
              "api-lh-call": "api-lh-call",
              'Content-Type': 'application/json',
              'email': $("#email").val(),
              'tok': $("#password").val(),
            }
        });
        let resBod = await response.text();
        if (response.ok){
            // Good. Proceed to log in.
            let userInfo = JSON.parse(resBod);
            $("#wrongpass").hide();
            $.iaoAlert({ msg: `Hello, ${userInfo.name}! You are now logged in.`, type: "success", mode: "dark", autoHide: false })
            setTimeout(async function(){
                window.location.replace("/system");
            }, 3000);
        } else {
            if (response.status === 401) {
                $("#Wait").hide();
                $("#login").show();
                $.iaoAlert({ msg: `Wrong Email or Password. <a href="/forgot-password">Need to reset your password?</a>`, type: "error", mode: "dark", autoHide: false});
            } else if (response.status === 500) {
                $("#Wait").hide();
                $("#login").show();
                $.iaoAlert({ msg: `There seems to have been a hiccup since our security update. <a href="/forgot-password">Please reset your password,</a> and then log in again.`, type: "error", mode: "dark", autoHide: false});
            } else {
                $("#Wait").hide();
                $("#login").show();
                $.iaoAlert({ msg: `An unexpected error occurred. Please try again later.`, type: "error", mode: "dark", autoHide: false});
            }
        }
        })
    </script>
    </body>
</html>
