<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            #features > div{
                margin-bottom: 3em;
            }
            #features>div:nth-child(odd) {
                text-align: left;
            }

            #features>div:nth-child(even) {
                text-align: right;
            }
            #desktopsection{
                    display: block;
                    /* float: right; */
                }
            form{

                width: 25vw;
                padding: 1em; 
                height: 27vh;
                margin-left: 3em;
                margin-bottom:2em; 
                /* border-bottom: 1px solid var(--col1); */
            }
            input{
                margin-bottom:1em;
            }
            #signup{
                color: var(--col4);
                font-weight: 800;
                cursor: pointer;
                text-decoration: underline;
            }
            @media only screen and (max-width: 600px) {
                form{
                    width: 85vw;
                    padding: .5em; 
                    /* height: 25vh;  */
                    border-left: 0;
                    margin-left: auto;
                    margin-bottom: 3em;
                }
            }

        </style>
    </head>
    <body>
        <script>0</script>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">  
            <div style="text-align:center;">
                <% if ((new Date().getMonth()+1)==6) { %>
                    <img src="/img/svg/ptsd-support.svg" class="vtinyimg" alt="An anchor with an awareness ribbon around it.">June is PTSD awareness month. <a href="/glossary#Post-Traumatic Stress Disorder (PTSD)">Read here.</a>
                    <% } %>
                    <% if ((new Date().getMonth()+1)==7) { %>
                        <img src="/img/svg/cane.svg" class="vtinyimg" alt="Icon of a visually impaired person with a cane."> July is Disability Pride Month! <img src="/img/svg/wheelchair.svg" class="vtinyimg" alt="A person in a wheelchair.">
                        <% } %>
                    <% if (((new Date().getMonth()+1)== 3) && (new Date().getDate()) == 5) { %>
                        <img src="/img/svg/ptsd-support.svg" class="vtinyimg" alt="An anchor with an awareness ribbon around it.">  Today is DID Awareness Day.<a href="/glossary#Dissociative Identity Disorder (DID)">Read here.</a>
                        <% } %>
                    <% if (((new Date().getMonth()+1)== 7) && (new Date().getDate()) == 15) { %>
                        <p>👥 Today is Plural Pride Day!<a href="/glossary#Plurality">Read here.</a></p>
                        <% } %>
            </div>

            <hgroup style="text-align:center;"><h1 style="font-family: 'Berkshire Swash','Lobster Two', cursive;font-size:3em;margin-bottom:-.5em">Lighthouse</h1><br><sup>Beta v<%- version %></sup>
                <h2>Journal Together</h2></hgroup>         
                <% if (locals.messages.flash) { %>
                    <div class="splash"><%- locals.messages.flash %></div>
                <% } %>
                <section id="desktopsection">
                    <%  if (!cookies.loggedin){ %>
                        <!-- Login -->
                        <form method="post" id="login">
                            <h3>Log In</h3>
                            <small>No Account? <a id="signup" href="/signup">Sign Up</a></small><br/>
                            <label for="email">Email: </label>
                            <input type="email" placeholder="something@mail.com" name="email"></br>
                            <label for="password">Password: </label>
                            <input type="password" name="password"><br/>
                            <input type="submit" value="Log in" name="loggingin">
                        </form>
                        <% } %>                    
                </section>
                
                <section style="text-align:center;">
                    <img src="/img/<%= Math.floor(Math.random() * (18 - 1 + 1)) + 1  %>.png" alt="a journal book" style="display:inline; height: 128px; width: auto;margin-bottom:-1em;">
                </center>
                <h4>We're helping  <span style="color:var(--col1)"><%= (userCount).toLocaleString() %></span> systems!</h4>
               
            </section>
            <p>We use cookies to keep your experience running smoothly while logged in. <a href="/cookies">Read more here.</a></p>
                <p><small>
                    <span class="material-symbols-outlined">
                    anchor
                    </span>
                    Lighthouse was not developed by a medical professional, and is not intended to be a substitute for professional advice, diagnosis, or treatment. Always seek the advice of your mental health professional or other qualified health provider with any questions you may have regarding your condition.</small></p>
                    <p><a href="/about#credits">Image Credits Here.</a></p>
                    <center>
                        <p>Designed and programmed by The Lighthouse System.</p>
                        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi!', '#29abe0', 'M4M81XKEG');kofiwidget2.draw();</script></center> 
        <hr>
        <section id="features">
            <div>
                <div><h2>Create a Space for Your Alters</h2>
                    <p>Alters get a private journal for their own thoughts and feelings that can be safe-guarded with a password.</p></div>
                
            </div>
            <div>
                <div><h2>Keep Your System Informed</h2>
                    <p>Users get a Communal Journal that can be used by all alters to keep everyone up-to-date.</p></div>
                
            </div>
            <div>
                <div><h2>Get to the Root of Feelings</h2>
                    <p>Each alter can set a mood with a short reason as to why they feel that way.</p></div>
                
            </div>
            <div>
                <div><h2>Understand your Alters Better</h2>
                    <p>Alters can provide basic information on themselves, but can also address what makes them feel safe, what they would want from the system, and what they would like accommodations for.</p><p>Alters can also communicate amongst themselves using an internal forum.</p></div>
                
            </div>
            <div>
                <div><h2>Import from Pluralkit</h2>
                    <p>If you already use the popular Discord bot <strong>Pluralkit</strong>, you can import your system into Lighthouse!</p></div>
                
            </div>
        </section>
        
        <% if (donators.length > 0){ %>
            <hr>
            <section>
            <h2>Thank You to Our Supporters</h2>
            <div style="display:grid;grid-template-columns: 1fr 1fr 1fr 1fr;line-height: 2;">
                <% for (i in donators) { %> 
                    <div><%- donators[i].nickname %></div>
                    <%} %>
            </div>
        </section>
        <% } %>
        
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        const button= document.querySelector("#signup");
        const pass= document.querySelector("#pass");
        const vPass= document.querySelector("#v-pass");
        const passSplash= document.querySelector("#passSplash");
        function checkPass(){
          // console.log(pass.value);
          // console.log(vPass.value);
          if (pass.value !== vPass.value){
            passSplash.innerHTML="Passwords do not match.";
            button.disabled= true;
          } else {
            passSplash.innerHTML="";
            button.disabled= false;
          }
        }


    </script>
    </body>
</html>
