<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <section>
                <% if (typeof splash == 'string'){  %>
                    <p class="splash"><%- splash %></p>
                <% } %>
                <h2>Inner World</h2>
                <p>An <strong>inner world</strong> is a visualisation tool for people to visualise <%= pluralize(session.alter_term) %>, memory storage, feelings, and more. People with DID or OSDD more often than not have an inner world. Inner worlds can be as small as a singular room, or as big as an entire planet. In the end, it's all about what makes you feel safest. Think of it as your happy place. Here, you can describe sections of your inner world for other <%= pluralize(session.alter_term) %> who may struggle to visualise it.</p>
                <form method="post">
                  <label for="key">Name</label><br/>
                  <input type="text" name="key" required><br/>
                  <label for="value" id="DescLabel">Description (Be as descriptive as you'd like)</label><br/>
                  <textarea name="value" required></textarea>
                  <br/>
                  <input type="submit" name="create" value="Add">
                  <input type="reset" value="Start Over">
                </form>
                <% chosenPlace= randomise([{name: "The Beach", desc: "A sandy shore with blue waters and a calm breeze."}, {name: "Main Planet", desc: "The main planet most parts inhabit. Has lots of water and trees."}, {name: "The Mansion", desc: "This mansion is 3 stories tall with a basement. Has 6 bedrooms and 5 bathrooms. Most of the main parts live here."}]); %>
                <p>Example:</p>
                <p>Name: <%= chosenPlace.name %></p>
                <p>Description: <%= chosenPlace.desc %></p>
            </section>
            <section>
              <h2>Inner World Information</h2>
              <% for (i in session.innerWorld){ %>
                <dt><%= Buffer.from(session.innerWorld[i].key, 'base64').toString() %> <a title="Delete entry for <%= Buffer.from(session.innerWorld[i].key, 'base64').toString() %>" href="/inner-world/delete/<%= session.innerWorld[i].id %>" ><i class="fas fa-trash-alt"></i></a></dt>
                <dd><%= Buffer.from(session.innerWorld[i].value, 'base64').toString() %></dd>
              <% } %>
            </section>
        </div>
        <%- include ("../partials/scripts.ejs") %>
        <%- include ("../partials/footer.ejs") %>

    </body>
</html>
