<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
          .textless{
            height: 1em;
            display: inline;
            font-size: 1.15em;
            padding: 0;
            vertical-align: text-top;
            background: transparent;
            color: var(--col5)
          }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <section>
              <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
                <h2>Inner World</h2>
                <% if (session.inner_worlds == false) { %> 
                <p><strong>Inner Worlds are not enabled on this account.</strong> Not everyone has one. You can change this in <a href="/profile" title="Settings">Settings</a>.</p>
                <% } else { %>
                  <p>An <strong>inner world</strong> is a visualisation tool for people to visualise <%= pluralize(cookies.alter_term) %>, memory storage, feelings, and more. People with DID or OSDD more often than not have an inner world. Inner worlds can be as small as a singular room, or as big as an entire planet. In the end, it's all about what makes you feel safest. Think of it as your happy place. Here, you can describe sections of your inner world for other <%= pluralize(cookies.alter_term) %> who may struggle to visualise it.</p>
                  <form method="post">
                    <label for="key">Name</label><br/>
                    <input type="text" name="key" required><br/>
                    <label for="value" id="DescLabel">Description (Be as descriptive as you'd like)</label><br/>
                    <textarea name="value" required></textarea>
                    <br/>
                    <input type="submit" name="create" value="Add">
                    <input type="reset" value="Start Over">
                  </form>
                  <% chosenPlace= randomise([{name: "The Beach", desc: "A sandy shore with blue waters and a calm breeze."}, {name: "Main Planet", desc: "The main planet most parts inhabit. Has lots of water and trees."}, {name: "The Mansion", desc: "This mansion is 3 stories tall with a basement. Has 6 bedrooms and 5 bathrooms. Most of the main parts live here."}]); %>
                  <p>Example:</p>
                  <p>Name: <%= chosenPlace.name %></p>
                  <p>Description: <%= chosenPlace.desc %></p>
              </section>
              <section>
                <h2>Inner World Information</h2>
                <% for (i in session.innerWorld){ %>
                  <dt><%= Buffer.from(session.innerWorld[i].key, 'base64').toString() %> <form method="post" style="display: inline;"><button type="submit" name="<%= session.innerWorld[i].id %>" value="Remove" class="textless" onclick="deleteWarn('<%= Buffer.from(session.innerWorld[i].key, 'base64').toString() %>')"><span class="material-symbols-outlined textless"> delete</span></button></form></dt>
                  <dd><%= Buffer.from(session.innerWorld[i].value, 'base64').toString() %></dd>
                <% } %>
  
                <%}%>
                
            </section>
        </div>
        <%- include ("../partials/scripts.ejs") %>
        <%- include ("../partials/footer.ejs") %>

    </body>
    <script>
      const controller = new AbortController();
    const { signal } = controller;
    
        function deleteWarn(title){
          if (confirm(`You're about to delete ${title}.\nAre you sure?`)){
            console.log("Deleting.")
          } else {
            event.preventDefault();
          }
        }
    
        signal.addEventListener("abort", () => {
      console.log(signal.aborted);
    });
    
    </script>
</html>
