<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
        .textless{
          height: 1em;
          display: inline;
          font-size: 1.15em;
          padding: 0;
          vertical-align: text-top;
          background: transparent;
          color: var(--col5)
        }
      </style>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <section>
          <% if (locals.messages.flash) { %>
            <div class="splash"><%- locals.messages.flash %></div>
        <% } %>
        <div class="grid-sm padLinks">
          <a class="linkbutton" href="/system/<%- session.chosenAlter.sys_id %>">Back to <%- Buffer.from(session.chosenAlter.sys_alias, "base64").toString() %></a>
          <a class="linkbutton" href="/alter/<%- session.chosenAlter.alt_id %>">Close Journal</a>
        </div>
            <h2><%- Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal</h2>

            <form method="post">
                <h3>Create Journal Entry</h3>
                <label for="j_title">Journal title</label><br/>
                <input type="text" name="j_title" autocomplete="off"><br/>
                <label for="j_body">Journal Body</label><br/>
                <textarea name="j_body" autocomplete="off" cols="60" rows="15" id="editor"></textarea><br/>
                <input type="submit" name="submit" value="Write post">
                <input type="reset" name="reset" value="Start Over">
                <script>ClassicEditor
                    .create( document.querySelector( '#editor' ), {
                        fontColor: {
        colors: [
            {color: 'red',label: 'Red'},{color: '#ff691f',label: 'Orange'},{ color: '#ffc20a',label: 'Yellow'},{color: 'green',label: 'Green'},{color: 'teal',label: 'Teal'},{color: 'blue',label: 'Blue'},{color: 'purple',label: 'Purple'},{color: '#ff0f83',label: 'Pink'},{color:'#663c28', label: 'Brown'}, {color: 'lightgray', label: 'Silver'}, {color: 'gray', label: 'Stone'}, {color: 'black', label: 'Black'}, {color: 'white', label: "White"}
        ]}
                    } )
                    .then( editor => {
                      window.editor = editor;
                    } )
                    .catch( error => {
                      console.error( 'Oops, something went wrong!' );
                      console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                      console.warn( 'Build id: c0gefhhqxz8y-2hxzvv2htugp' );
                      console.error( error );
                    } );
                </script>
            </form>
        </section>
        <hr/>
        
        <div id="Wait"></div>
        <section id="posts">

        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>
<script>
  const controller = new AbortController();
const { signal } = controller;

    function deleteWarn(title){
      if (confirm(`You're about to delete ${title}.\nAre you sure?`)){
        console.log("Delete Rule.");
      } else {
        event.preventDefault();
      }
    }

    signal.addEventListener("abort", () => {
  console.log(signal.aborted);
});

async function pinPosts(pID){
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
                method: "PUT",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                }, 
                body: JSON.stringify({
                  "edit": "journalPin",
                  "postID": `${pID}`
                })
            });
            console.log("Sending Req.")
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            console.log(sysInfo)
            fetchPosts();
          }

          async function fetchPosts(){
  // $("#sysList").empty();
  $("#posts").empty();
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "journalPosts",
                  "uuID": "<%- session.altJournal[0].j_id %>"
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            // sysArr, nonPinned, isPinned
            $("#Wait").empty();
            // return console.log(sysInfo.search.nonpin)
            var journalPosts = sysInfo.search;
            var language = window.navigator.userLanguage || window.navigator.language;
            if (journalPosts.pinned.length > 0){
            for (i in journalPosts.pinned){
                          var bodyArr= (journalPosts.pinned[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                          var postStr= new String();
                            postStr+= `<h2><i style="color:var(--col4)" class="fa fa-thumb-tack" aria-hidden="true" title="Pinned Post"></i> ${journalPosts.pinned[i].title}</h2><a title="Edit ${journalPosts.pinned[i].title}" href="/journal/${journalPosts.pinned[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a><form method="post" style="display: inline;"><button type="submit" name="${journalPosts.pinned[i].id}" value="Remove" class="textless" onclick="deleteWarn('${journalPosts.pinned[i].title}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <i style="color:var(--col4)" class="fa fa-thumb-tack" title="Unpin this post from the top of your journal" aria-hidden="true" onclick="pinPosts('${journalPosts.pinned[i].id}')"></i>
                <p><sub>Posted ${(journalPosts.pinned[i].createdon).substr(0,10)}</sub></p>`;
                          for (i in bodyArr){
                            postStr += `<p>${bodyArr[i]}</p>`;
                          }
          $("#posts").append(`<article>${postStr}</article>`);
                        }
                        
            }
            if (journalPosts.nonpin.length > 0){
            for (i in journalPosts.nonpin){
                          var bodyArr= (journalPosts.nonpin[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                          var postStr= new String();
                            postStr+= `<h2>${journalPosts.nonpin[i].title}</h2><a title="Edit ${journalPosts.nonpin[i].title}" href="/journal/${journalPosts.nonpin[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a><form method="post" style="display: inline;"><button type="submit" name="${journalPosts.nonpin[i].id}" value="Remove" class="textless" onclick="deleteWarn('${journalPosts.nonpin[i].title}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <i style="color:var(--col4)" class="fa fa-thumb-tack" title="Pin this post to the top of your journal" aria-hidden="true" onclick="pinPosts('${journalPosts.nonpin[i].id}')"></i>
                <p><sub>Posted ${(journalPosts.nonpin[i].createdon).substr(0,10)}</sub></p>`;
                          for (i in bodyArr){
                            postStr += `<p>${bodyArr[i]}</p>`;
                          }
          $("#posts").append(`<article>${postStr}</article>`);
                        }
                        
            }
}
$(document).ready(function(){
  fetchPosts();
});
</script>

</html>
