<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <section>
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <p><a href="/clearalter">Go back to the System page</a></p>
            <h2><%- Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal</h2>
            <sub>System: <%- Buffer.from(session.chosenAlter.sys_alias, 'base64').toString() %></sub>
            <form method="post">
                <h3>Create Journal Entry</h3>
                <label for="j_title">Journal title</label><br/>
                <input type="text" name="j_title" autocomplete="off" required><br/>
                <label for="j_body">Journal Body</label><br/>
                <textarea name="j_body" autocomplete="off" cols="60" rows="15" required></textarea><br/>
                <input type="submit" name="submit" value="Write post">
                <input type="reset" name="reset" value="Start Over">
            </form>
            <p>HTML works in this field, so feel free to style your journal as you see fit. Pressing enter will render a new paragraph.</p>
        </section>
        <hr/>
        <section>
            <section>
                <% console.log(session.journalPosts) %>
            <% for (i in session.journalPosts) { %>
                <article>
                <h2><%= session.journalPosts[i].title %></h2>
                <p><sub>Posted <%= (session.journalPosts[i].created_on).toLocaleString(lang, { timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone }) %></sub></p>
                <% var bodyArr= (session.journalPosts[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                    for (j in bodyArr){
                        if (bodyArr[j] !== ''){ %>
                            <p><%- bodyArr[j] %></p>
                            <p><a href="/journal/<%- session.journalPosts[i].p_id %>/edit">Edit</a> <a href="/journal/<%- session.journalPosts[i].p_id %>/delete">Delete</a></p>
                        <% }
                    }%>
            </article>
            <% } %>
        </section>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
