<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
        .textless{
          height: 1em;
          display: inline;
          font-size: 1.15em;
          padding: 0;
          vertical-align: text-top;
          background: transparent;
          color: var(--col5)
        }
        .alt{
            color: <%= alterInfo.colour == "#000000" ? "inherit" : alterInfo.colour %>!important;
        }
      </style>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
      <ul class="breadcrumb">
        <li><a href="/system" title="Your <%= capitalise(cookies.system_term) %>"><%= capitalise(cookies.system_term) %></a></li>
        <li><a href="/system/<%- alterInfo.sys_id %>"><%- alterInfo.sys_alias %></a></li>
        <li><a href="/alter/<%- alterInfo.alt_id %>"><%- alterInfo.name %></a></li>
        <li>Journal</li>
      </ul>
        <section>
          <% if (locals.messages.flash) { %>
            <div class="splash"><%- locals.messages.flash %></div>
        <% } %>
            <h2><%- alterInfo.name %>'s Journal</h2>

            <form method="post">
                <h3>Create Journal Entry</h3>
                <input type="hidden" name="j_id" value="<%= alterInfo.journId %>">
                <input type="hidden" name="alt_id" value="<%= alterInfo.alt_id %>">
                <label for="j_title">Journal title</label><br/>
                <input type="text" name="j_title" autocomplete="off"><br/>
                <label for="feeling">Currently feeling... </label>
                <input type="text" id="feeling" name="feeling" autocomplete="off"><br/>
                <label for="j_body">Journal Body</label><br/>
                <div id="editor"></div>
                <textarea name="j_body" id="hidden-text"></textarea><br/>
                <input type="submit" name="submit" value="Write post">
                <input type="reset" name="reset" value="Start Over">
            </form>
        </section>
        <hr/>
        
        <div id="Wait"></div>
        <section id="posts">

        </section>
    </div>
    <%- include ("../partials/quill.ejs") %>
    <%- include ("../partials/footer.ejs") %>
</body>
<script>
  const controller = new AbortController();
const { signal } = controller;

    function deleteWarn(title){
      if (confirm(`You're about to delete ${title}.\nAre you sure?`)){
        console.log("Delete Rule.");
      } else {
        event.preventDefault();
      }
    }

    signal.addEventListener("abort", () => {
  console.log(signal.aborted);
});

async function pinPosts(pID){
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
                method: "PUT",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                }, 
                body: JSON.stringify({
                  "edit": "journalPin",
                  "postID": `${pID}`
                })
            });
            let body = await response.text();
            if (!response.ok) return $("#Wait").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");

            let sysInfo = JSON.parse(body);
            fetchPosts();
          }

          async function fetchPosts(){
  // $("#sysList").empty();
  $("#posts").empty();
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "journalPosts",
                  "uuID": "<%- alterInfo.journId %>"
                } 
            });
            let body = await response.text();
            if (!response.ok) return $("#Wait").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");

            let sysInfo = JSON.parse(body);
            
            $("#Wait").empty();

            var journalPosts = sysInfo.search;
            var language = window.navigator.userLanguage || window.navigator.language;
            
            if (journalPosts.pinned.length > 0){
            for (i in journalPosts.pinned){
                          var bodyArr= (journalPosts.pinned[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                          var postStr= new String();
                            postStr+= `<h2><i style="color:var(--col4)" class="fa fa-thumb-tack" aria-hidden="true" title="Pinned Post"></i> ${journalPosts.pinned[i].title}</h2><a title="Edit ${journalPosts.pinned[i].title}" href="/journal/${journalPosts.pinned[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a><form method="post" style="display: inline;"><button type="submit" name="${journalPosts.pinned[i].id}" value="Remove" class="textless" onclick="deleteWarn('${journalPosts.pinned[i].title}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <h4>Feeling: ${journalPosts.pinned[i].feeling}</h4> <i style="color:var(--col4)" class="fa fa-thumb-tack" title="Unpin this post from the top of your journal" aria-hidden="true" onclick="pinPosts('${journalPosts.pinned[i].id}')"></i>
                <p><sub>Posted ${(journalPosts.pinned[i].createdon).substr(0,10)}</sub></p>`;
                          for (i in bodyArr){
                            postStr += `<p>${bodyArr[i]}</p>`;
                          }
          $("#posts").append(`<article>${postStr}</article>`);
                        }
                        
            }
            if (journalPosts.nonpin.length > 0){
            for (i in journalPosts.nonpin){
                          var bodyArr= (journalPosts.nonpin[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                          var postStr= new String();
                            postStr+= `<h2>${journalPosts.nonpin[i].title}</h2><a title="Edit ${journalPosts.nonpin[i].title}" href="/journal/${journalPosts.nonpin[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a><form method="post" style="display: inline;"><button type="submit" name="${journalPosts.nonpin[i].id}" value="Remove" class="textless" onclick="deleteWarn('${journalPosts.nonpin[i].title}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <h4>Feeling: ${journalPosts.nonpin[i].feeling}</h4> <i style="color:var(--col4)" class="fa fa-thumb-tack" title="Pin this post to the top of your journal" aria-hidden="true" onclick="pinPosts('${journalPosts.nonpin[i].id}')"></i>
                <p><sub>Posted ${(journalPosts.nonpin[i].createdon).substr(0,10)}</sub></p>`;
                          for (i in bodyArr){
                            postStr += `<p>${bodyArr[i]}</p>`;
                          }
          $("#posts").append(`<article>${postStr}</article>`);
                        }
                        
            }
}
$(document).ready(function(){
  fetchPosts();
});
</script>

</html>
<% 
  

%>