<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <h2>About The Lighthouse System</h2>
                <p>We are a system currently comprised of <%= alterCount %> parts, primarily masculine ones. We have a few introjected parts and two of them are host/co-host. We are <%= new Date().getFullYear() - 1996 %> years old, and most parts see themselves as older than that. We are professionally diagnosed and in treatment, and want to help others with a supportive, healing space-- especially for those who cannot access it otherwise.</p>
            </section>
            <section id="Dee">
                <h3>Dee 🎹</h3>
                <p><small>He/Him • Host & Protector • Introject (2D, Gorillaz) • Art- Jamie Hewlett</small></p>
                <div style="float:left; margin-right:calc(.5em);"><img src="/img/LS-icons/Dee.webp" class="tinyimg" alt="Dee's avatar: 2D from Gorillaz, Demon Days era"></div><p>Dee is the host of the system. He's an introjected part, like Stu. Dee likes keyboards (both typing and synths), programming, drawing, Gorillaz, and Zelda. The exact date of origin is unknown, but it's likely that the fragments that eventually became Dee fused sometime around 2020.</p>
            </section>
            <hr>
            <section id="Stu">
                <h3>Stu 🌺</h3>
                <p><small>He/They • Co-Host & Caretaker • Introject (2D, Gorillaz) • Art- Jamie Hewlett</small></p>
                <div style="float:right; margin-left:calc(.5em);"><img src="/img/LS-icons/Stu.webp" class="tinyimg" alt="Stu's avatar: 2D from Gorillaz, Song Machine era"></div>
                <p>Stu is the co-pilot of The Lighthouse System. He's been through a lot, but he's a soother/comfort part. Stu has a blog called stu-speaks on Tumblr. He likes New Wave music and Elton John!</p>
                <p>Stu came about in 2017 following a series of dire circumstances. He's learning to not always be ready for another emergency, especially as life slowly regulates.</p>
            </section>
            <hr>
            <section id="Nick">
                <h3>Nick ⚓</h3>
                <p><small>He/Him • Protector • Art- vanityloves (instagram)</small></p>
                <div style="float:left; margin-right:calc(.5em);"><img src="/img/LS-icons/Nick.png" class="tinyimg" alt="Nick's avatar: Black hair, dark eye bags, and an unamused look."></div>
                <p>Nick is a part who is sometimes described as "guarded". It makes sense, since Nick is very reserved and particular about who he gives what information to. He started out as a physically harmful persecutory part, but has since changed his ways and became a protector. He enjoys planning and documenting. He prefers order and routine over chaos. Nick is <em>very</em> protective and defensive of those near and dear to him, sometimes to a fault.</p>
            </section>
            <hr>
            <section id="Dexter">
                <h3>Dexter 🍁</h3>
                <p><small>He/Him • Memory Holder • Art- PrismaticPanic (Tumblr)</small></p>
                <div style="float:right; margin-left:calc(.5em);"><img src="/img/LS-icons/Dexter.png" class="tinyimg" alt="Dexters's avatar: Brown hair, square glasses, a plain collared shirt and a grey cardigan."></div>
                <p>Dexter is most likely a trauma holder. He's about 20. Dexter loves anything pertaining to Canada, and dreamed of travelling to Vancouver, maybe to be a game developer there. Dexter loves Don't Starve and would create mods for the game when he was host.</p>
            </section>
            <hr>
            <section>
                <p>Thank you for supporting us through making this project real!</p>
                <p>Sincerely,</p>
                <img src="/img/svg/lighthouse-sig.svg" style="width:25vw;" alt="The Lighthouse System">
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
