<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h2>Import from Pluralkit</h2>
            <p>Use Pluralkit? We can fetch your <strong>publicly available <%- pluralize(session.alter_term) %></strong> and add them to your account. Importing will create a new <%- session.system_term %> that can be renamed on the <a href="/system">My <%- capitalise(session.system_term) %></a> page</a>.</p>
            <p><em>Don't know your system ID?</em> Direct message "pk;s" to Pluralkit, or type "pk;s" in a channel that Pluralkit can view.</p>
            <form>
                <label for="pid">Pluralkit system ID</label>
                <input type="text" minlength="5" maxlength="5" id="pid" required>
                <button onclick="getPK()">Fetch from Pluralkit</button>
            </form>
            <span id="Wait"></span>
            <ul id="roster">

            </ul>
            <form method="post" id="submitAlt" style="display:none;">
                <input id="altField" type="hidden" name="altArr"><br>
                <input type="submit" name="fetch" value="Import">
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
    <script>
        async function getPK(){
            event.preventDefault();
            $("#Wait").html("<em>Hang on...</em>");
            var pkID= $("#pid").val();
            if (pkID.length <5 ){
                // Blank.
                $("#Wait").html("Please type the <%- session.system_term %> ID.")
            } else {
                console.log(pkID);
            $("#roster").html("");
            // console.log(pkID);
            // Go grab pluralkit
            let response = await fetch(`https://api.pluralkit.me/v2/systems/${pkID}/members`);
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            console.log(sysInfo.message);
            $("#Wait").html("From Pluralkit:");
            let systemArray = new Array();
            if (!sysInfo.message){
                // System found.
                for (i in sysInfo){
                $("#roster").append(`<li>${sysInfo[i].display_name || sysInfo[i].name} <img src="${sysInfo[i].avatar_url}" class="vtinyimg"></li>`);
                systemArray.push({name: sysInfo[i].display_name || sysInfo[i].name, img: sysInfo[i].avatar_url});
                $("#altField").val(`${JSON.stringify(systemArray)}`);
            }
            $("#submitAlt").show("fast");
                
            } else if (sysInfo.code== 0){
                $("#Wait").html(`<strong>Sorry!</strong> Either Pluralkit's API is down, or we had trouble sending a request. Try again later!`);
            } else {
               // Not found.
               $("#Wait").html(`<strong>Hmmm... are you sure?</strong> Pluralkit couldn't find a <%- session.system_term %> with that ID. Try again.`);
            }
            }
           
        }
    </script>
</html>
