<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            #roster{
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Import from Pluralkit</h2>
            <p>Use Pluralkit? We can fetch your <%- pluralize(cookies.alter_term) %> and add them to your account. Importing will create a new <%- session.system_term %> that can be renamed on the <a href="/system">My <%- capitalise(session.system_term) %></a> page</a>.</p>
            <p><em>Don't know your system ID?</em> Direct message "pk;s" to Pluralkit, or type "pk;s" in a channel that Pluralkit can view.</p>
            <p>Adding your Pluralkit token is completely optional. Adding your token allows Lighthouse to fetch your private <%- pluralize(cookies.alter_term) %> as well. We do not store this token. <strong>Do not share your token with anyone you do not trust.</strong></p>
            <p>For technical reasons, you can import a maximum of <strong>100 <%- pluralize(cookies.alter_term) %></strong> at a time. After that, Lighthouse seems to run into errors. We're investigating a fix to this currently.</p>
            <form>
                <label for="pid">Pluralkit system ID</label>
                
                <input type="text" minlength="5" maxlength="5" id="pid" required autocomplete="off"><br>
                <label for="pktoken">Optional: Pluralkit token </label><input type="text" id="pktoken" autocomplete="off"><br>
                <button onclick="getPK()">Fetch from Pluralkit</button>
            </form>
            <span id="Wait"></span>

            <form method="post" id="submitAlt" style="display:none;">
                <ul id="roster">

                </ul>
                <span class="linkbutton" id="checkall">Select All</span><br>
                <p><small>If there are more than 100 <%- pluralize(cookies.alter_term) %> in this list, the first 100 will be selected. <%- capitalise(pluralize(cookies.alter_term))%> selected: <strong><span id="checkCount">0</span></strong></small></p>
                <label for="sysLoc">These <%- pluralize(cookies.alter_term) %> will be imported into: </label>
                <select name="sysLoc">
                    <option value="new" selected>Create New <%- capitalise(session.system_term) %></option>
                    <% for (i in session.sys){ %> 
                        <option value="<%- session.sys[i].id %>"><%- session.sys[i].name %></option>
                    <%}%>
                </select>
                
                <input type="submit" name="fetch" value="Import System" id="import">
                <p class="splash">"Create New <%- capitalise(session.system_term) %>" will create a new <%- session.system_term %> called "Imported from Pluralkit". If you already have a <%- session.system_term %> named that, 3 random numbers will be appended to the end to prevent confusion. Press "rename" next to these <%- pluralize(session.system_term) %>' names on the "My <%- capitalise(session.system_term) %>" page to rename them to whatever you like.</p>
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
    <script>
        // var checkedCount= $('input:checkbox:checked').length;
        $(document).ready(function(){
            $("#checkall").click(function() {
                    var cblist = $("input[name=alterChoice]");
                    // cblist.attr("checked", !cblist.attr("checked"));\
                    cblist.click()
                }); 
                
            });
        
        function boxCount(){
            $("#checkCount").html($('input[name=alterChoice]:checked').length);
            $('input[name=alterChoice]').on('change', function (e) {
            if ($('input[name=alterChoice]:checked').length > 100) {
                $(this).prop('checked', false);
            }
        });
        }

        async function getPK(){
            event.preventDefault();
            $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
            var pkID= $("#pid").val();
            if (pkID.length <5 ){
                // Blank.
                $("#Wait").html("Please type the <%- session.system_term %> ID.")
            } else {
                console.log(pkID);
            $("#roster").html("");
            // Go grab pluralkit

            // Conditional for if they provided a token or not!
            let response = await fetch(`https://api.pluralkit.me/v2/systems/${pkID}/members`, { 
                headers: { 
                    "Authorization": $("#pktoken").val(),
                    "User-Agent": "Lighthouse/Web App (www.writelighthouse.com, dee_deyes@writelighthouse.com, put here for contact if PK devs need to)" 
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            console.log(sysInfo.message);
            $("#Wait").html("<h3>Lighthouse will import:</h3>");
            $("#pid").val("")
            $("#pktoken").val("")
            let systemArray = new Array();
            if (!sysInfo.message){
                // System found.
                for (i in sysInfo){

                // $('#roster')
                //     .append($(`<li>${sysInfo[i].display_name || sysInfo[i].name} <img src="${sysInfo[i].avatar_url}" class="vtinyimg"></li>`)
                //         .hide()
                //         .fadeIn(500)
                //     );
                
                var alterName= sysInfo[i].display_name == null ? sysInfo[i].name : sysInfo[i].display_name;
                var alterInfo=  JSON.stringify({
                    name: alterName.replace(/ /g, "⠀"), 
                    id: sysInfo[i].id, 
                    img:sysInfo[i].avatar_url,
                    pronouns: sysInfo[i].pronouns,
                    birthday: sysInfo[i].birthday
                });
                    $('#roster')
                    .append($(`<li> <input type="checkbox" name="alterChoice" value=${alterInfo.replace(/,(?!["{}[\]])/g, "")} onchange="boxCount()"><label for="alterChoice"><img src="${sysInfo[i].avatar_url}" class="vtinyimg"> ${sysInfo[i].display_name || sysInfo[i].name}</label></li>`)
                        .hide()
                        .fadeIn(500)
                    );
                // systemArray.push({name: sysInfo[i].display_name || sysInfo[i].name, img: sysInfo[i].avatar_url});
                // $("#altField").val(`${JSON.stringify(systemArray)}`);
            }
            $("#submitAlt").show("fast");
                
            } else if (sysInfo.code== 0){
                $("#Wait").html(`<strong>Sorry!</strong> Either Pluralkit's API is down, or we had trouble sending a request. Try again later!`);
            } else {
               // Not found.
               $("#Wait").html(`<strong>Hmmm... are you sure?</strong> Pluralkit couldn't find a <%- session.system_term %> with that ID. Try again.`);
            }
            }
           
        }



    </script>
</html>
