<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            #roster{
                list-style-type: none;
            }
            #loadcontainer{
                width: 100%;
                height: 2em;
                background: var(--col2);
                padding:calc(.25em);
            }
            #loadbar{
                /* background: var(--col1); */
                background: linear-gradient(var(--col1), var(--col4));
                height: inherit;
                width: 0%;
                /* width: 50%; */
                border-radius: 0 1em 1em 0;
            }
        </style>
    <script>
        function randomise (arr){
	return arr[Math.floor(Math.random()*arr.length)];
}
    </script>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <img src="https://avatars.githubusercontent.com/u/94687283?s=200&v=4" class="tinyimg" style="float:left;" alt="Pluralkit icon"><h1>Import from Pluralkit</h1>
            <p>Use Pluralkit? We can fetch your <%- pluralize(cookies.alter_term) %> and add them to your account. Importing will create a new <%- cookies.system_term %> that can be renamed on the <a href="/system">My <%- capitalise(cookies.system_term) %></a> page</a>.</p>
            <p><em>Don't know your system ID?</em> Direct message "pk;s" to Pluralkit, or type "pk;s" in a channel that Pluralkit can view.</p>
            <p>Adding your Pluralkit token is completely optional. Adding your token allows Lighthouse to fetch your private <%- pluralize(cookies.alter_term) %> as well. We do not store this token, or your <%= cookies.system_term %>'s ID. <strong>Do not share your token with anyone you do not trust.</strong> We cannot fetch your Lighthouse account using your Pluralkit system ID.</p>
            <form>
                <label for="pid">Pluralkit system ID</label>
                
                <input type="text" minlength="5" maxlength="6" id="pid" required autocomplete="off"><br>
                <label for="pktoken">Optional: Pluralkit token </label><input type="text" id="pktoken" autocomplete="off"><br>
                <button onclick="getPK()">Fetch from Pluralkit</button>
            </form>
            <textarea id="jsonPlop" style="display:none;"></textarea>
            <span id="Wait"></span>

            <div id="submitAlt" style="display:none;">
                
                <span class="linkbutton" id="selectAllAlters">Select All</span><br>
                <label for="sysLoc">These <%- pluralize(cookies.alter_term) %> will be imported into: </label>
                <select name="sysLoc" id="sysLoc">
                    <option value="new" selected>Create New <%- capitalise(cookies.system_term) %></option>
                </select>
                <button onclick="allAboard()" id="import">Import <%= capitalise(cookies.system_term) %></button>
                <p class="splash">"Create New <%- capitalise(cookies.system_term) %>" will create a new <%- cookies.system_term %> called "Imported from Pluralkit". If you already have a <%- cookies.system_term %> named that, 3 random numbers will be appended to the end to prevent confusion. Press "rename" next to these <%- pluralize(cookies.system_term) %>' names on the "My <%- capitalise(cookies.system_term) %>" page to rename them to whatever you like.</p>
                <ul id="roster">

                </ul>
                
            </div>
    </div>
    <div id="screen" class="modal" style="display:none;">
        <div id="modal-content" class="modal-content" style="overflow:hidden;">
            <h2>Talking to Pluralkit. Please wait.</h2>
            <img src="/img/svg/bubbles.svg" class="medimg">
            <p><strong>Moving things over from Pluralkit can take some time.</strong> If you have a large <%= cookies.system_term %>, this may take a bit.</p>
            <p id="systemcreate" style="display: none;" class="loading">Creating the <%= cookies.system_term %></p>
            <p id="importalter" style="display: none;"><span class="loading">Importing <span id="altname"><%= pluralize(cookies.alter_term) %></span> to <span id="systemDrop">SYS</span></span></p>
            <div id="loadcontainer">
                <div id="loadbar"></div>
            </div>
        </div>
        
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        function cleanString(input) {
            return input.replace(/[^\x00-\x7F]/gi, " ")
        }
        // var checkedCount= $('input:checkbox:checked').length;
        $(document).ready(function(){
            $("#selectAllAlters").click(function() {
                    // var cblist = $("input[name=alterChoice]");
                    if ($("#selectAllAlters").text()== "Select All"){
                       $('input:checkbox.alterChoice').each(function(){
                            $(this).prop('checked',true);
                    }) 
                    $("#selectAllAlters").text("Unselect All");
                    } else {
                        $('input:checkbox.alterChoice').each(function(){
                            $(this).prop('checked',false);
                    }) 
                    $("#selectAllAlters").text("Select All");
                    }
                       
                }); 
                
            });
        
        function boxCount(){
            $("#checkCount").html($('input[name=alterChoice]:checked').length);
            $('input[name=alterChoice]').on('change', function (e) {

        });
        }

        async function getPK(){
            event.preventDefault();
            $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
            var pkID= $("#pid").val();
            if (pkID.length <5 ){
                // Blank.
                $("#Wait").html("Please type the <%- cookies.system_term %> ID.")
            } else {
            $("#roster").html("");
            // Go grab pluralkit

            // Conditional for if they provided a token or not!
            let response = await fetch(`https://api.pluralkit.me/v2/systems/${pkID}/members`, { 
                headers: { 
                    "Authorization": $("#pktoken").val(),
                    "User-Agent": `Lighthouse/Web App (<%- config.URL_PREFIX %>, <%- config.ADMIN_EMAIL %>, put here for contact if PK devs need to)` 
                } 
            });
            let body = await response.text();
            $("#jsonPlop").text(body)
            let sysInfo = JSON.parse(body);
            var altJSON= sysInfo;
            $("#Wait").html("<h3>Lighthouse will import:</h3>");
            
            let systemArray = new Array();
            
            if (!sysInfo.message){
                // System found.
                for (i in sysInfo){
                
                var alterName= sysInfo[i].display_name == null ? sysInfo[i].name : sysInfo[i].display_name;
                    $('#roster')
                    .append($(`<li> <input type="checkbox" class="alterChoice" value=${sysInfo[i].id} onchange="boxCount()" id=${sysInfo[i].id}><label for=${sysInfo[i].id}><img src="${sysInfo[i].avatar_url}" class="vtinyimg"> ${sysInfo[i].display_name || sysInfo[i].name}</label></li>`)
                        .hide()
                        .fadeIn(500)
                    );
            }
            $("#submitAlt").show("fast");
                
            } else if (sysInfo.code== 0){
                $("#Wait").html(`<strong>Sorry!</strong> Either Pluralkit's API is down, or we had trouble sending a request. Try again later!`);
            } else {
               // Not found.
               $("#Wait").html(`<strong>Hmmm... are you sure?</strong> Pluralkit couldn't find a <%- cookies.system_term %> with that ID. Try again.`);
            }

            response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "systems"
                } 
            });
            body = await response.text();
            if (!response.ok) return $("#wrapper").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");

            sysInfo = JSON.parse(body);
            for (i in sysInfo.systems){
                $("#sysLoc").append(`<option value="${sysInfo.systems[i].sys_id}">${sysInfo.systems[i].alias}</option>`);
            }
           
        }
    }

    async function allAboard(){
        // 
        event.preventDefault();
        if ($('.alterChoice:checkbox:checked').length == 0) return;
        var newAlts = [];
        $('.alterChoice:checkbox:checked').each(function() {
        newAlts.push($(this).val());
        });
        $("#screen").fadeIn("slow");
        // For each checked item, make a call to Pluralkit to grab information. Then make a call to Lighthouse to import that information.
        /* 

            <p id="systemcreate" style="display: none;">Creating the system...</p>
            <p id="importalter" style="display: none;"><span class="loading">Importing <span id="callno">0</span> of <span id="importno">0</span> alters to <span id="systemDrop">SYS</span></span></p>

        */
       let chosenSystem; // This will be the ID for where the alters go.
       let systemName;
        if ($("#sysLoc").val() == "new"){
            $("#systemcreate").show();
            systemName= `a ${randomise(['brand', 'shiny', 'whole'])} new <%= cookies.system_term %>`;
            let response = await fetch(`/system-data`, { 
                method: "PUT",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                }, 
                body: JSON.stringify({
                  "edit": "pluralkit-system"
                })
            });
            let body = await response.text();
            if (!response.ok) return $("#wrapper").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");
            let sysInfo = JSON.parse(body);
            if (sysInfo.code==200){
                // We're good!
                chosenSystem= sysInfo.sys_id;
            }
        } else {
            chosenSystem=$("#sysLoc").val();
            systemName= $("#sysLoc").children("option").filter(":selected").text();
        }
        $("#systemcreate").hide()
        $("#systemDrop").text(systemName);
        $("#importalter").show();
        var callno= 0;
        let altJSON= JSON.parse($("#jsonPlop").text());
        let altQue= altJSON.filter((alter)=>newAlts.includes(alter.id));

        while (callno < altQue.length) {
            var alter = altQue[callno];
                const lhresponse = await fetch(`/system-data`, { 
                    method: "PUT",
                    headers: { 
                    "api-lh-call": "api-lh-call",
                    'Content-Type': 'application/json',
                    }, 
                    body: JSON.stringify({
                    "edit": "pluralkit-alter",
                    "sysId": `${chosenSystem}`,
                    "name": alter.display_name == null ? alter.name : alter.display_name,
                    "pronouns": alter.pronouns,
                    "avatar": alter.avatar_url,
                    "birthday": alter.birthday,
                    "pk_id": alter.id
                    })
                });
                
                $("#altname").text(alter.name)
                $("#loadbar").animate({width: ((callno+1)/($('.alterChoice:checkbox:checked').length) * 100) + "%"}, 200 );

                if (callno == altQue.length -1){
                    // Last iteration.
                    $("#modal-content").html(`<h2>All aboard!</h2><p>All of your <%= pluralize(cookies.alter_term) %> have been imported to ${systemName}.</p>`)
                    $.iaoAlert({ msg: `Everyone has been imported! Taking you to your imported <%= session.system_term %> page now...`, type: "success", mode: "dark", autoHide: false })
                    setTimeout(function(){
                        window.location.replace(`/system/${chosenSystem}`);
                    }, 2000);
                }
                if (lhresponse.ok){
                    callno++;  
                } else {
                    $.iaoAlert({ msg: `We hit a snag trying to import ${alter.name}. Trying to import this <%= cookies.alter_term %> again...`, type: "error", mode: "dark", autoHide: false })
                }
        }
    }

    </script>
    </body>
</html>
