<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
		<style>
			form input[type="text"] {
				text-transform: lowercase;
			}
			#popup{
				z-index:999;
			}
			#fadein{
				opacity:0.8;
				background-color:black;
				position:fixed;
				width:100%;
				height:100%;
				top:0px;
				left:0px;
				z-index:998;
				content:"";
				display:none;
						}
			section{
				border-top: 1px solid black; 
				margin-top: calc(3vh);
			}
		</style>
    </head>
    <body>
		<% var maxLimit= 12 %>
        <%- include ("../partials/nav.ejs") %>
		<!-- <div id="pseudofade" style="z-index:-9999998; background: rgba(0,0,0,.75); position: absolute; top: -30vh; left: -30vw; width: 0; height: 0; opacity: 0; transition:0.7s;"></div> -->
        <div id="wrapper">
			<% if (locals.messages.flash) { %>
				<div class="splash"><%- locals.messages.flash %></div>
			<% } %>
			<h1>Edit Your Account</h1>
				<h2>Global <%- capitalise(cookies.system_term) %> Settings</h2>
				<form method="post" style="margin-top:calc(.5em);">
					<p>Custom Terms max character limit: <%= maxLimit %></p>
					<label for="altTerm">Term preferred for "alter": </label>
					<input type="text" name="altTerm" placeholder="<%- cookies.alter_term %>" minlength="1" maxlength="<%= maxLimit %>"><br>
					<label for="sysTerm">Term preferred for "system": </label>
					<input type="text" name="sysTerm" placeholder="<%- cookies.system_term %>"minlength="1" maxlength="<%= maxLimit %>"><br>
					<label for="subTerm">Term preferred for "subsystem": </label>
					<input type="text" name="subTerm" placeholder="<%- cookies.subsystem_term %>"minlength="1" maxlength="<%= maxLimit %>"><br>
					<label for="iwTerm">Term preferred for "inner world": </label>
					<input type="text" id="iwTerm" name="iwTerm" placeholder="<%- cookies.innerworld_term || session.innerworld_term %>"minlength="1" maxlength="<%= maxLimit %>"><br>
					<label for="plurTerm">Term preferred for "plural": </label>
					<input type="text" id="plurTerm" name="plurTerm" placeholder="<%- cookies.plural_term || session.plural_term %>" minlength="1" maxlength="<%= maxLimit %>"><br>

					<p><small><em>Note: the custom term for "plural" will eventually show itself on the site. Right now, it's not used.</em></small></p>
					<label for="innerworld">Enable/Disable <%- capitalise(session.innerworld_term) %></label>
					<select name="innerworld" id="innerworld">
						<option value="true" <% if (session.inner_worlds == true) { %> selected <%}%>>Enabled</option>
						<option value="false" <% if (session.inner_worlds == false) { %> selected <%}%>>Disabled</option>
					</select>
					<input type="submit" value="Update Settings" style="display:block;">
					</form>
			<section>
				<h2>Account Settings</h2>
				<!-- Change email, username, password. Fetch from our DB as they type -->
				<form method="post" style="margin-top:1em">
					<label for="newEmail">Email address</label>
					<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="newEmail" id="newEmail" placeholder="<%- theirEmail %>"> <button id="checkEmail">Check Availability</button> <br>
					<label for="newName">Username</label>
					<input type="text" name="newName" id="newUser" placeholder="<%- theirName %>"> <button id="checkUser">Check Availability</button><br>
					<input type="submit" name="updateUser" value="Update Account" disabled id="updateAccount">
				</form>
				<form method="post" style="margin-top:1em;">
				<label for="newPass1">New Password </label><input type="password" id="newPass1" name="newPass1" minlength="8" autocomplete="new-password">
					<div id="newPass3" style="display:none;"><br><label for="newPass2">Verify Password </label><input type="password" id="newPass2" name="newPass2" minlength="8" autocomplete="new-password"><span id="passFail"></span></div><br>
					<input type="submit" name="changePass" id="changePass" value="Update Password" disabled>
				</form>
				<form method="post" style="margin-top:1em;">
					<label for="userlang">User Language (still a work in progress)</label>
					<select name="userlang" id="userlang">
						<option value="en" <% if (session.language == "en") {%> selected <% }%>>English 🇬🇧</option>
						<option value="es" <% if (session.language == "es") {%> selected <% }%>>Español 🇪🇸</option>
						<option value="fr" <% if (session.language == "fr") {%> selected <% }%>>Français 🇫🇷</option>
						<option value="de" <% if (session.language == "de") {%> selected <% }%>>Deutsch 🇩🇪</option>
						<option value="ko" <% if (session.language == "ko") {%> selected <% }%>>한국인 🇰🇷</option>
						<option value="pl" <% if (session.language == "pl") {%> selected <% }%>>Polski 🇵🇱</option>
						<option value="fil" <% if (session.language == "fil") {%> selected <% }%>>Filipino 🇵🇭</option>
						<option value="jp" <% if (session.language == "jp") {%> selected <% }%>>日本語 🇯🇵</option>
						<option value="uk" <% if (session.language == "uk") {%> selected <% }%>>Українська 🇺🇦</option>
						<option value="gd" <% if (session.language == "gd") {%> selected <% }%>>Gàidhlig na h-Alba 🏴󠁧󠁢󠁳󠁣󠁴󠁿</option>
						<option value="ie" <% if (session.language == "ie") {%> selected <% }%>>Gaeilge 🇮🇪</option>
						<option value="it" <% if (session.language == "it") {%> selected <% }%>>Italiano 🇮🇹</option>
						<option value="eo" <% if (session.language == "eo") {%> selected <% }%>>Esperanto 🇺🇳</option>
					</select><br>
					<input name="languageUpdate" type="submit" value="Update Language"><br>
					<small>Default language is English.</small>
				</form>
			</section>
			<section>
				<h3>Customisation</h3>
				<form method="post" style="margin-top:calc(.5em);">
					<label for="skinSel">Select a skin for Lighthouse (Light mode only): </label>
					<select id="skinSel" name="skinSel" onchange="flashInfo()">
						<option value="lighthouse" <% if (cookies.skin=="lighthouse"){ %>selected<%} %>>Lighthouse (Default)</option>
						<option value="waves"<% if (cookies.skin=="waves"){ %>selected<%} %>>Waves</option>
						<option value="shells"<% if (cookies.skin=="shells"){ %>selected<%} %>>Shells</option>
						<option value="slate"<% if (cookies.skin=="slate"){ %>selected<%} %>>Slate</option>
						<option value="mermaid"<% if (cookies.skin=="mermaid"){ %>selected<%} %>>Mermaid</option>
						<option value="coral"<% if (cookies.skin=="coral"){ %>selected<%} %>>Coral</option>
						<option value="sand"<% if (cookies.skin=="sand"){ %>selected<%} %>>Sand (Brown)</option>
						<option value="icecream"<% if (cookies.skin=="icecream"){ %>selected<%} %>>Ice Cream (Pastel)</option>
						<option value="winter"<% if (cookies.skin=="winter"){ %>selected<%} %>>Winter</option>
						<option value="spring"<% if (cookies.skin=="spring"){ %>selected<%} %>>Spring</option>
						<option value="summer"<% if (cookies.skin=="summer"){ %>selected<%} %>>Summer</option>
						<option value="autumn"<% if (cookies.skin=="autumn"){ %>selected<%} %>>Autumn</option>
						<option value="gorillaz"<% if (cookies.skin=="gorillaz"){ %>selected<%} %>>Plastic Beach</option>
					</select>
					<span id="skinsplash"></span><br><br>
					<label for="textsize">Website text size</label><br>
					<div style="display:flex; align-items: center;">
					<input type="range" name="textsize" id="textsize" min="0.95" max="1.1" value="<% if (cookies.textsize){ %><%= cookies.textsize %><% } else { %>1<% } %>" step=".05" onchange="showFontSize()"> <span id="sizesplash" style="font-size: .75em;"></span><br>
						
					</div>
					<input type="submit" value="Set Customisation Settings">
				</form>
			</section>
			<section>
				<h2><span class="material-symbols-outlined">dangerous</span> Danger Zone <span class="material-symbols-outlined">dangerous</span></h2>
			<h3>Delete Your Account</h3>
			<p>This is an <strong>irreversible action</strong>. All <%- pluralize(cookies.alter_term) %>, journals, inner world entries and rules will be deleted with this account.</p>
			<div id="popup" style="box-shadow: 0px 0px 50px var(--col5);">
				<h2>Are you sure you want to delete your account?</h2>
				<p>This cannot be undone, not even by the developer. Everything will be permanently deleted. Are you <em>sure</em> this is what you want to do?</p>
				<button id="cancelDelete" onclick="warningPopUp()">No, Go Back</button>
				<form method="post" style="margin-top:calc(.5em);">
				<input type="submit" id="finalwarning" name="deleteAcc" value="Yes, Delete My Account"></input>
				</form>
				
			</div>
			<button id="firstwarning" class="warningbutton" onclick="warningPopUp()">Delete Account</button>
		</div>
			</section>
			<div id="fadein"></div>
			
<%- include ("../partials/footer.ejs") %>
	<script>
		function flashInfo(){
						var skinDesc;
						switch($("#skinSel").val()){
							case "lighthouse":
								skinDesc= "The default look for Lighthouse."
							break;
							case "waves":
								skinDesc= "This skin is primarily blue."
							break;
							case "shells":
								skinDesc= "This skin is primarily pink."
							break;
							case "slate":
								skinDesc= "This skin is mainly in greyscale."
							break;
							case "mermaid":
								skinDesc= "This skin is a fun mix of green, purple and teal."
							break;
							case "coral":
								skinDesc= "This skin is red, pink and purple."
							break;
							case "sand":
								skinDesc= "This skin is entirely beige."
							break;
							case "icecream":
								skinDesc= "This skin is an assortment of pastel colours."
							break;
							case "winter":
								skinDesc= "This skin is winter themed."
							break;
							case "spring":
								skinDesc= "This skin is spring themed."
							break;
							case "summer":
								skinDesc= "This skin is summer themed."
							break;
							case "autumn":
								skinDesc= "This skin is autumn themed."
							break;
							case "gorillaz":
								skinDesc= "This skin is based off of Gorillaz, the Lighthouse System's favourite band."
							break;
							default:
								skinDesc=""
								break;
						}
						$("#skinsplash").html("<em>"+ skinDesc + "</em>")
					}
		$('#innerworld').change(function() {
			$('#intoggle').submit();
		});
		function warningPopUp(){

			$("#popup").fadeToggle("fast");
			$('#fadein').fadeToggle(200);
		}
		$('#newPass1').keyup(function(){
			$('#newPass3').show();
			if ($('#newPass1').val() == $('#newPass2').val() && $('#newPass1').val().length >= 8 && $('#newPass2').val().length >= 8){
				// enable the submit button
				$("#passFail").html(`✅`);
				$("#changePass").prop('disabled', false);
			} else {
				//disable submit.
				$("#passFail").html(`❌ <small>Passwords must match and be at least 8 characters long.</small>`);
				$("#changePass").prop('disabled', true);
			}
			});

		$('#newPass2').keyup(function(){

			if ($('#newPass1').val() == $('#newPass2').val() && $('#newPass1').val().length >= 8 && $('#newPass2').val().length >= 8){
				// enable the submit button
				$("#passFail").html(`✅`);
				$("#changePass").prop('disabled', false);
			} else {
				//disable submit.
				$("#passFail").html(`❌ <small>Passwords must match and be at least 8 characters long.</small>`);
				$("#changePass").prop('disabled', true);
			}

			if ($('#newPass2').val().length == 0){
				// Hide it.
				$("#newPass3").hide();
				$("#newPass1").val("");
			}
		});

		$("#checkEmail").click(async function(){
			event.preventDefault();
			// We need to fetch from our database to see if the email they're asking for already exists.
			if ($("#newEmail").val().length == 0){
				$("#checkEmail").html(`No email was entered.`);
				return setTimeout(function(){
					$("#checkEmail").html(`Check Availability`);
				},2000);
			}
			$("#checkEmail").html(`Checking...`);
			let response = await fetch(`/users`, {
				headers: {
				"api-lh-call": "api-lh-call",
				"email": $("#newEmail").val()
				}
			});
            let body = await response.text();
            let bodyInfo = JSON.parse(body);
            if (bodyInfo.taken== false){
				// Not taken and received HTTP code 200. Do it!
				$("#checkEmail").html(`✅ Available email.`);
				$("#updateAccount").prop('disabled', false);
			} else {
				// Either taken or the database didn't like that.
				$("#checkEmail").html(`This email is in use. ❌`);
				$("#updateAccount").prop('disabled', true);
			}
		});
		$("#checkUser").click(async function(){
			event.preventDefault();
			// We need to fetch from our database to see if the email they're asking for already exists.
			if ($("#newUser").val().length == 0){
				$("#checkUser").html(`No username was entered.`);
				return setTimeout(function(){
					$("#checkUser").html(`Check Availability`);
				},2000);
			}
			$("#checkUser").html(`Checking...`);
			let response = await fetch(`/users`, {
				headers: {
				"api-lh-call": "api-lh-call",
				"username": $("#newUser").val()
				}
			});
            let body = await response.text();
            let bodyInfo = JSON.parse(body);
            if (bodyInfo.taken== false){
				// Not taken and received HTTP code 200. Do it!
				$("#checkUser").html(`✅ Available username.`);
				$("#updateAccount").prop('disabled', false);
			} else {
				// Either taken or the database didn't like that.
				$("#checkUser").html(`This username is in use. ❌`);
				$("#updateAccount").prop('disabled', true);
			}
		});
		function showFontSize(){
			var sizeText;
			switch($("#textsize").val()){
				case "0.95":
					sizeText="smallest";
					break;
				case "1.05": 
					sizeText="larger";
					break;
				case "1.1": 
					sizeText="largest"
					break;
				default: 
					sizeText= "default";
					break;
			}
			$("#sizesplash").text(sizeText);
			// $("*").css("fontSize", `${$("#textsize").val() * 100}%`);
		}
		showFontSize();
	</script>
    </body>
</html>
