<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            label{
                display: block;
            }
            textarea{
                width: 90%;
            }
            p{
                text-indent: 0;
                padding-left: 1em;
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
<h2>Your Safety Plan</h2>
                    <p>Each user has one safety plan. This is for when you or your <%- session.system_term %> are experiencing a mental health crisis.</p>
                    <p>Some areas have information already added in for you.</p>
                    <a href="/safety-plan/edit" class="linkbutton"><% if (safetyplan){ %>Edit<% } else { %>Create<% } %> Your Plan</a>
                    <% if (safetyplan){ %>
                    <a class="linkbutton" name="download"  id="download" onclick="makePDF()">Generate Plan PDF</a>
                    <a class="linkbutton" style="display:none;" id="pdf" download>Download Plan PDF</a><br>
                    <span id="pdfdisclaimer"></span>
                        <% } %>
                    
                    <hr>
            <% if (safetyplan){ %>
                <section>
                    
                    <h3>Warning Signs</h3>
                    <p>Signs you may be having a mental health crisis includes:</p>
                    <p><%- safetyplan.symptoms.replace(/\n/g, "<br>") %></p>
                    <h3>Loved Ones</h3>
                    <p>A few people you can reach out to include:</p>
                    <p><%- safetyplan.safepeople.replace(/\n/g, "<br>") %></p>
                    <h3>Distractions</h3>
                    <p>You can distract yourself from a crisis by:</p>
                    <p><%- safetyplan.distractions.replace(/\n/g, "<br>") %></p>
                    <h3>Keeping Safe</h3>
                    <p>Keep yourself safe by:</p>
                    <p>Removing sharps and weapons from the immediate vicinity.</p>
                    <p><%- safetyplan.keepsafe.replace(/\n/g, "<br>") %></p>
                    <h3>Grounding</h3>
                    <p>You can ground yourself by:</p>
                    <p><%- safetyplan.grounding.replace(/\n/g, "<br>") %></p>
                    <ul>
                        <li><strong>5-4-3-2-1:</strong> In your surroundings, count 5 things you can see, 4 things you can feel, 3 things you can hear, 2 things you can smell (or two scents you like), and 1 positive thing about yourself.</li>
                        <li><strong>Re-Orientation:</strong> Bring yourself back to the present by stating simple facts about it. "(x) is today's date", "The current season is (x)", "The current year is (x)".</li>
                        <li><strong>Movement:</strong> Squeeze a pillow or something soft, rub your palms, clap, or clench your fists. Pay extra attention to the tactile feeling of these things.</li>
                        <li><strong>Sensory:</strong> Sniff a scented candle, run cool or warm water over your hands, or feel the weight of objects around you in your hands.</li>
                        <li><strong>Then and Now:</strong> On a piece of paper, draw a line vertically down the middle. On the left side, write basic facts that applied during the time you're currently recounting in your head. On the right side, write down how those facts have changed in the present.</li>
                    </ul>
                    <h3>Getting Help</h3>
                    <p>If all else fails, you can contact the following:</p>
                    <p><%- safetyplan.safepeople.replace(/\n/g, "<br>") %></p>
                </section>
            <% } else { %>
                <section>
                    <p>You do not have a safety plan yet, or one hasn't been loaded.</p>
                </section>
            <% } %>
            
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
        // send GET Request to API 
        async function makePDF(){
            event.preventDefault();
            $("#download").text("Please wait...");
            let response = await fetch(`/safety-plan`, { 
            method: "GET",
                        headers:{
                            "api-lh-call": "api-lh-call",
                            'Accept': 'application/json',
                             'Content-Type': 'application/json',
                             "user" :  "<%- cookies.u_id %>"
                        }
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            console.log(sysInfo)
            $("#download").hide();
            $("#pdf").show();
            $("#pdf").attr({
                    href  : "pdfs/" + sysInfo.download});
            $("#pdfdisclaimer").text("PDFs are deleted from the server 5 minutes after generation.");
            removePDF();
        }
        async function removePDF(){
            setTimeout(async function(){
                let response = await fetch(`/safety-plan`, { 
            method: "DELETE",
                        headers:{
                            "api-lh-call": "api-lh-call",
                            'Accept': 'application/json',
                             'Content-Type': 'application/json',
                             "user" :  "<%- cookies.u_id %>"
                        }
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            console.log(sysInfo);
            }, 300000);
        }
    </script>
    </body>
</html>
