<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    </head>
    <body>
        
        </script>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <h2><%= capitalise(cookies.alter_term) %> Search</h2>
                <form autocomplete="off" autocapitalize="off">
                    <label for="options">Search for <%= pluralize(cookies.alter_term) %> by...</label>
                    <select name="options" id="options">
                        <option value="name">Name</option>
                        <option value="sys_alias"><%= capitalise(cookies.system_term) %></option> <!-- Only show up if the user has multiple systems?-->
                        <option value="pronouns">Pronouns</option>
                        <option value="type">Type</option>
                        <option value="source">Source (if introject)</option>
                        <option value="job">Job/Role</option>
                        <option value="agetext">Age</option>
                        <option value="notes">Notes</option>
                        <option value="any">All fields</option>
                    </select>
                    <label for="query">Query </label>
                    <input type="text" name="query" id="query">
                    <input type="submit" value="Search" id="search" autocomplete="off" autocapitalize="off">
                    <button id="showall">Show all</button>
                </form>

            </section>
            <hr>
            
            <section>
                <span id="resNum"></span>
                <table style="width: 90%;" id="resultTable" class="tabulator tabulator-theme-dark">
                    <thead style="text-align: left;">
                      <tr id="headerRes">
                      </tr>
                    </thead>
                    <tbody id="searchRes">
                    </tbody>
                    </table>
                    <div id="wait" style="margin: 0 auto; text-align: center; display:none;"><lottie-player src="https://assets4.lottiefiles.com/packages/lf20_l3qbbu7w.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" autoplay loop></lottie-player></div>
            </section>

            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script>
        
        $(document).ready(function(){
            var table = new Tabulator("#resultTable", {
                layout:"fitDataStretch",
                        columns:[
                        {title:"Name", field:"name", formatter: "html", sorter:"string", headerSortStartingDir:"desc"},
                        
                        {title: "Age", formatter: "html", field: "age"},
                        {title:"<%= capitalise(cookies.system_term) %>", field:"syslink", formatter: "html"},
                        {title:"Pronouns", field:"pronouns", formatter: "html"},
                        {title:"Type", field:"type", formatter: "html"},
                        {title:"Job", field:"job", formatter: "html"},
                        {title: "Source", field: "source", formatter: "html"},
                        {title: "Notes", field: "notes", formatter: "plaintext"},
                        {title: "Archived", field: "is_archived"},
                        ]
                        });
            $("#resultTable").hide();
                    
            $("#showall").click (async function(){
                // (req.session.alters).sort((a, b) => a.name.localeCompare(b.name))
                event.preventDefault();
                $("#headerRes").empty();
                $("#searchRes").empty();
                $("#resNum").empty();
                $("#wait").show();
                var searchResults= new Array();
                let results= await fetchData().then(res=>{
                    // $("#headerRes").html(`<th>Alter</th><th>System</th><th>Pronouns</th><th>Type</th><th>Role/Job</th><th>Source</th>`);
                    (res.search).sort((a, b) => a.name.localeCompare(b.name))
                    for (i in res.search){
                        searchResults.push({
                                syslink: `${res.search[i].sys_alias} <a href="/system/${res.search[i].sys_id}"><i class="fa fa-external-link" aria-hidden="true"></i></a>`,
                                archived: res.search[i].is_archived, 
                                name: `${res.search[i].name} <a href="/alter/${res.search[i].alt_id}"><i class="fa fa-external-link" aria-hidden="true"></i></a>`,
                                pronouns: res.search[i].pronouns,
                                type: res.search[i].type,
                                job: res.search[i].job,
                                source: res.search[i].source,
                                age: res.search[i].agetext,
                                notes: res.search[i].notes,
                                is_archived: (res.search[i].is_archived == false ? "No" : "Yes")
                            });
                    }
                    $("#wait").hide();
                    $("#resultTable").fadeIn("fast");
                    table.setData(searchResults);
                
                });
            });
            $("#search").click(async function(){
                event.preventDefault();
                $("#headerRes").empty();
                $("#searchRes").empty();
                $("#resNum").empty();
                if ($("#query").val().length == 0 ) return;
                let query= ($("#query").val()).toLowerCase();
                let options= $('#options').find(":selected").val();

                $("#wait").show();
                let results= await fetchData().then(res=>{
                    $("#headerRes").html(`<th>Alter</th><th>System</th><th>Pronouns</th><th>Type</th><th>Role/Job</th><th>Source</th>`);
                    var searchCount = 0;
                    table.clearData();
                    var searchResults= new Array();
                    if (options == "any"){
                        // Look in all keys.
                        for (i in res.search){
                            for (n in res.search[i]){
                                if (typeof res.search[i][n] !== "boolean" && res.search[i][n] !== null){
                                   if (res.search[i][n].toLowerCase().includes(query)){
                                    searchCount++;
                                    searchResults.push({
                                            syslink: `${res.search[i].sys_alias} <a href="/system/${res.search[i].sys_id}"><i class="fa fa-external-link" aria-hidden="true"></i></a>`,
                                            archived: res.search[i].is_archived, 
                                            name: `${res.search[i].name} <a href="/alter/${res.search[i].alt_id}"><i class="fa fa-external-link" aria-hidden="true"></i></a>`,
                                            pronouns: res.search[i].pronouns,
                                            type: res.search[i].type,
                                            job: res.search[i].job,
                                            source: res.search[i].source,
                                            age: res.search[i].agetext,
                                            notes: res.search[i].notes,
                                            is_archived: (res.search[i].is_archived == false ? "No" : "Yes")
                                        });
                                    break;
                                } 
                                }
                                
                            }
                        }

                    } else {
                        // Just look in options.
                        for (i in res.search){
                        if (res.search[i][options]){
                            if ((res.search[i][options]).toLowerCase().includes(query)){
                                searchCount++;
                                searchResults.push({
                                            syslink: `${res.search[i].sys_alias} <a href="/system/${res.search[i].sys_id}"><i class="fa fa-external-link" aria-hidden="true"></i></a>`,
                                            archived: res.search[i].is_archived, 
                                            name: `${res.search[i].name} <a href="/alter/${res.search[i].alt_id}"><i class="fa fa-external-link" aria-hidden="true"></i></a>`,
                                            pronouns: res.search[i].pronouns,
                                            type: res.search[i].type,
                                            job: res.search[i].job,
                                            source: res.search[i].source,
                                            age: res.search[i].agetext,
                                            notes: res.search[i].notes,
                                            is_archived: (res.search[i].is_archived == false ? "No" : "Yes")
                                        });
                            }                           
                        }

                    }
                    }

                    
                    if (searchCount < 1){
                        // No results.
                        
                        $("#searchRes").append(`<tr><td colspan="4" style="text-align: center;"><img src="/img/svg/noresults.svg" class="vtinyimg">Hmmm... Nothing found under "${query}".</td></tr>`);
                    } else {
                        $("#resNum").text(`${searchCount} ${searchCount == 1 ? 'result': 'results'} found`);
                    }
                    $("#resultTable").fadeIn("fast");
                    table.setData(searchResults);
                });
                $("#wait").hide();

            });
        });

        async function fetchData(){
            let response = await fetch(`/system-data`, { 
            method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "alters"
                } 
            });
            let body = await response.text();
            let resInfo = JSON.parse(body);
            return resInfo;
        }
        
</script>
    </body>
</html>
