<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
 
         
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Set <%= Buffer.from(chosenAlter.name, 'base64').toString() %>'s Mood</h2>
            <form method="post" name="mood">
                <label for="mood"><%= Buffer.from(chosenAlter.name, 'base64').toString() %> is feeling...</label>
                <select name="mood">
                    <% for (i in moods) { %>
                        <option value= "<%- i %>"><%- moods[i].name %> <%- moods[i].emoji %></option>
                        <% } %>
                </select><br>
                <label for="reason">What might be behind this emotion?<br></label>
                <textarea name="reason"></textarea><br>
                <input type="submit" value="Set Mood">
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
