<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ("../partials/header.ejs") %>
    <style>
      input[type="email"],
      input[type="username"],
      input[type="password"],
      input[type="submit"],
      #passSplash,
      #emailSplash {
        display: block;
      }
      #passSplash,
      #emailSplash {
        margin-top: -2em;
        margin-bottom: 1em;
        font-weight: 300;
        font-style: italic;
        font-size: 0.85em;
      }
    </style>
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
    ></script>
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
      <% if (cookies.loggedin){ %>
      <img src="/img/svg/buoy.svg" style="height: calc(24em); float: left" />
      <h1>You're already signed in.</h1>
      <p>We appreciate your enthusiasm, but you already have an account.</p>
      <% } else { %> <% if (locals.messages.flash) { %>
      <div class="splash"><%- locals.messages.flash %></div>
      <% } %>
      <h1>Sign Up to Lighthouse</h1>
      <p>
        We're happy to have you! But first, we need some information.
        <strong>Please use a valid, non-temporary email,</strong> so that if you
        lose your password, you can still reset it. We only email you when
        you've made an account, when you delete an account, if you lose your
        password, or if there's a situation in which we need to email all of our
        users (like a Terms of Service update, or when we eventually implement
        2FA).
      </p>
      <p>
        <strong>Important:</strong> We do not recommend using school or work
        emails. Not only are these often temporary, but they can also be
        monitored by your employer or school. If you use a work or school email,
        you might not receive password reset emails.
      </p>
      <p id="error" class="splash" style="display: none"></p>
      <form method="post" autocomplete="off">
        <label for="email">Email: <br /></label
        ><input
          style="display: inline-block"
          type="email"
          autocomplete="off"
          placeholder="Email"
          id="email"
          name="email"
          required
        /><span id="emailpf"></span><br />
        <label for="emailVerify">Verify Email: <br /></label
        ><input
          style="display: inline-block"
          type="email"
          autocomplete="off"
          placeholder="Email (again)"
          id="emailVerify"
          name="emailVerify"
          required
        />
        <span id="emailSplash"></span>
        <br />
        <label for="username">Username: <br /></label>
        <input
          style="display: inline-block"
          type="username"
          autocomplete="off"
          id="username"
          placeholder="Username"
          name="username"
          min="3"
          max="32"
          required
        /><span id="userpf"></span>
        <br />
        <label for="password">Password: </label>
        <input
          minlength="8"
          type="password"
          autocomplete="off"
          placeholder="Write your password."
          name="password"
          id="pass"
          required
        />
        <label for="v-password">Verify Password: </label>
        <input
          minlength="8"
          type="password"
          autocomplete="off"
          placeholder="Write it again."
          name="v-password"
          id="v-pass"
          required
        />
        <span id="passSplash"></span>
        <hr />
        <h2>Optional Information</h2>
        <div>
          <label for="systerm">What term do you use for "system"? </label
          ><input
            type="text"
            min="1"
            max="16"
            id="systerm"
            name="systerm"
            value="system"
          />
        </div>

        <div>
          <label for="alterm">What term do you use for "alter"? </label
          ><input
            type="text"
            min="1"
            max="16"
            id="alterm"
            name="alterm"
            value="alter"
          />
        </div>

        <label for="ws"
          >Lighthouse has interactive trauma worksheets to help process emotions
          and memories. Would you like to have these enabled on your account?
          You can always enable or disable them later.</label
        ><br />
        <input type="radio" name="ws" value="true" /> Yes
        <input type="radio" name="ws" value="false" /> No
        <br />
        <label for="iw"
          >Would you like to have inner worlds enabled on your account for your
          <span id="sysword"></span> to write about?</label
        ><br /><input type="radio" name="iw" value="true" /> Yes
        <input type="radio" name="iw" value="false" /> No
        <hr />
        <input
          type="checkbox"
          style="margin-top: 1em"
          id="agreement"
          onchange="verifySubmit()"
        />
        <label for="agreement"
          >By signing up, you agree to the
          <a href="/tos" target="_blank">Terms of Service</a> and
          <a href="/cookies" target="_blank">cookie usage</a>. See our
          <a href="/privacypolicy" target="_blank">Privacy Policy</a>.</label
        >
        <% if (cloudflare_key) { %>
        <input
          type="hidden"
          name="mjl2fbbz8s"
          id="mjl2fbbz8s"
          placeholder="Users should not see this! This is a bot honeypot."
        />
        <h1>turnstile</h1>
        <div class="cf-turnstile" data-sitekey="<%= cloudflare_key.replace(/^['"]|['"]$/g, '') %>"></div>
        <% } %>
        <input type="submit" id="signup" value="Sign Up" disabled />
      </form>
      <% } %>
    </div>
    <%- include ("../partials/footer.ejs") %>
    <script>
      $("#sysword").text($("#systerm").val());
      $("#systerm").on("change keyup keydown paste", function () {
        $("#sysword").text($("#systerm").val());
      });
      /* -------------------------------- */
      const button = document.querySelector("#signup");
      const pass = document.querySelector("#pass");
      const vPass = document.querySelector("#v-pass");
      const passSplash = document.querySelector("#passSplash");
      var emailReg = /[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$/;
      // var emailReg= /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/;
      /* -------------------------------- */

      function randomise(arr) {
        return arr[Math.floor(Math.random() * arr.length)];
      }
      function verifySubmit() {
        if (
          pass.value.length >= 8 &&
          pass.value.match(/^(?=.*[a-zA-Z])(?=.*[0-9])/) &&
          document.querySelector("#agreement").checked &&
          $("#email").val().match(emailReg) &&
          $("#emailVerify").val() == $("#email").val() &&
          $("#username").val().length >= 3 &&
          $("#emailpf").text() == "✅" &&
          $("#userpf").text() == "✅"
        ) {
          button.disabled = false;
        } else {
          button.disabled = true;
        }
      }

      $("#email, #emailVerify").on("keyup", function () {
        if ($("#emailVerify").val() == "") return;
        if ($("#email").val() !== $("#emailVerify").val()) {
          $("#emailSplash").html(
            "Email addresses do not match. Did you make a typo?"
          );
        } else {
          $("#emailSplash").html("");
        }
      });

      $("#pass, #v-pass").on("keyup", function () {
        if (pass.value !== vPass.value) {
          passSplash.innerHTML = "Passwords do not match.";
        } else {
          passSplash.innerHTML = "";
        }
        if (
          pass.value.length < 8 ||
          !pass.value.match(/^(?=.*[a-zA-Z])(?=.*[0-9])/)
        ) {
          passSplash.innerHTML +=
            " Please make your password at least 8 characters with letters and a number.";
        }
      });

      $("#email").bind("change paste keyup keydown", async function () {
        if (!$("#email").val().match(emailReg)) return;
        let response = await fetch(`/users`, {
          headers: {
            "api-lh-call": "api-lh-call",
            email: $("#email").val(),
          },
        });
        let body = await response.text();
        let bodyInfo = JSON.parse(body);
        if (bodyInfo.taken == false) {
          // Not taken and received HTTP code 200. Do it!
          $("#emailpf").text(`✅`);
          $("#signUp").prop("disabled", false);
        } else {
          // Either taken or the database didn't like that.
          $("#emailpf").text(`❌ In use`);
          $("#signUp").prop("disabled", true);
        }
        verifySubmit();
      });

      $("#emailVerify").bind("change paste keyup keydown", verifySubmit);

      $("#username").bind("change paste keyup keydown", async function () {
        if ($("#username").val().length < 2) return;
        let response = await fetch(`/users`, {
          headers: {
            "api-lh-call": "api-lh-call",
            username: $("#username").val(),
          },
        });
        let body = await response.text();
        let bodyInfo = JSON.parse(body);
        if (bodyInfo.taken == false) {
          // Not taken and received HTTP code 200. Do it!
          $("#userpf").html(`✅`);
          $("#signUp").prop("disabled", false);
        } else {
          // Either taken or the database didn't like that.
          $("#userpf").html(`❌ In use`);
          $("#signUp").prop("disabled", true);
        }
        verifySubmit();
      });
    </script>
  </body>
</html>
