<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
      .textless{
        height: 1em;
        display: inline;
        font-size: 1.15em;
        padding: 0;
        vertical-align: text-top;
        background: transparent;
        color: var(--col5)
      }
    </style>
</head>

<body>
  <%
  function randomise(arr){
        return arr[Math.floor(Math.random()*arr.length)];
  }
   %>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
      <% if (locals.messages.flash) { %>
        <div class="splash"><%- locals.messages.flash %></div>
    <% } %>
        <section>
            <h2>Rules for Your <%= capitalise(cookies.system_term) %></h2>
            <p>Rules are typically an honour-system thing to establish boundaries within your <%= cookies.system_term %>. Example: "Do not spend copious amounts of money at once without asking other <%= pluralize(cookies.alter_term) %>." Remember: rules in a <%= cookies.system_term %> don't work like rules in a house or at work. If  <%= pluralize(cookies.alter_term) %> violate a rule, there should not be external or internal punishment at any point. <%= capitalise(pluralize(cookies.alter_term)) %> who would continue to violate rules should be discussed with a trusted, qualified professional.</p>
            <p>To delete a rule, press the <i class="fa fa-trash" aria-hidden="true"></i> button. To edit a rule, tap the</p>
            <form method="post">
              <label for="rule">New Rule: </label><br>
              <textarea name="rule" required minlength="8"></textarea><br/>
              <input type="submit" value="Add New Rule" name="create">
            </form>
            <ul id="rules">
              <% for (i in session.sys_rules){ %>
                <li id="<%= session.sys_rules[i].id %>"><%- (Buffer.from(session.sys_rules[i].rule, 'base64').toString()).replace(/\n/g, "<br>") %> <form method="post" style="display: inline;"><button type="submit" name="<%= session.sys_rules[i].id %>" value="Remove" class="textless" onclick="deleteWarn('<%= Buffer.from(session.sys_rules[i].rule, 'base64').toString() %>')"><i class="fa fa-trash" aria-hidden="true"></i>
                </button></form></li>
              <% } %>
            </ul>
        </section>
              <!-- The Modal -->
              <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" id="modalContent">
                  <span class="material-symbols-outlined close">
                    cancel
                    </span>
                    <h2>Edit Rule</h2>
                  <form method="post">
                    <label for="edit">New Rule: </label><br>
                    <textarea id="edit" name="edit"></textarea><br>
                    <input type="hidden" id="ruleid" name="ruleid">
                    <input type="submit" value="Edit Rule">
                  </form>
                </div>

              </div>



    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

<script>
  const controller = new AbortController();
const { signal } = controller;

    function deleteWarn(title){
      if (confirm(`This rule is about to be deleted:\n${title}\nAre you sure?`)){
        console.log("Delete Rule.");
      } else {
        event.preventDefault();
      }
    }

    signal.addEventListener("abort", () => {
  console.log(signal.aborted);
});
  

var modal = document.getElementById("myModal");
          
          var span = document.getElementsByClassName("close")[0];
          $("li").click(function() {
            // modal.style.display = "block";
            $("#myModal").fadeIn("fast");
            $("#edit").val($(this).text().trimEnd());
            $("#ruleid").val($(this).attr('id'))
          })
          span.onclick = function() {
            // modal.style.display = "none";
            $("#myModal").fadeOut("fast");
          }
</script>

</html>
