<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
  .radio-toolbar input[type="radio"] {
         display: none;
}

.radio-toolbar label {
  display: block;
  cursor: pointer;
  width: 6em;
  height: 6em;
  text-align:center;
}

.radio-toolbar input[type="radio"]:checked ~ * { 
    background:#9CD9D3 !important;
}
    </style>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <%
    var moods=[
    // Positive
    {name: "Joyous", positive: true, emoji: "😄"},
    {name: "Loved", positive: true, emoji: "🤗"},
    {name: "Satisfied", positive: true, emoji: "🙂"},
    {name: "Content", positive: true, emoji: "😌"},
    {name: "Interested", positive: true, emoji: "😮"},
    {name: "Amused", positive: true, emoji: "😆"},
    {name: "Happy", positive: true, emoji: "😀"},
    {name: "Serene", positive: true, emoji: "☺"},
    {name: "Awestruck", positive: true, emoji: "🤩"},
    {name: "Sleepy", positive: true, emoji: "😴"},
    // Negative
    {name: "Afraid", positive: false, emoji: "😨"},
    {name: "Frustrated", positive: false, emoji: "😖"},
    {name: "Overwhelmed", positive: false, emoji: "😖"},
    {name: "Dazed", positive: false, emoji: "😵"},
    {name: "Confused", positive: false, emoji: "😵"},
    {name: "Angry", positive: false, emoji: "😡"},
    {name: "Enraged", positive: false, emoji: "🤬"},
    {name: "Disgusted", positive: false, emoji: "🤢"},
    {name: "Sad", positive: false, emoji: "🙁"},
    {name: "Lonely", positive: false, emoji: "😢"},
    {name: "Upset", positive: false, emoji: "😭"},
    {name: "Melancholy", positive: false, emoji: "😔"},
    {name: "Annoyed", positive: false, emoji: "😒"},
    {name: "Tired", positive: false, emoji: "🥱"},
    {name: "Stressed", positive: false, emoji: "😖"},
] 
var journSkin=[
    {name: "Anchor", file: "anchors"},
    {name: "Fish", file: "fish"},
    {name: "Goldfish", file: "goldfish"},
    {name: "Life Rings", file: "life-ring"},
    {name: "Rudder", file: "rudder"},
    {name: "Sailing Boat", file: "sailing"},
    {name: "Starfish", file: "starfish"},
    {name: "Tortoise", file: "tortoise"},
    {name: "Whale", file: "whale"},
    {name: "Whale Tail", file: "whale_tail"},
    {name: "Fish Bowl", file: "fish_bowl"},
    {name: "Lighthouse", file: "lighthouse-icon"},
    {name: "Scallop", file: "scallop"},
    {name: "Seahorse", file: "seahorse"},
    {name: "Snail Shell", file: "snail-shell"},
]
    %>
    <div id="wrapper">
        <section>
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <h2><% if (session.chosenSys.icon) { %> <img src="/img/svg/<%- session.chosenSys.icon %>.svg" class="vtinyimg"> <% } %>About <%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %></h2>
            <p>This <%= session.system_term %> has <%= alterArr.length %> <% if (alterArr.length == 1){ %><%= session.alter_term %><% } else { %><%= pluralize(session.alter_term)%><% } %>.</p>
            <% if (alterArr.length > 0){ %>
            <div class="grid" style="grid-gap:1em;">
                <% for ( i in alterArr) {  %>
                    <a href="/alter/<%= alterArr[i].a_id %>" ><%= alterArr[i].name %> <% if (alterArr[i].mood) { %><%- moods[alterArr[i].mood].emoji %><% } %></a>
                <% } %>
            </div>
            <% } %>
            <a href="/deletesys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="deletebtn">Delete</a>&emsp;<a href="/editsys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="editbtn">Edit</a>
            <form method="post" style="margin-top: calc(2vh);">
                <label for="altname">Add a New <%= capitalise(session.alter_term) %></label>
                <input type="text" name="altname" placeholder="New <%= capitalise(session.alter_term) %> Name Here" autofocus="autofocus">
                <input type="submit" name="submit" value="Add">
            </form>
        </section>
        <section>
            <h3>Set an icon for this <%= capitalise(session.system_term) %></h3>
            <form method="post">
            <div class="parent" style="height: auto;margin:auto;">
                <% for (let i=0; i < journSkin.length; i++){ %>
                    <div class="radio-toolbar child">
                        <input type="radio" id="<%= journSkin[i].name %>" name="journ" value="<%= journSkin[i].file %>">
                        <label for="<%= journSkin[i].name %>"><img src="/img/svg/<%= journSkin[i].file %>.svg" class="tinyimg"  style="display:block; margin:0 auto;"><%= journSkin[i].name %></label>
                    </div>
                <% } %>
                </div>
                <input type="submit" name="icon" value="Set Icon">
            </form>
                
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
