<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <section>
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <h2>About <%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %></h2>
            <p><%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %> has <%= alterArr.length %> <% if (alterArr.length == 1){ %>member<% } else { %>members<% } %>.</p>
            <% if (alterArr.length > 0){ %>
            <p>Members:</p>
            <div class="grid" style="grid-gap:1em;">
                <% for ( i in alterArr) { %>
                    <!-- <a style="background: rgb(200,200,<%= Math.floor(Math.random() * (225 - 200 + 1)) + 200; %>);" href="/alter/<%= alterArr[i].a_id %>" ><%= alterArr[i].name %></a> -->
                    <a href="/alter/<%= alterArr[i].a_id %>" ><%= alterArr[i].name %></a>
                <% } %>
            </div>
            <% } %>
            <a href="/deletesys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="deletebtn">Delete</a>&emsp;<a href="/editsys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="editbtn">Edit</a>
            <form method="post">
                <label for="altname">Add New Alter</label>
                <input type="text" name="altname" placeholder="New Alter Name Here" autofocus="autofocus">
                <input type="submit" name="submit" value="Add">
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
