<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%
  function randomise(arr){
        return arr[Math.floor(Math.random()*arr.length)];
  }
   %>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <% if (typeof splash == 'string'){  %>
            <p class="splash"><%- splash %></p>
        <% } %>
        <section>
            <h2>Rules for Your <%= capitalise(session.system_term) %></h2>
            <p>Rules are typically an honour-system thing to establish boundaries within your <%= session.system_term %>. Example: "Do not spend copious amounts of money at once without asking other parts." Remember: rules in a <%= session.system_term %> don't work like rules in a house or at work. If  <%= pluralize(session.alter_term) %> violate a rule, there should not be external or internal punishment at any point. <%= capitalise(pluralize(session.alter_term)) %> who would continue to violate rules should be discussed with a trusted, qualified professional.</p>
            <form method="post">
              <label for="rule">New Rule: </label>
              <input type="text" name="rule"><br/>
              <input type="submit" value="Add New Rule">
            </form>
            <ol>
              <% for (i in session.sys_rules){ %>
                <li><%= Buffer.from(session.sys_rules[i].rule, 'base64').toString() %> <br/><a href="/rules/delete/<%= session.sys_rules[i].id %>" ><i class="fas fa-trash-alt"></i></a></li>
                <!-- <a class="deletebtn" href="/rules/delete/<%= session.sys_rules[i].id %>" style="padding:.5em; font-size: 80%;">Delete</a> -->
              <% } %>
            </ol>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
