<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <%
    var moods=[
    // Positive
    {name: "Joyous", positive: true, emoji: "😄"},
    {name: "Loved", positive: true, emoji: "🤗"},
    {name: "Satisfied", positive: true, emoji: "🙂"},
    {name: "Content", positive: true, emoji: "😌"},
    {name: "Interested", positive: true, emoji: "😮"},
    {name: "Amused", positive: true, emoji: "😆"},
    {name: "Happy", positive: true, emoji: "😀"},
    {name: "Serene", positive: true, emoji: "☺"},
    {name: "Awestruck", positive: true, emoji: "🤩"},
    {name: "Sleepy", positive: true, emoji: "😴"},
    // Negative
    {name: "Afraid", positive: false, emoji: "😨"},
    {name: "Frustrated", positive: false, emoji: "😖"},
    {name: "Overwhelmed", positive: false, emoji: "😖"},
    {name: "Dazed", positive: false, emoji: "😵"},
    {name: "Confused", positive: false, emoji: "😵"},
    {name: "Angry", positive: false, emoji: "😡"},
    {name: "Enraged", positive: false, emoji: "🤬"},
    {name: "Disgusted", positive: false, emoji: "🤢"},
    {name: "Sad", positive: false, emoji: "🙁"},
    {name: "Lonely", positive: false, emoji: "😢"},
    {name: "Upset", positive: false, emoji: "😭"},
    {name: "Melancholy", positive: false, emoji: "😔"},
    {name: "Annoyed", positive: false, emoji: "😒"},
    {name: "Tired", positive: false, emoji: "🥱"},
    {name: "Stressed", positive: false, emoji: "😖"},
] 
    %>
    <div id="wrapper">
        <section>
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <h2>About <%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %></h2>
            <p><%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %> has <%= alterArr.length %> <% if (alterArr.length == 1){ %>member<% } else { %>members<% } %>.</p>
            <% if (alterArr.length > 0){ %>
            <div class="grid" style="grid-gap:1em;">
                <% for ( i in alterArr) {  %>
                    <a href="/alter/<%= alterArr[i].a_id %>" ><%= alterArr[i].name %> <% if (alterArr[i].mood) { %><%- moods[alterArr[i].mood].emoji %><% } %></a>
                <% } %>
            </div>
            <% } %>
            <a href="/deletesys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="deletebtn">Delete</a>&emsp;<a href="/editsys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="editbtn">Edit</a>
            <form method="post">
                <label for="altname">Add New Alter</label>
                <input type="text" name="altname" placeholder="New Alter Name Here" autofocus="autofocus">
                <input type="submit" name="submit" value="Add">
            </form>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
