<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
    
  .radio-toolbar input[type="radio"] {
         display: none;
}

.radio-toolbar label {
  display: block;
  cursor: pointer;
  text-align:center;
}

.radio-toolbar input[type="radio"]:checked ~ * { 
    background:#9CD9D3 !important;
}
.archived{
    background: silver !important;
    color: dimgrey !important;
}
    </style>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <%

var journSkin=[
    {name: "Anchor", file: "anchors"},
    {name: "Fish", file: "fish"},
    {name: "Goldfish", file: "goldfish"},
    {name: "Life Rings", file: "life-ring"},
    {name: "Rudder", file: "rudder"},
    {name: "Sailing Boat", file: "sailing"},
    {name: "Starfish", file: "starfish"},
    {name: "Tortoise", file: "tortoise"},
    {name: "Whale", file: "whale"},
    {name: "Whale Tail", file: "whale_tail"},
    {name: "Fish Bowl", file: "fish_bowl"},
    {name: "Lighthouse", file: "lighthouse-icon"},
    {name: "Scallop", file: "scallop"},
    {name: "Seahorse", file: "seahorse"},
    {name: "Snail Shell", file: "snail-shell"},
    {name: "Compass", file: "compass"},
    {name: "Ship", file: "ship-icon"},
    {name: "Trident", file: "trident"},
    {name: "Message in a Bottle", file: "bottle"},
    {name: "Beach", file: "island"},
]
    %>
    <div id="wrapper">
        <section>
            <ul class="breadcrumb">
                <li><a href="/system" title="Your <%= capitalise(cookies.system_term) %>"><%= capitalise(cookies.system_term) %></a></li>
                <li><%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %></li>
            </ul>
            <div id="Wait"></div>
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2><% if (session.chosenSys.icon) { %> <img src="/img/svg/<%- session.chosenSys.icon %>.svg" class="vtinyimg"> <% } %><%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %></h2>

            <p>This <%= cookies.system_term %> has <strong><%= parseInt(alterArr.length).toLocaleString() %></strong> <% if (alterArr.length == 1){ %><%= cookies.alter_term %><% } else { %><%= pluralize(cookies.alter_term)%><% } %>.</p>
            <% if (alterArr.length > 0){ %>
            <div class="grid" id="sysContainer">
                <% for ( i in alterArr) {
                    if (alterArr[i].is_archived== false){
                    %>
                    <a href="/alter/<%= alterArr[i].a_id %>" style="text-decoration: none;"><div class="polaroid child">
                        <% if (alterArr[i].img_blob){ %> 
                            <img class="smallimg" style="float:left; margin-right:calc(1em);" src="data:<%= alterArr[i].blob_mimetype %>;base64,<%= Buffer.from(alterArr[i].img_blob).toString("base64") %>"> 
                            <% } else if (distill(alterArr[i].icon)) { %>
                            <img src="<%= Buffer.from(alterArr[i].icon, 'base64').toString() %>" class="smallimg" style="float:left; margin-right:calc(1em);">
                        <% } else { %> 
                            <img src="https://i.ibb.co/vkwmWjF/avatar-default.jpg" class="smallimg" style="float:left; margin-right:calc(1em);" alt="<%= Buffer.from(alterInfo.name, 'base64').toString() %>'s icon">
                        <% } %>
                     <br>
                     <%= truncate(alterArr[i].name, 10) %> 
                     <% if (alterArr[i].mood) { %><%- moods[alterArr[i].mood].emoji %><% } %>
                     <% if (alterArr[i].pronouns){ %> 
                        <% if (distill(alterArr[i].pronouns)){ %><br><small><%- Buffer.from(alterArr[i].pronouns, "base64").toString() %></small>
                        <% } %> 
                        <% } %>
                        
                    </div></a> 
                    
                <% }} %>
                <% for ( i in alterArr) {  
                    if (alterArr[i].is_archived== true){
                    %>
                    <a href="/alter/<%= alterArr[i].a_id %>" style="text-decoration: none;"><div class="polaroid archived child">
                        <% if (alterArr[i].img_blob){ %> 
                            <img class="smallimg" style="float:left; margin-right:calc(1em);" src="data:<%= alterArr[i].blob_mimetype %>;base64,<%= Buffer.from(alterArr[i].img_blob).toString("base64") %>"> 
                            
                            <% } else if (distill(alterArr[i].icon)) { %>
                            <img src="<%= Buffer.from(alterArr[i].icon, 'base64').toString() %>" class="smallimg" style="float:left; margin-right:calc(1em);">
                        <% } else { %> 
                            <img src="https://i.ibb.co/vkwmWjF/avatar-default.jpg" class="smallimg" style="float:left; margin-right:calc(1em);" alt="<%= Buffer.from(alterInfo.name, 'base64').toString() %>'s icon">
                        <% } %>
                        <br>
                        <%= alterArr[i].name %> 
                        <% if (alterArr[i].mood) { %><%- moods[alterArr[i].mood].emoji %><% } %>
                        <% if (alterArr[i].pronouns){ %>
                            <% if (distill(alterArr[i].pronouns)){ %>
                                <br><small><%- Buffer.from(alterArr[i].pronouns, "base64").toString() %></small>
                                <% } %>
                                <% } %>
                    </div></a>
                    
                <% }} %>
            </div>
            <% } %>
        
            <a href="/deletesys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="linkbutton deletebtn">Delete</a>&emsp;<a href="/editsys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="linkbutton editbtn">Edit</a>
            <form method="post" style="margin-top: calc(2vh);">
                <label for="altname">Add a New <%= capitalise(cookies.alter_term) %></label>
                <input type="text" name="altname" placeholder="New <%= capitalise(cookies.alter_term) %> Name Here" autofocus="autofocus">
                <input type="submit" name="submit" value="Add">
            </form>
            <button onclick="$('#subsysForm').toggle('fast')"><%- capitalise(cookies.subsystem_term) %> settings</button>
            <form id="subsysForm" style="display:none;" method="post">
                <label for="sysid">Nest this system under:</label>
                <select name="sysid" id="sysid">
                    <option value="none">None (This <%- cookies.system_term %> is not a <%- cookies.subsystem_term %>)</option>
                </select>
                <input type="submit" value="Save <%- cookies.subsystem_term %> settings">
            </form>
        </section>
        <section id="subsystems" style="display:none;">
            <h2><%- capitalise(pluralize(cookies.subsystem_term)) %></h2>
            <ul id="subList"></ul>
        </section>
        <section>
            <h3>Set an icon for this <%= capitalise(cookies.system_term) %></h3>
            <form method="post">
            <div class="parent">
                <% for (let i=0; i < journSkin.length; i++){ %>
                    <div class="radio-toolbar child">
                        <input type="radio" id="<%= journSkin[i].name %>" name="journ" value="<%= journSkin[i].file %>">
                        <label for="<%= journSkin[i].name %>"><img src="/img/svg/<%= journSkin[i].file %>.svg" class="vtinyimg"  style="display:block;"><%= journSkin[i].name %></label>
                    </div>
                <% } %>
                </div>
                <input type="submit" name="icon" value="Set Icon">
            </form>
                
        </section>
    </div>
    
    <%- include ("../partials/footer.ejs") %>
    <script>
        // Go fetch subsystems
        async function fetchSubSystems(){
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "subsystems",
                  "sysid": '<%- sys_id %>'
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            $("#Wait").empty();
            if (!response.ok) return $("#Wait").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");
            (sysInfo.systems).sort((a, b) => a.name.localeCompare(b.name));
            if (sysInfo.systems.length > 0){
                // There is a subsystem!
                $("#subsystems").show();
                $("#parent").show();
                
                for (i in sysInfo.systems){
                    // $("#subList").append(`<li>${sysInfo.systems[i].name}</li>`);
                    $("#subList").append(`<div class="systemdiv">
                    <a class="systembutton" title="${sysInfo.systems[i].name}" href="/system/${sysInfo.systems[i].sys_id}">${sysInfo.systems[i].name} <a class="editbtn" href="/editsys/${sysInfo.systems[i].sys_id}">Rename</a></a><a href="/deletesys/${sysInfo.systems[i].sys_id}" name="${sysInfo.systems[i].sys_id}" class="deletebtn">Delete</a>
                    </div>`)
                }
            }
        }
        async function fetchSystems(){
        $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
        let response = await fetch(`/system-data`, { 
        method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "systems",
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            $("#Wait").empty();
            if (!response.ok) return $("#Wait").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");
            (sysInfo.systems).sort((a, b) => a.alias.localeCompare(b.alias));
            // Look for this system's parent 
            for (i in sysInfo.systems){
                if (sysInfo.systems[i].sys_id== '<%- session.chosenSys.subsys_id %>'){
                    $("#sysid").append(`<option value="${sysInfo.systems[i].sys_id}" selected>${sysInfo.systems[i].alias}</option>`);
                    $("#parent").html(`<a class="linkbutton" href="/system/${sysInfo.systems[i].sys_id}">Parent <%- cookies.system_term %>: ${sysInfo.systems[i].alias}</a>`);
                } else if(sysInfo.systems[i].sys_id== '<%- session.chosenSys.sys_id %>'){
                    continue;
                } else {
                    $("#sysid").append(`<option value="${sysInfo.systems[i].sys_id}">${sysInfo.systems[i].alias}</option>`);
                }
                
            }
        }
        $(document).ready(function(){
        fetchSubSystems();
        fetchSystems();
        $("input").attr('autocomplete','off');

        if($("#sysContainer a").length <= 3){
            $("#sysContainer").css({"justify-content": "space-evenly", "width": "50%", "margin": "auto"})
        }
        });
    </script>
</body>

</html>
