<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
      .textless{
        height: 1em;
        display: inline;
        font-size: 1.15em;
        padding: 0;
        vertical-align: text-top;
        background: transparent;
        color: var(--col5)
      }
    </style>
</head>

<body>
  <%
  function randomise(arr){
        return arr[Math.floor(Math.random()*arr.length)];
  }
   %>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
      <% if (locals.messages.flash) { %>
        <div class="splash"><%- locals.messages.flash %></div>
    <% } %>
        <section>
            <h2>Rules for Your <%= capitalise(session.system_term) %></h2>
            <p>Rules are typically an honour-system thing to establish boundaries within your <%= session.system_term %>. Example: "Do not spend copious amounts of money at once without asking other parts." Remember: rules in a <%= session.system_term %> don't work like rules in a house or at work. If  <%= pluralize(session.alter_term) %> violate a rule, there should not be external or internal punishment at any point. <%= capitalise(pluralize(session.alter_term)) %> who would continue to violate rules should be discussed with a trusted, qualified professional.</p>
            <p>To delete a rule, press the <span class="material-symbols-outlined textless"> delete</span> button.</p>
            <form method="post">
              <label for="rule">New Rule: </label>
              <input type="text" name="rule" required minlength="8"><br/>
              <input type="submit" value="Add New Rule" name="create">
            </form>
            <ol>
              <% for (i in session.sys_rules){ %>
                <li><%= Buffer.from(session.sys_rules[i].rule, 'base64').toString() %> <form method="post" style="display: inline;"><button type="submit" name="<%= session.sys_rules[i].id %>" value="Remove" class="textless" onclick="deleteWarn('<%= Buffer.from(session.sys_rules[i].rule, 'base64').toString() %>')"><span class="material-symbols-outlined textless"> delete</span></button></form></li>
                
              <% } %>
            </ol>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

<script>
  const controller = new AbortController();
const { signal } = controller;

    function deleteWarn(title){
      if (confirm(`This rule is about to be deleted:\n${title}\nAre you sure?`)){
        console.log("Delete Rule.");
      } else {
        event.preventDefault();
      }
    }

    signal.addEventListener("abort", () => {
  console.log(signal.aborted);
});

</script>

</html>
