<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
    <style>
    
  .radio-toolbar input[type="radio"] {
         display: none;
}

.radio-toolbar label {
  display: block;
  cursor: pointer;
  text-align:center;
}

.radio-toolbar input[type="radio"]:checked ~ * { 
    background:#9CD9D3 !important;
}
.archived{
    background: var(--archivedbg) !important;
    color: var(--archivedtxt) !important;
}

    </style>
                
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <%

var journSkin=[
    {name: "Anchor", file: "anchors"},
    {name: "Fish", file: "fish"},
    {name: "Goldfish", file: "goldfish"},
    {name: "Life Rings", file: "life-ring"},
    {name: "Rudder", file: "rudder"},
    {name: "Sailing Boat", file: "sailing"},
    {name: "Starfish", file: "starfish"},
    {name: "Tortoise", file: "tortoise"},
    {name: "Whale", file: "whale"},
    {name: "Whale Tail", file: "whale_tail"},
    {name: "Fish Bowl", file: "fish_bowl"},
    {name: "Lighthouse", file: "lighthouse-icon"},
    {name: "Scallop", file: "scallop"},
    {name: "Seahorse", file: "seahorse"},
    {name: "Snail Shell", file: "snail-shell"},
    {name: "Compass", file: "compass"},
    {name: "Ship", file: "ship-icon"},
    {name: "Trident", file: "trident"},
    {name: "Message in a Bottle", file: "bottle"},
    {name: "Beach", file: "island"},
]
    %>
    <div id="wrapper">
        <% if (environment == "dev"){ %>
        <section>
            <h3>Add Test Alters</h3>
            <button id="addAlts">Add 25 Alters</button>
        </section>
        <% } %>
        <section>
            <ul class="breadcrumb">
                <li><a href="/system" title="Your <%= capitalise(cookies.system_term) %>"><%= capitalise(cookies.system_term) %></a></li>
                <% if (session.chosenSys.subsys_id){ %><li><a href="/system/<%= session.chosenSys.subsys_id %>"><%= capitalise(Buffer.from(session.chosenSys.subsys_alias, "base64").toString()) %></a></li><% } %>
                <li><%= Buffer.from(session.chosenSys.sys_alias, 'base64').toString() %></li>
            </ul>
            <div id="Wait"></div>
            <form method="post" style="margin-top: calc(2vh);">
                <label for="altname">Add a New <%= capitalise(cookies.alter_term) %></label>
                <input type="text" name="altname" placeholder="New <%= capitalise(cookies.alter_term) %> Name Here" style="width: 50%" required>
                <input type="submit" name="submit" value="Add">
            </form>
            <h2><% if (session.chosenSys.icon) { %> <img src="/img/svg/<%- session.chosenSys.icon %>.svg" class="vtinyimg"> <% } %><%= decode(session.chosenSys.sys_alias) %></h2>
            <% if (session.chosenSys.description){ %>
                <div>
                    <blockquote><%= decrypt(session.chosenSys.description) %></blockquote>
                </div>
            <% } %>
            
            
            <div id="pagination" class="pageJump">
                <ul>
                    <% if (curPage > 1){ %><li><i class="fa fa-arrow-left" aria-hidden="true"></i> <a href="/system/<%= session.chosenSys.sys_id %>/<%= parseInt(curPage) - 1 %>">Previous</a></li><% } %>
                  <li class="currPage"><%= curPage %></li>
                  <% if (curPage < pgCount){ %><li><a href="/system/<%= session.chosenSys.sys_id %>/<%= parseInt(curPage) + 1 %>">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                  <li><a href="/system/<%= session.chosenSys.sys_id %>/<%= parseInt(pgCount) %>">Last (<%= parseInt(pgCount) %>) <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                  <% } %>
                  </ul>
                  <form method="none">
                  <label for="page">Go to page: </label><input type="number" min="1" max="<%= pgCount %>" name="page" id="page" style="width: 3em;">
                  <button id="go">Go</button>
                  </form>
                </div>
                <a class="dyn linkbutton" title="<%= siteLanguage[session.language || "en"].comm %>" href="/system/communal-journal?sys=<%= session.chosenSys.sys_id %>"><%= siteLanguage[session.language || "en"].comm %></a>
            <% if (parseInt(altCount) > 0){ %>
                <a class="linkbutton" href="/search"><i class="fa fa-search"></i> <%= capitalise(cookies.alter_term) %> Search</a>
                <p><%= capitalise(pluralize(cookies.alter_term)) %>: <strong><%= parseInt(altCount).toLocaleString() %></strong></p>
                <p class="dyn">Showing you <%= numup %> [[ALTERS]] per page. [[ALTERSCAP]] marked with a ✦ have their primary [[SYSTEM]] listed differently.</p>

            
            <div class="grid" id="sysContainer">
                <% for ( i in alterArr) {
                    if (alterArr[i].is_archived== false){
                    %>
                    <a href="/alter/<%= alterArr[i].a_id %>" style="text-decoration: none;">
                        <div class="polaroid child" >
                        <% if (alterArr[i].img_blob){ %> 
                            <img class="smallimg"src="data:<%= alterArr[i].blob_mimetype %>;base64,<%= Buffer.from(alterArr[i].img_blob).toString("base64") %>"> 
                            <% } else if (distill(alterArr[i].icon)) { %>
                            <img src="<%= Buffer.from(alterArr[i].icon, 'base64').toString() %>" class="smallimg">
                        <% } else { %> 
                            <img src="https://i.ibb.co/vkwmWjF/avatar-default.jpg" class="smallimg" alt="Card Icon">
                        <% } %>
                     <br>
                    
                    <span
                    style="
                        <% if(alterArr[i].colourEnabled==true){ %>
                            color: <%- alterArr[i].colour %>;
                        <% } %>
                        <% if(alterArr[i].outlineEnabled==true){ %>
                            text-shadow: -1px -1px 0 <%- alterArr[i].outline %>,
                                        1px -1px 0 <%- alterArr[i].outline %>,
                                        -1px 1px 0 <%- alterArr[i].outline %>,
                                        1px 1px 0 <%- alterArr[i].outline %>;
                        <% } %>
                        "
                        ><%= truncate(boil(alterArr[i].name), 13) %></span> 
                    <% if (alterArr[i].id !== currentSys){ %>✦<% } %>
                     <% if (alterArr[i].mood) { %><%- moods[alterArr[i].mood].emoji %><% } %>
                     <% if (alterArr[i].pronouns){ %> 
                        <% if (distill(alterArr[i].pronouns)){ %><br><small><%= truncate(boil(Buffer.from(alterArr[i].pronouns, "base64").toString()), 16) %></small>
                        <% } %> 
                        <% } %>

                     
                        
                    </div></a> 
                    
                <% }} %>
                <% for ( i in alterArr) {  
                    if (alterArr[i].is_archived== true){
                    %>
                    <a href="/alter/<%= alterArr[i].a_id %>" style="text-decoration: none;"><div class="polaroid archived child">
                        <% if (alterArr[i].img_blob){ %> 
                            <img class="smallimg" src="data:<%= alterArr[i].blob_mimetype %>;base64,<%= Buffer.from(alterArr[i].img_blob).toString("base64") %>"> 
                            
                            <% } else if (distill(alterArr[i].icon)) { %>
                            <img src="<%= Buffer.from(alterArr[i].icon, 'base64').toString() %>" class="smallimg">
                        <% } else { %> 
                            <img src="https://i.ibb.co/vkwmWjF/avatar-default.jpg" class="smallimg" alt="Card Icon">
                        <% } %>
                        <br>
                        <%= truncate(boil(alterArr[i].name), 13) %> 
                        <% if (alterArr[i].mood) { %><%- moods[alterArr[i].mood].emoji %><% } %>
                        <% if (alterArr[i].pronouns){ %>
                            <% if (distill(alterArr[i].pronouns)){ %>
                                <br><small><%- truncate(boil(Buffer.from(alterArr[i].pronouns, "base64").toString()), 32) %></small>
                                <% } %>
                                <% } %>
                    </div></a>
                    
                <% }} %>
            </div>
            <% } %>
        
            <a href="/system/deletesys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="linkbutton deletebtn"><%- strings.actions.delete %></a>&emsp;<a href="/system/editsys/<%= session.chosenSys.sys_id %>" name="<%= session.chosenSys.sys_id %>" class="linkbutton editbtn"><%- strings.actions.rename %></a>
            <button onclick="$('#subsysForm').toggle('fast')"><%- capitalise(cookies.subsystem_term) %> settings</button>
            <form id="subsysForm" style="display:none;" method="post">
                <label for="sysid">Nest this system under:</label>
                <select name="sysid" id="sysid">
                    <option value="none">None (This <%- cookies.system_term %> is not a <%- cookies.subsystem_term %>)</option>
                </select>
                <input type="submit" value="Save <%- cookies.subsystem_term %> settings">
            </form>
        </section>

        <section id="subsystems" style="display:none;">
            <h2><%- capitalise(pluralize(cookies.subsystem_term)) %></h2>
            <ul id="subList">
            </ul>
        </section>

        <section>
            <h3>Set an icon for this <%= capitalise(cookies.system_term) %></h3>
            <form method="post">
            <div class="parent">
                <% for (let i=0; i < journSkin.length; i++){ %>
                    <div class="radio-toolbar child">
                        <input type="radio" id="<%= journSkin[i].name %>" name="journ" value="<%= journSkin[i].file %>">
                        <label for="<%= journSkin[i].name %>"><img src="/img/svg/<%= journSkin[i].file %>.svg" class="vtinyimg"  style="display:block;"><%= journSkin[i].name %></label>
                    </div>
                <% } %>
                </div>
                <input type="submit" name="icon" value="Set Icon">
            </form>
                
        </section>
    </div>
    
    <%- include ("../partials/footer.ejs") %>
    <script>
        // Go fetch subsystems
        async function fetchSubSystems(){
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "subsystems",
                  "sysid": '<%- sys_id %>'
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            $("#Wait").empty();
            if (!response.ok) return $("#Wait").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");
            (sysInfo.systems).sort((a, b) => a.name.localeCompare(b.name));
            if (sysInfo.systems.length > 0){
                // There is a subsystem!
                $("#subsystems").show();
                $("#parent").show();
                
                for (i in sysInfo.systems){
                    // $("#subList").append(`<li>${sysInfo.systems[i].name}</li>`);
                    $("#subList").append(`<div class="systemdiv">
                    <a class="systembutton" title="${sysInfo.systems[i].name}" href="/system/${sysInfo.systems[i].sys_id}">${sysInfo.systems[i].name} <a class="editbtn" href="/system/editsys/${sysInfo.systems[i].sys_id}"><%- strings.actions.rename %></a></a><a href="/system/deletesys/${sysInfo.systems[i].sys_id}" name="${sysInfo.systems[i].sys_id}" class="deletebtn"><%- strings.actions.delete %></a>
                    </div>`)
                }
            }
        }
        async function fetchSystems(){
        $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
        let response = await fetch(`/system-data`, { 
        method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "systems",
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            $("#Wait").empty();
            if (!response.ok) return $("#Wait").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");
            (sysInfo.systems).sort((a, b) => a.alias.localeCompare(b.alias));
            // Look for this system's parent 
            for (i in sysInfo.systems){
                if (sysInfo.systems[i].sys_id== '<%- session.chosenSys.subsys_id %>'){
                    $("#sysid").append(`<option value="${sysInfo.systems[i].sys_id}" selected>${sysInfo.systems[i].alias}</option>`);
                    $("#parent").html(`<a class="linkbutton" href="/system/${sysInfo.systems[i].sys_id}">Parent <%- cookies.system_term %>: ${sysInfo.systems[i].alias}</a>`);
                } else if(sysInfo.systems[i].sys_id== '<%- session.chosenSys.sys_id %>'){
                    continue;
                } else {
                    $("#sysid").append(`<option value="${sysInfo.systems[i].sys_id}">${sysInfo.systems[i].alias}</option>`);
                }
                
            }
        }
        $(document).ready(function(){
        fetchSubSystems();
        fetchSystems();
        $("input").attr('autocomplete','off');


        });
        if ($("#addAlts").length){
            async function grabPerson() {
                const response = await fetch("https://fakerapi.it/api/v1/persons?_quantity=1?_locale=en_GB");
                const person = await response.json();
                    return {
                        name: `${person.data[0].firstname} ${person.data[0].lastname}`,
                        gender: person.data[0].gender,
                        img_url: person.data[0].image,
                    }
                }
            function randomise (arr){ return arr[Math.floor(Math.random()*arr.length)] }
            $("#addAlts").on("click", async function(){
                var phFirst=["Stuart", "Murdoc", "Noodle", "Russel", "Ace", "Del", "Paula", "Eleanor", "Soup"]
                var phLast=["Pot", "Niccals", "Hobbs", "Copular", "Funky", "Cracker", "Homosapien", "Shack"]
                event.preventDefault();
                alert("This may take a while. The page will auto reload when done.")
            for (let step = 0; step < 25; step++) {
                var phPerson= await grabPerson();
                
                let response = await fetch(`/system-data`, { 
                method: "PUT",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                  
                }, 
                body: JSON.stringify({
                    "edit": "add-ph-alter",
                    "altName": `${phPerson.name}`,
                    "gender": phPerson.gender,
                    "sysid": "<%- session.chosenSys.sys_id %>"
                }) 
            });
            let body = await response.text();
        }
            location.reload();
            // End function
            });
        }
        $("#go").on("click", function(){
          event.preventDefault();
          window.location= `/system/<%= session.chosenSys.sys_id %>/${$("#page").val()}`
        })
        if (parseInt(<%= pgCount %>) <= 1){
            $("#pagination").hide()
        }


    
    </script>
</body>

</html>
