<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            
            
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
          <% if (typeof splash == 'string'){  %>
              <p class="splash"><%- splash %></p>
          <% } %>
            <h2>Your <%= capitalise(session.system_term) %></h2>
            <div class="grid-sm">
              <a href="/rules"><%= capitalise(session.system_term) %> Rules</a>
              <a href="/inner-world">Inner World</a>
            </div>
            <ul>
            <% for ( i in session.sys ) { %>
                <div class="systemdiv">
                <a class="systembutton" title="<%= session.sys[i].name %>" href="/system/<%= session.sys[i].id %>"><% if (session.sys[i].icon) { %> <img src="/img/svg/<%- session.sys[i].icon %>.svg" class="vtinyimg"> <% } %><%= session.sys[i].name %></a><a href="/editsys/<%= session.sys[i].id %>" name="<%= session.sys[i].id %>" class="editbtn" style="margin-right:calc(2em)">Rename</a><a href="/deletesys/<%= session.sys[i].id %>" name="<%= session.sys[i].id %>" class="deletebtn">Delete</a>
                </div>
            <% } %>
        </ui>
            <!-- Block for system list. Like system1, system 2, etc. -->
            <button onclick="toggleForm()" id="tbutton">Add a <%= capitalise(session.system_term) %></button>
            <form method="post" class="toggle" style="display: none;" aria-hidden="true" id="toggle">
                <label for="sysname"><%= capitalise(session.system_term) %> Alias</label>
                <input name="sysname" type="text" autocomplete="off" placeholder="Alias" minlength="3" required>
                <input type="submit" name="create" value="Create <%= capitalise(session.system_term) %>">
            </form>
            <!-- <a href="/system-findpk">Import Public members from PluralKit</a> -->
            <hr/>
            <section>
                <h2>Communal Journal</h2>
                <form method="post">
                    <label for="cTitle">Post Title</label><br/>
                    <input type="text" name="cTitle" autocomplete="off" required><br/>
                    <textarea name="cBody" id="editor" autocomplete="off" cols="60" rows="15" ></textarea><br/>
                    <!-- <input type="text" name="cBody" id="editor"><br/> -->
                    <input type="submit" name="post" value="Write post">
                    <input type="reset" name="reset" value="Start Over">
                    <!-- <textarea id="example"></textarea> -->

                    <script>ClassicEditor
                        .create( document.querySelector( '#editor' ), {
                            fontColor: {
            colors: [
                {color: 'red',label: 'Red'},{color: '#ff691f',label: 'Orange'},{ color: '#ffc20a',label: 'Yellow'},{color: 'green',label: 'Green'},{color: 'teal',label: 'Teal'},{color: 'blue',label: 'Blue'},{color: 'purple',label: 'Purple'},{color: '#ff0f83',label: 'Pink'},{color:'#663c28', label: 'Brown'}, {color: 'lightgray', label: 'Silver'}, {color: 'gray', label: 'Stone'}, {color: 'black', label: 'Black'}, {color: 'white', label: "White"}
            ]}
                        } )
                        .then( editor => {
                          window.editor = editor;
                        } )
                        .catch( error => {
                          console.error( 'Oops, something went wrong!' );
                          console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                          console.warn( 'Build id: c0gefhhqxz8y-2hxzvv2htugp' );
                          console.error( error );
                        } );
                    </script>
                </form>
                <% for (i in session.cPosts) { %>
                    <article>
                    <h2><%= session.cPosts[i].title %></h2>
                    <p><sub>Posted <%= (session.cPosts[i].date).toLocaleString(lang, { timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone }) %></sub></p>
                    <% var bodyArr= (session.cPosts[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                        for (j in bodyArr){
                            if (bodyArr[j] !== ''){ %>
                                <p><%- bodyArr[j] %></p>
                            <% }
                         }%>
                         <p><a title="Edit <%= session.cPosts[i].title %>" href="/comm/<%- session.cPosts[i].id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a title="Delete <%= session.cPosts[i].title %>" href="/comm/<%- session.cPosts[i].id %>/delete"><i class="fas fa-trash-alt"></i></a></p>
                </article>
                <% } %>
            </section>
        </div>
        <%- include ("../partials/footer.ejs") %>
        <script type="text/javascript">
            function toggleForm(){
                var togg = document.getElementById('toggle');
                var tbutton = document.getElementById('tbutton');
                if (togg.style.display=="none"){
                    $("#toggle").show("fast");
                    $("#tbutton").text("Hide the form");
                } else {
                    $("#toggle").hide("fast");
                    $("#tbutton").text("Add a System");
                }
            }
        </script>
        <!-- <script>
            ClassicEditor
                .create( document.querySelector( '#editor' ) )
                .catch( error => {
                    console.error( error );
                } );
        </script> -->
    </body>
</html>
