<!DOCTYPE html>
<html lang="en" dir="ltr" >
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            .textless{
              height: 1em;
              display: inline;
              font-size: 1.15em;
              padding: 0;
              vertical-align: text-top;
              background: transparent;
              color: var(--col5)
            }
            .padLinks {
              column-count: 4
          }
          .padLinks > li > a:hover{
            filter:brightness(1.2) !important;
          }
          .padLinks > li {
            list-style-type: none;
          }
          @media only screen and (max-width: 900px) {
            .padLinks {
              column-count: 1;
            }
          }
          #sysList{
            padding: 3px;
            align-items: center;
            justify-content: center;
            font-size: calc(100% + 25%);
          }
          #sysList > li > a, #sysList > li > a > i{
            color: var(--col8) !important;
            text-decoration: none;
          }
          #sysList> li:not(:last-child){
            border-bottom: 1px solid var(--nav-txt);
          }
          .subsys{
            margin-left: 3em;
          }
          </style>
    </head>
    <body>
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
        <% let currentP= 0; %>
            <h1 class="dyn">[[SYSTEMCAP]] Page</h1>
            <ul class="padLinks">
              <li><a class="dyn linkbutton" title= "<%= strings.system.links.search %>" href="/search"><%= strings.system.links.search %></a></li>
              <li><a class="dyn linkbutton" title= "<%= strings.system.links.rules %>" href="/rules"><%= strings.system.links.rules %></a></li>
              <li><% if (session.innerworld == true) { %> <a class="dyn linkbutton" title="<%= capitalise(session.innerworld_term) %>" href="/inner-world"><%= capitalise(session.innerworld_term) %></a> <%}%></li>
              <li><a class="dyn linkbutton" title="<%= strings.system.links.wishlist %>" href="/wish"><%= strings.system.links.wishlist %></a></li>
              <li><% if (session.worksheets_enabled == true){ %><a class="dyn linkbutton" title="<%= strings.system.links.worksheets %>" href="/worksheets"><%= strings.system.links.worksheets %></a><% }%></li>
              <li><a class="dyn linkbutton" title="Crash course on using Lighthouse" href="/tutorial"><%= strings.system.links.tutorial %></a></li>
              <li><a class="dyn linkbutton" title="<%= strings.system.links.combine %>" href="/combine/alts"><%= strings.system.links.combine %></a></li>
              <li><a class="dyn linkbutton" title="<%= siteLanguage[session.language || "en"].comm %>" href="/system/communal-journal/"><%= siteLanguage[session.language || "en"].comm %></a></li>
            </ul>
            <h2 id="sysHeader">Your <%= capitalise(system.length == 1 ? session.system_term : pluralize(session.system_term)) %></h2>
            <ul id="sysList" style="list-style-type: none;">
              <%- renderNestedList(system, alters) %>
              </ul>
            <button id="tbutton" class="dyn"><%= strings.system.addSystem %></button>
              <!-- The Modal -->
              <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" id="modalContent">
                  <span class="material-symbols-outlined close">
                    cancel
                    </span>
                    <h2 class="dyn"><%= strings.system.addSystem %></h2>
                  <form method="post">
                    <label for="sysname"><%= capitalise(cookies.system_term) %> Name: </label>
                    <input type="text" name="sysname" required><br>
                    <div id="subsys">
                      <label for="subsys">Nest this <%= cookies.system_term %> under: </label>
                      <select name="subsys" id="subdrop">
                        <option checked>None</option>
                        <% system.forEach((sys)=>{ %> 
                          <option value="<%= sys.id %>"><%= Buffer.from(sys.alias, "base64").toString() %></option>
                      <% }) %>
                      </select>
                      <br><small>Nesting a <%= cookies.system_term %> creates a <%= cookies.subsystem_term %>.</small>
                    </div>
                    <input type="submit" value="Create <%= capitalise(cookies.system_term) %>">
                  </form>
                </div>

              </div>
              
            <p style="margin-bottom:-1em;"><small>Or, import from another source:</small></p>
            <a href="/pluralkit" class="linkbutton"><img src="https://pluralkit.me/favicon.png" class="vvtinyimg">Pluralkit</a>
            <a href="/simply-plural" class="linkbutton"><img src="/img/sp-icon.png" class="vvtinyimg">Simply Plural</a>
        </div>

        <%- include ("../partials/footer.ejs") %>
        <script>
          var modal = document.getElementById("myModal");
          var btn = document.getElementById("tbutton");
          var span = document.getElementsByClassName("close")[0];
          btn.onclick = function() {
            // modal.style.display = "block";
            $("#myModal").fadeIn("fast");
          }
          span.onclick = function() {
            // modal.style.display = "none";
            $("#myModal").fadeOut("fast");
          }
          </script>
        <script>
</script>
    </body>
</html>
