<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            .textless{
              height: 1em;
              display: inline;
              font-size: 1.15em;
              padding: 0;
              vertical-align: text-top;
              background: transparent;
              color: var(--col5)
            }
            .padLinks > a{
              margin-top: .5em;
            }
          </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
          <% if (locals.messages.flash) { %>
            <div class="splash"><%- locals.messages.flash %></div>
        <% } %>
            <h2>Your <%= capitalise(session.system_term) %></h2>
            <div class="grid-sm padLinks" style="margin: auto;text-align:center;line-height: 1;">
              <a title= "<%= capitalise(session.system_term) %> Rules" href="/rules"><%= capitalise(session.system_term) %> Rules</a>
              <a title="Your Inner World" href="/inner-world">Inner World</a>
              <a title="Your <%= capitalise(session.system_term) %>'s wants, needs, and wishes" href="/wish">Wants & Wishes</a>
              <a title="Worksheets for trauma (WIP)" href="/worksheets">Worksheets</a>
            </div>
            <div id="WaitSys"></div>
            <div id="sysList">
            </div>
            <!-- Block for system list. Like system1, system 2, etc. -->
            <button onclick="toggleForm()" id="tbutton">Add a <%= capitalise(session.system_term) %></button>
            <form method="post" class="toggle" style="display: none;" aria-hidden="true" id="toggle">
                <label for="sysname"><%= capitalise(session.system_term) %> Alias</label>
                <input name="sysname" type="text" autocomplete="off" placeholder="Alias" minlength="3" required>
                <input type="submit" name="create" value="Create <%= capitalise(session.system_term) %>">
            </form>
            <p><small>Or, import from another source:</small></p>
            <a href="/pluralkit" class="linkbutton"><img src="https://pluralkit.me/favicon.png" class="vvtinyimg">Pluralkit</a>
            <!-- <a href="/simply-plural" class="linkbutton"><img src="https://play-lh.googleusercontent.com/47Ws0pbM_oQar187y2fddejuUmdNIEwuYz-fomXmhom5AJ75jfm0kZ6-Qq7_7I0SBA" class="vvtinyimg">Simply Plural</a> -->
            <hr/>
            <section>
                <h2>Communal Journal</h2>
                <form method="post">
                    <label for="cTitle">Post Title</label><br/>
                    <input type="text" name="cTitle" autocomplete="off"><br/>
                    <textarea name="cBody" id="editor" autocomplete="off" cols="60" rows="15"></textarea><br/>
                    <!-- <input type="text" name="cBody" id="editor"><br/> -->
                    <input type="submit" name="post">
                    <input type="reset" name="reset" value="Start Over">
                    <script>ClassicEditor
                      .create( document.querySelector( '#editor' ), {
                        licenseKey: '',
                        fontColor: {
                                colors: [
                                    {color: 'red',label: 'Red'},
                                    {color: '#ff691f',label: 'Orange'},
                                    { color: '#ffc20a',label: 'Yellow'},
                                    {color: 'green',label: 'Green'},
                                    {color: 'teal',label: 'Teal'},
                                    {color: 'blue',label: 'Blue'},
                                    {color: 'purple',label: 'Purple'},
                                    {color: '#ff0f83',label: 'Pink'},
                                    {color:'#663c28', label: 'Brown'}, 
                                    {color: 'lightgray', label: 'Silver'}, 
                                    {color: 'gray', label: 'Stone'}, 
                                    {color: 'black', label: 'Black'}, 
                                    {color: 'white', label: "White"}
                                  ]
                              }
                      } )
                      .then( editor => {
                        window.editor = editor;
                      } )
                      .catch( error => {
                        console.error( 'Oops, something went wrong!' );
                        console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                        console.warn( 'Build id: 7x5cosrncqsm-gncdo1e4b9nh' );
                        console.error( error );
                      } );
                      console.log(ClassicEditor.builtinPlugins.map( plugin => plugin.pluginName ));
                  </script>
                </form>
                <div id="Wait"></div>
                <div id="journalPosts">

                </div>
            </section>
        </div>
        <%- include ("../partials/footer.ejs") %>
        <script type="text/javascript">
            function toggleForm(){
                var togg = document.getElementById('toggle');
                var tbutton = document.getElementById('tbutton');
                if (togg.style.display=="none"){
                    $("#toggle").show("fast");
                    $("#tbutton").text("Hide the form");
                } else {
                    $("#toggle").hide("fast");
                    $("#tbutton").text("Add a System");
                }
            }
        </script>
        <script>
  const controller = new AbortController();
  const { signal } = controller;

    function deleteWarn(title){
      if (confirm(`You're about to delete ${title}. Is this ok?`)){
        console.log("Delete Rule.");
      } else {
        event.preventDefault();
      }
    }

    signal.addEventListener("abort", () => {
  console.log(signal.aborted);
});

async function fetchPosts(){
  $("#sysList").empty();
  $("#journalPosts").empty();
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  $("#WaitSys").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            console.log(sysInfo)
            // sysArr, nonPinned, isPinned
            $("#Wait").empty();
            $("#WaitSys").empty();
            for (i in sysInfo.sysArr){
              $("#sysList").append(`<div class="systemdiv">
              <a class="systembutton" title="${sysInfo.sysArr[i].alias}" href="/system/${sysInfo.sysArr[i].sys_id}">${sysInfo.sysArr[i].alias} <a class="editbtn" href="/editsys/${sysInfo.sysArr[i].sys_id}">Rename</a></a><a href="/deletesys/${sysInfo.sysArr[i].sys_id}" name="${sysInfo.sysArr[i].sys_id}" class="deletebtn">Delete</a>
              </div>`)
            }
            var language = window.navigator.userLanguage || window.navigator.language;
            if (sysInfo.isPinned.length > 0){
            for (i in sysInfo.isPinned){
                          var bodyArr= (sysInfo.isPinned[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                          var postStr= new String();
                          console.log(sysInfo.isPinned[i]);
                          if (sysInfo.isPinned[i].title){ 
                            postStr += `<h2><i style="color:var(--col4)" class="fa fa-thumb-tack" aria-hidden="true" title="Pinned Post"></i> ${sysInfo.isPinned[i].title}</h2> <a title="Edit ${sysInfo.isPinned[i].title}" href="/comm/${sysInfo.isPinned[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a><form method="post" style="display: inline;"><button type="submit" name="${sysInfo.isPinned[i].id}" value="Remove" class="textless" onclick="deleteWarn('${sysInfo.isPinned[i].title ? sysInfo.isPinned[i].title : "this untitled post"}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <i style="color:var(--col4)" title="Unpin this post from the top of your journal" class="fa fa-thumb-tack" aria-hidden="true"onclick="pinPosts('${sysInfo.isPinned[i].id}')"></i><p><sub>Posted ${(sysInfo.isPinned[i].created_on).substr(0,10)}</sub></p>`
                          } else {
                            postStr += `<h2><i style="color:var(--col4)" class="fa fa-thumb-tack" aria-hidden="true" title="Pinned Post"></i></h2> <a title="Edit ${sysInfo.isPinned[i].title}" href="/comm/${sysInfo.isPinned[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a><form method="post" style="display: inline;"><button type="submit" name="${sysInfo.isPinned[i].id}" value="Remove" class="textless" onclick="deleteWarn('${sysInfo.isPinned[i].title ? sysInfo.isPinned[i].title : "this untitled post"}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <i style="color:var(--col4)" title="Unpin this post from the top of your journal" class="fa fa-thumb-tack" aria-hidden="true"onclick="pinPosts('${sysInfo.isPinned[i].id}')"></i><p><sub>Posted ${(sysInfo.isPinned[i].created_on).substr(0,10)}</sub></p>`
                          }
                          for (i in bodyArr){
                            postStr += `<p>${bodyArr[i]}</p>`;
                          }
          $("#journalPosts").append(`<article>${postStr}</article>`);
                        }
                        
            }
            if (sysInfo.nonPinned.length > 0){
              for (i in sysInfo.nonPinned){
                var bodyArr= (sysInfo.nonPinned[i].body).replace(/\r/gi, '').split("\n").filter(function() { return true; });
                var postStr= new String();
                if (sysInfo.nonPinned[i].title){ 
                  postStr += `<h2>${sysInfo.nonPinned[i].title}</h2> <a title="Edit ${sysInfo.nonPinned[i].title}" href="/comm/${sysInfo.nonPinned[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> <form method="post" style="display: inline;"><button type="submit" name="${sysInfo.nonPinned[i].id}" value="Remove" class="textless" onclick="deleteWarn('${sysInfo.nonPinned[i].title}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <i style="color:var(--col4)" class="fa fa-thumb-tack" title="Pin this post to the top of your journal" aria-hidden="true" onclick="pinPosts('${sysInfo.nonPinned[i].id}')"></i><p><sub>Posted ${(sysInfo.nonPinned[i].created_on).substr(0,10)}</sub></p>`
                } else {
                  postStr += `<a title="Edit ${sysInfo.nonPinned[i].title}" href="/comm/${sysInfo.nonPinned[i].id}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> <form method="post" style="display: inline;"><button type="submit" name="${sysInfo.nonPinned[i].id}" value="Remove" class="textless" onclick="deleteWarn('${sysInfo.nonPinned[i].title}')"><span class="material-symbols-outlined textless"> delete</span></button></form> <i style="color:var(--col4)" class="fa fa-thumb-tack" title="Pin this post to the top of your journal" aria-hidden="true" onclick="pinPosts('${sysInfo.nonPinned[i].id}')"></i><p><sub>Posted ${(sysInfo.nonPinned[i].created_on).substr(0,10)}</sub></p>`
                }
                for (i in bodyArr){
                  postStr += `<p>${bodyArr[i]}</p>`;
                }
            $("#journalPosts").append(`<article>${postStr}</article>`);  
              }
                          
            }
}
async function pinPosts(pID){
  $("#Wait").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  $("#WaitSys").html(`<img src="/img/svg/bubbles.svg" class="tinyimg">`);
  let response = await fetch(`/system-data`, { 
                method: "PUT",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                }, 
                body: JSON.stringify({
                  "edit": "pin",
                  "postID": `${pID}`
                })
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            fetchPosts();
          }
$(document).ready(function(){
  fetchPosts();
});

</script>
    </body>
</html>
