<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
          .modpanel{
            width: 30%;
            /* background: powderblue; */
            padding: .5em;
            font-size: 1.25em;
            display: flex;
            justify-content: space-around;
            border: thick double var(--col1) ;
            border-radius: 5px;
          }
          @media only screen and (max-width: 800px) {
            .modpanel{
            width: 80%;
            }
          }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
                                      <!-- The Modal -->
                                      <div id="myModal" class="modal">

                                        <!-- Modal content -->
                                        <div class="modal-content" id="modalContent">
                                          <span id="closetopic" class="material-symbols-outlined close">
                                            cancel
                                            </span>
                                            <h2>Edit Topic</h2>
                                                <form method="post">
                                                    <label for="newtitle">Topic Title</label>
                                                    <input type="text" id="newtitle" name="newtitle" value="<%= originalPost.title %>"><br>
                                                    <label for="editor2">Topic Post Body</label>
                                                    <div id="opeditor"><%- originalPost.body %></div>
                                                    <textarea id="ophidden-text" name="newbody" style="display:none;">
                                                        
                                                    </textarea><br>
                                                    <label for="topicforum">Topic Forum Location: </label>
                                                    <select id="topicforum" name="topicforum"> 
                                                        <% for (i in forumArr){ %> 
                                                            <% if (forumArr[i].id == originalPost.topic_id){ %>
                                                                <option value="<%- forumArr[i].id %>" selected><%- forumArr[i].topic %></option>
                                                                <% } else { %> 
                                                                    <option value="<%- forumArr[i].id %>" ><%- forumArr[i].topic %></option>
                                                                <% } %>
                                                        <% } %>
                                                    </select>
                                                    <br><label for="author">Topic Author</label>
                                                    <select name="author" id="author" required>
                                                    </select>
                                                    <br><input type="submit" name="editop" value="Edit Topic">
                                                </form>
                                                <script>
                                                  var myToolbar= [
                                                  [{ header: [1, 2, false] }],
                                                  ['bold', 'italic', 'underline', 'strike'],       
                                                  ['blockquote', 'code-block'],
                                              
                                                  [{ 'color': [] }],         
                                                  [{ 'font': [] }],
                                                  [{ 'align': [] }],
                                              
                                                  ['clean'],                                        
                                                  ['image'] //add image here
                                              ];
                                              
                                              
                                                  var quill = new Quill('#opeditor', {
                                                    modules: {
                                                      toolbar: {
                                                          container: myToolbar,
                                                          handlers: {
                                                              image: imageHandler
                                                          }
                                                      }
                                                    },
                                                    placeholder: 'Write your post here.',
                                                    theme: 'snow'  // or 'bubble'
                                                  });
                                                  function imageHandler() {
                                                  var range = this.quill.getSelection();
                                                  var value = prompt('please copy paste the image url here.');
                                                  if(value){
                                                      this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
                                                  }
                                              }
                                              $("#opeditor").on("paste change keyup keydown input", function(){
                                              $("#ophidden-text").text($(".ql-editor").html())
                                              });
                                              $('input[type=submit]').click(function(){
                                                  // JUST in case.
                                                  $("#ophidden-text").text($(".ql-editor").html())
                                              })
                                              
                                              
                                              </script>
                                          </form>
                                        </div>
                                      </div>

        <div id="wrapper">
          <ul class="breadcrumb">
            <li><a href="/forum">Forums</a></li>
            <li><a href="/forum/<%= originalPost.topic_id %>"><%= originalPost.forum_name %></a></li>
            <li><%= truncate(originalPost.title, 32) %></li>
          </ul>
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
          
            <% 
            var opInfo= {id: null, name: "Blurry", pronouns:'', type:'', avatar:'', sys_alias:'', is_archived: false, img_blob:'', mimetype:''}
                for (i in alterArr){ 
               if (alterArr[i].id == originalPost.alt_id){ 
                opInfo= alterArr[i];
                break;
               }
               }
               %>

            <h2><% if (originalPost.is_sticky== true){ %>(Pinned) <% } %><% if (originalPost.is_locked== true){ %>(Locked) <% } %><%= originalPost.title %></h2> <% if (!opInfo.is_archived){%>
              <span>Moderation Panel</span>
              <div class="modpanel">
                <a title="Edit <%- originalPost.title %>" class="editCat"><i id="tbutton" class="fa fa-pencil" aria-hidden="true"></i></a> 
                
                <a title="Delete <%- originalPost.title %>"  class="" onclick="deleteTopic('<%- originalPost.title %>', '<%- originalPost.id %>')"><i class="fa fa-trash textless" aria-hidden="true"></i></a> 
                
                <i style="color:var(--col4)" class="fa fa-thumb-tack" title="Pin this thread to the top of its forum" aria-hidden="true" onclick="modThread('sticky', '<%= originalPost.id %>')"></i> 
                
                <% if (originalPost.is_locked== true) { %><i title="Unlock thread and allow replies."  onclick="modThread('lock', '<%= originalPost.id %>')" class="fa fa-unlock" aria-hidden="true"></i><% } else { %><i title="Lock thread and prevent replies." onclick="modThread('lock', '<%= originalPost.id %>')" class="fa fa-lock" aria-hidden="true"></i><% } %>
              </div>
            <% } %>

            <!-- OP Post -->
            <% if (currPage == 1) { %>
              <% if (originalPost.alt_id== null){ %> 
                <section class="threadpost">
                  <div class="user">
                    <h3><a>Blurry <i class='far fa-newspaper' title="Original Author" aria-hidden="false"></i></a></h3>
                    <img src="/img/avatar-default.jpg" class="smallimg">
                  </div>
                  <div class="post">
                      <p> <small>Posted <%- (originalPost.created_on).toLocaleString().split(",")[0] %></small></p>
                      <%- originalPost.body %>
                  </div>
              </section>
              <% } else { %>
                <section class="threadpost">
                <div class="user">
                <!-- Time to do some alter logic. -->
                <% for (i in alterArr){ %> 
                    <% if (alterArr[i].id == originalPost.alt_id){ %> 
                      
                        <h3><a href="/alter/<%= alterArr[i].id %>" style="color:<%= alterArr[i].colour == "#000000" ? "" : alterArr[i].colour %>"><%= alterArr[i].name %> <i class='far fa-newspaper' title="Original Author" aria-hidden="false"></i></a></h3>

                        <% if (alterArr[i].img_blob){ %> 
                          <img src="data:<%= alterArr[i].blob_mimetype %>;base64,<%= Buffer.from(alterArr[i].img_blob).toString("base64") %>" class="smallimg">
                        <% } else if (alterArr[i].avatar){ %>
                          <img src="<%= alterArr[i].avatar %>" class="smallimg">
                        <% } else { %> 
                          <img src="/img/avatar-default.jpg" class="smallimg">
                        <% } %>
                            <br>
                        <% if (alterArr[i].sys_alias){ %><small><%= capitalise(cookies.system_term) %>: <%= alterArr[i].sys_alias %><br></small><% } %>
                        <% if (alterArr[i].pronouns){ %><small>Pronouns: <%= alterArr[i].pronouns %><br></small><% } %>
                        <% if (alterArr[i].type){ %><small>Type: <%= alterArr[i].type %></small><br><% } %>
                        <% if (alterArr[i].mood){ %><small>Mood: <%= moods[alterArr[i].mood].name %> <%= moods[alterArr[i].mood].emoji %></small><br><% } %>
                    <% break; } %>
                <% } %>
                </div>
                <div class="post">
                    <p> <small>Posted <%- (originalPost.created_on).toLocaleString().split(",")[0] %></small></p>
                    <%- originalPost.body %>
                </div>
            </section>
              <% } %>
            
            <% } %>
            <% for (r in replyArr){ %>
                <section class="threadpost" id="<%= replyArr[r].id %>">
                    <div class="user">
                    <!-- Time to do some alter logic. -->
                    <% if (replyArr[r].alt_id== null){ %> 
                    <!-- Blurry -->
                    <h3 style="padding-bottom:0;"><a>Blurry <% if (alterArr[i].id == originalPost.alt_id){ %> <i class='far fa-newspaper' title="Original Author" aria-hidden="false"></i> <% } %></a></h3><img src="/img/avatar-default.jpg" class="smallimg">

                    <% } else { %>
                    <!-- Not Blurry -->
                    <% for (i in alterArr){  %> 
                        <% if (alterArr[i].id == replyArr[r].alt_id){ 
                          var is_archived = alterArr[i].is_archived;
                          %> 
                            <h3 style="padding-bottom:0;"><a href="/alter/<%= alterArr[i].id %>" style="color:<%= alterArr[i].colour == "#000000" ? "" : alterArr[i].colour %>"><%= alterArr[i].name %> <% if (alterArr[i].id == originalPost.alt_id){ %> <i class='far fa-newspaper' title="Original Author" aria-hidden="false"></i> <% } %></a></h3>
                            <% if (alterArr[i].is_archived == true) { %><span><small>Archived</small><br/></span><% } %>

                            <% if (alterArr[i].img_blob){ %> 
                          <img src="data:<%= alterArr[i].blob_mimetype %>;base64,<%= Buffer.from(alterArr[i].img_blob).toString("base64") %>" class="smallimg">
                        <% } else if (alterArr[i].avatar){ %>
                          <img src="<%= alterArr[i].avatar %>" class="smallimg">
                        <% } else { %> 
                          <img src="/img/avatar-default.jpg" class="smallimg">
                        <% } %>
                            <br>
                            <% if (alterArr[i].sys_alias){ %><small><%= capitalise(cookies.system_term) %>: <%= alterArr[i].sys_alias %><br></small><% } %>
                            <% if (alterArr[i].pronouns){ %><small>Pronouns: <%= alterArr[i].pronouns %></small><br><% } %>
                            <% if (alterArr[i].type){ %><small>Type: <%= alterArr[i].type %></small><br><% } %>
                            <% var replyAuthor= alterArr[i].name %>
                            <% if (alterArr[i].mood){ %><small>Mood: <%= moods[alterArr[i].mood].name %> <%= moods[alterArr[i].mood].emoji %></small><br><% } %>
                        <% break; } %>
                      <% } %>
                    <% } %>
                    
                    </div>
                    <div class="post">
                        <p><small>Posted <%- (replyArr[r].created_on).toLocaleString().split(",")[0] %><% if (!is_archived){ %><a title="Edit reply" class="editCat" href="/reply/<%- replyArr[r].id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a><% } %> <a title="Delete <%- replyAuthor %>'s Reply" onclick="deleteReply('<%- replyAuthor %>','<%- replyArr[r].id %>')"><i class="fa fa-trash textless" aria-hidden="true"></i></a></small></p>
                        <%- replyArr[r].body %>
                    </div>
                </section>
            <% } %>
            <% if (finalPage > 1){ %>
            <section class="pageJump">
              Pages:
              <ul>
                <% if (currPage > 1){ %><li><i class="fa fa-arrow-left" aria-hidden="true"></i> <a href="/topic/<%= topic %>/<%= parseInt(currPage) - 1 %>">Previous</a></li><% } %>
              <li class="currPage"><%= currPage %></li>
              <% if (currPage < finalPage){ %><li><a href="/topic/<%= topic %>/<%= parseInt(currPage) + 1 %>">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li><% } %>
              </ul>
              <form method="none">
              <label for="page">Go to page: </label><input type="number" min="1" max="<%= finalPage %>" name="page" id="page" style="width: 3em;">
              <button id="go">Go</button>
              </form>
            </section>            
              <% } %>

            <section>
              <% if (originalPost.is_locked == false){ %>
                <h2>Reply to this thread</h2>
                <form autocomplete="off"  method="post">
                  <input type="hidden" name="pagenum" value="<%= currPage %>">
                    <label for="replyauthor">Who is replying to this?</label>
                    <select name="replyauthor" id="replyauthor" required>
                        <option value="" disabled selected>Choose...</option>
                        <% for (i in alterArr){ %>
                          <% if (!alterArr[i].is_archived){ %>
                            <option value="<%= alterArr[i].id %>"><%= alterArr[i].name %> (System: <%= alterArr[i].sys_alias %>)</option>
                            <% } %>
                        <% } %>
                        <option value="blur">Blurry</option>
                    </select><br>
                    <label for="editor">Type Reply Below</label><br>
                    <div id="editor" autocomplete="off" cols="60" rows="15"></div><br/>
                    <textarea name="reply" id="hidden-text" style="display:none"></textarea>
                      <input type="submit" name="newtop" value="Submit Reply">
                    </form>
                      <%- include ("../partials/quill.ejs") %>
                <% } else { %>
                  <h2>This thread has been locked. <i class="fa fa-lock" aria-hidden="true"></i></h2>
                  <p>No more replies can be made until the thread is unlocked.</p>
                <% } %>
            </section>
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("tbutton");
        var span = document.getElementById("closetopic");
        btn.onclick = function() {
          $('html, body').css({
    overflow: 'hidden',
    height: '100%'
});
          $("#myModal").fadeIn("fast");
        }
        span.onclick = function() {
          // modal.style.display = "none";
          $('html, body').css({
    overflow: 'auto',
    height: 'auto'
});
          $("#myModal").fadeOut("fast");
        }



        async function deleteTopic(name, id){
          if (confirm(`Do you actually want to delete ${name}? All replies under this thread will also be deleted.`)){
            // Delete.
            let response = await fetch(`/forum-data`, { 
                method: "DELETE",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                }, 
                body: JSON.stringify({
                  "mode": "topic",
                  "id": id
                })
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            if (sysInfo.code== 200) location.href= "/forum";
          }
        }
        async function deleteReply(name, id){
          if (confirm(`Do you actually want to delete ${name}'s reply?`)){
            // Delete.
            let response = await fetch(`/forum-data`, { 
                method: "DELETE",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                }, 
                body: JSON.stringify({
                  "mode": "reply",
                  "id": id
                })
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            if (sysInfo.code== 200) location.reload();
          }
        }
        async function modThread(mode, id){
          let response = await fetch(`/forum-data`, { 
                method: "PUT",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                }, 
                body: JSON.stringify({
                  "mode": `${mode}`,
                  "id": `${id}`
                })
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            if (sysInfo.code== 200) location.reload();
        }
        async function getAlters(){
          let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "alters"
                } 
            });
            let body = await response.text();
            if (!response.ok) return $("#wrapper").html("<p><img src='/img/svg/ship-icon.svg' class='tinyimg'><em>There was an error communicating with our database. Please reload or try again later.</em></p>");
            let sysInfo = JSON.parse(body);
            for (i in sysInfo.search){
            if (!sysInfo.search[i].is_archived){
              // Not archived.
              if ('<%- originalPost.alt_id %>' == sysInfo.search[i].alt_id){
                  $("#author").append(`<option value="${sysInfo.search[i].alt_id}" selected>${sysInfo.search[i].name} (<%- capitalise(cookies.system_term) %>: ${sysInfo.search[i].sys_alias})</option>`);
            } else{
                $("#author").append(`<option value="${sysInfo.search[i].alt_id}">${sysInfo.search[i].name} (<%- capitalise(cookies.system_term) %>: ${sysInfo.search[i].sys_alias})</option>`);
            }
            }
            
            }
            $("#author").append('<option value="blur">Blurry</option>')
        }
        getAlters();
        $("#go").on("click", function(){
          event.preventDefault();
          window.location= `/topic/<%= topic %>/${$("#page").val()}`
        })
    </script>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
