<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
                                      <!-- The Modal -->
                                      <div id="myModal" class="modal">

                                        <!-- Modal content -->
                                        <div class="modal-content" id="modalContent">
                                          <span id="closetopic" class="material-symbols-outlined close">
                                            cancel
                                            </span>
                                            <h2>Edit Topic</h2>
                                                <form method="post">
                                                    <label for="newtitle">Topic Title</label>
                                                    <input type="text" id="newtitle" name="newtitle" value="<%= originalPost.title %>"><br>
                                                    <label for="editor2">Topic Post Body</label>
                                                    <textarea id="editor2" name="newbody">
                                                        <%- originalPost.body %>
                                                    </textarea><br>
                                                    <label for="topicforum">Topic Forum Location: </label>
                                                    <select id="topicforum" name="topicforum"> 
                                                        <% for (i in forumArr){ %> 
                                                            <% if (forumArr[i].id == originalPost.topic_id){ %>
                                                                <option value="<%- forumArr[i].id %>" selected><%- forumArr[i].topic %></option>
                                                                <% } else { %> 
                                                                    <option value="<%- forumArr[i].id %>" ><%- forumArr[i].topic %></option>
                                                                <% } %>
                                                        <% } %>
                                                    </select>
                                                    <br><label for="author">Topic Author</label>
                                                    <select name="author" id="author" required>
                                                    </select>
                                                    <br><input type="submit" name="editop" value="Edit Topic">
                                                </form>
                                              <script>ClassicEditor
                                                .create( document.querySelector( '#editor2' ), {
                                                  licenseKey: '',
                                                  fontColor: {
                                                          colors: [
                                                              {color: 'red',label: 'Red'},
                                                              {color: '#ff691f',label: 'Orange'},
                                                              { color: '#ffc20a',label: 'Yellow'},
                                                              {color: 'green',label: 'Green'},
                                                              {color: 'teal',label: 'Teal'},
                                                              {color: 'blue',label: 'Blue'},
                                                              {color: 'purple',label: 'Purple'},
                                                              {color: '#ff0f83',label: 'Pink'},
                                                              {color:'#663c28', label: 'Brown'}, 
                                                              {color: 'lightgray', label: 'Silver'}, 
                                                              {color: 'gray', label: 'Stone'}, 
                                                              {color: 'black', label: 'Black'}, 
                                                              {color: 'white', label: "White"}
                                                            ]
                                                        }
                                                } )
                                                .then( editor => {
                                                  window.editor = editor;
                                                } )
                                                .catch( error => {
                                                  console.error( 'Oops, something went wrong!' );
                                                  console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                                                  console.warn( 'Build id: 7x5cosrncqsm-gncdo1e4b9nh' );
                                                  console.error( error );
                                                } );
                                            </script>
                                          </form>
                                        </div>
                                      </div>

        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <% for (i in alterArr){ 
               if (alterArr[i].id == originalPost.alt_id){ 
                var opInfo= alterArr[i];
                break;
               }
               } %>

            <a href="/forum/<%= originalPost.topic_id %>">Back to <%= originalPost.forum_name %></a>
            <h2><%= originalPost.title %> <% if (!opInfo.is_archived){%><a title="Edit <%- originalPost.title %>" class="editCat"><i id="tbutton" class="fa fa-pencil" aria-hidden="true"></i></a> <% } %><a title="Delete <%- originalPost.title %>"  class="" onclick="deleteTopic('<%- originalPost.title %>', '<%- originalPost.id %>')"><i class="fa fa-trash textless" aria-hidden="true"></i></a></h2>
            <section class="threadpost">
                <div class="user">
                <!-- Time to do some alter logic. -->
                <% for (i in alterArr){ %> 
                    <% if (alterArr[i].id == originalPost.alt_id){ %> 
                        <h3><a href="/alter/<%= alterArr[i].id %>"><%= alterArr[i].name %> <i class='far fa-newspaper' title="Original Author" aria-hidden="false"></i></a></h3>
                        <img src="<%= alterArr[i].avatar %>" class="tinyimg"><br>
                        <% if (alterArr[i].pronouns){ %><small>Pronouns: <%= alterArr[i].pronouns %><br></small><% } %>
                        <% if (alterArr[i].type){ %><small>Type: <%= alterArr[i].type %></small><% } %>
                    <% break; } %>
                <% } %>
                </div>
                <div class="post">
                    <p> <small>Posted <%- (originalPost.created_on).toLocaleString().split(",")[0] %></small></p>
                    <%- originalPost.body %>
                </div>
            </section>

            <% for (r in replyArr){ %>
                <section class="threadpost">
                    <div class="user">
                    <!-- Time to do some alter logic. -->
                    <% for (i in alterArr){ 
                      %> 
                        <% if (alterArr[i].id == replyArr[r].alt_id){ 
                          var is_archived = alterArr[i].is_archived;
                          %> 
                            <h3 style="padding-bottom:0;"><a href="/alter/<%= alterArr[i].id %>"><%= alterArr[i].name %> <% if (alterArr[i].id == originalPost.alt_id){ %> <i class='far fa-newspaper' title="Original Author" aria-hidden="false"></i> <% } %></a></h3>
                            <% if (alterArr[i].is_archived == true) { %><span><small>Archived</small><br/></span><% } %>
                            <img src="<%= alterArr[i].avatar %>" class="tinyimg"><br>
                            <% if (alterArr[i].pronouns){ %>Pronouns: <%= alterArr[i].pronouns %><br><% } %>
                            <% if (alterArr[i].type){ %>Type: <%= alterArr[i].type %><% } %>
                            <% var replyAuthor= alterArr[i].name %>
                        <% break; } %>
                    <% } %>
                    </div>
                    <div class="post">
                        <p><small>Posted <%- (replyArr[r].created_on).toLocaleString().split(",")[0] %><% if (!is_archived){ %><a title="Edit reply" class="editCat" href="/reply/<%- replyArr[r].id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a><% } %> <a title="Delete <%- replyAuthor %>'s Reply" onclick="deleteReply('<%- replyAuthor %>','<%- replyArr[r].id %>')"><i class="fa fa-trash textless" aria-hidden="true"></i></a></small></p>
                        <%- replyArr[r].body %>
                    </div>
                </section>
            <% } %>
            <section>
                <h2>Reply to this thread</h2>
                <form autocomplete=off  method="post">
                    <label for="replyauthor">Who is replying to this?</label>
                    <select name="replyauthor" id="replyauthor" required>
                        <option value="" disabled selected>Choose...</option>
                        <% for (i in alterArr){ %>
                          <% if (!alterArr[i].is_archived){ %>
                            <option value="<%= alterArr[i].id %>"><%= alterArr[i].name %> (System: <%= alterArr[i].sys_alias %>)</option>
                            <% } %>
                        <% } %>
                    </select><br>
                    <label for="editor">Type Reply Below</label><br>
                    <textarea name="reply" id="editor" autocomplete="off" cols="60" rows="15"></textarea><br/>
                      <input type="submit" name="newtop" value="Submit Reply">
                    </form>
                      <script>ClassicEditor
                        .create( document.querySelector( '#editor' ), {
                          licenseKey: '',
                          fontColor: {
                                  colors: [
                                      {color: 'red',label: 'Red'},
                                      {color: '#ff691f',label: 'Orange'},
                                      { color: '#ffc20a',label: 'Yellow'},
                                      {color: 'green',label: 'Green'},
                                      {color: 'teal',label: 'Teal'},
                                      {color: 'blue',label: 'Blue'},
                                      {color: 'purple',label: 'Purple'},
                                      {color: '#ff0f83',label: 'Pink'},
                                      {color:'#663c28', label: 'Brown'}, 
                                      {color: 'lightgray', label: 'Silver'}, 
                                      {color: 'gray', label: 'Stone'}, 
                                      {color: 'black', label: 'Black'}, 
                                      {color: 'white', label: "White"}
                                    ]
                                }
                        } )
                        .then( editor => {
                          window.editor = editor;
                        } )
                        .catch( error => {
                          console.error( 'Oops, something went wrong!' );
                          console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                          console.warn( 'Build id: 7x5cosrncqsm-gncdo1e4b9nh' );
                          console.error( error );
                        } );
                    </script>
                
            </section>
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("tbutton");
        var span = document.getElementById("closetopic");
        btn.onclick = function() {
          
          $("#myModal").fadeIn("fast");
        }
        span.onclick = function() {
          // modal.style.display = "none";
          $("#myModal").fadeOut("fast");
        }

        window.onclick = function(event) {
          if (event.target == modal) {
            // modal.style.display = "none";
            $("#myModal").fadeOut("fast");
          }
        }

        async function deleteTopic(name, id){
          if (confirm(`Do you actually want to delete ${name}? All replies under this thread will also be deleted.`)){
            // Delete.
            let response = await fetch(`/forum-data`, { 
                method: "DELETE",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                }, 
                body: JSON.stringify({
                  "mode": "topic",
                  "id": id
                })
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            if (sysInfo.code== 200) location.href= "/forum";
          }
        }
        async function deleteReply(name, id){
          if (confirm(`Do you actually want to delete ${name}'s reply?`)){
            // Delete.
            let response = await fetch(`/forum-data`, { 
                method: "DELETE",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json'
                }, 
                body: JSON.stringify({
                  "mode": "reply",
                  "id": id
                })
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            if (sysInfo.code== 200) location.reload();
          }
        }
        async function getAlters(){
          let response = await fetch(`/system-data`, { 
    method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  "grab": "alters"
                } 
            });
            let body = await response.text();
            let sysInfo = JSON.parse(body);
            for (i in sysInfo.search){
            if (!sysInfo.search[i].is_archived){
              // Not archived.
              if ('<%- originalPost.alt_id %>' == sysInfo.search[i].alt_id){
                  $("#author").append(`<option value="${sysInfo.search[i].alt_id}" selected>${sysInfo.search[i].name} (<%- capitalise(cookies.system_term) %>: ${sysInfo.search[i].sys_alias})</option>`);
            } else{
                $("#author").append(`<option value="${sysInfo.search[i].alt_id}">${sysInfo.search[i].name} (<%- capitalise(cookies.system_term) %>: ${sysInfo.search[i].sys_alias})</option>`);
            }
            }
            
            }
        }
        getAlters();
    </script>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
