<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            table{
                width: 100%;
  border-collapse: collapse;
            }
            th{
                text-align: center;
                background-color: var(--forum-shade);
            }
            td{
                /* border: 1px solid var(--col1); */
                padding: .5em;
            }
            .switch {
            position: relative;
            display: inline-block;
            width: 3em;
            height: 1em;
            }

            /* Hide default HTML checkbox */
            .switch input {
            opacity: 0;
            width: 0;
            height: 0;
            }

            /* The slider */
            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--col1);
            -webkit-transition: .4s;
            transition: .4s;
            }

            .slider:before {
            position: absolute;
            content: "";
            height: 1em;
            width: 1em;
            left: 4px;
            background-color: ghostwhite;
            -webkit-transition: .4s;
            transition: .4s;
            }

            input:checked + .slider {
            background-color: var(--col3);
            }

            input:focus + .slider {
            box-shadow: 0 0 1px var(--col3);
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }

            .slider.round:before {
            border-radius: 50%;
            }
            #uid{
                background: var(--input);
                border: 1px solid var(--col1);
                color: var(--col1);
                padding: 3px;
            }
            #copyNotification, #copyToken{
                z-index: 5;
                position: fixed;
                bottom: 0;
                right: 0;
                width: 30%;
                padding: 1em;
                background: var(--col2);
                display: none;
            }
            .endpoint p:nth-child(2){
                padding-left: 1em;
                line-height: .8;
                font-style: italic;
                font-weight: 300;
            }
        </style>
        <link rel="stylesheet" href="/stylesheets/prism.css">
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <ul class="breadcrumb">
                    <li><a href="/profile" title="Settings">Settings</a></li>
                    <li>Tokens</li>
                </ul>
                <h1>Tokens</h1>
                <p>Tokens allow you to create your own scripts and interact with Lighthouse's database. See below for documentation. They're like a password that programs can use. You can create tokens that have specific permissions set to them. <strong>Do not share your tokens with anyone, as they will grant access to your account's information.</strong> If your token is leaked, you can delete it here and it will no longer work.</p>
                <p>Click/Tap your ID to copy it.</p>
                <p>Your User ID: <span id="uid"><%= cookies.u_id %></span></p>
                <p>You can <a href="/api/test">test the Lighthouse API here.</a></p>
                <h2>Your Tokens</h2>
                <button id="generateTok" style="margin-bottom: 1em;">Create a Token</button>
                <div id="tokendiv">
                    <table>
                        <thead>
                          <tr>
                            <th>Token</th>
                            <th>Read</th>
                            <th>Write/Delete</th>
                            <th><%= capitalise(pluralize(cookies.alter_term)) %></th>
                            <th><%= capitalise(pluralize(cookies.system_term)) %></th>
                            <th>Journals</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody id="toks">
                            <% tokens.forEach((token)=>{ %>
                                <tr>
                                    <td><span class="copy" id="<%= decrypt(token.name) %>"><i class="fa fa-clone" aria-hidden="true"></i></span> <%= decrypt(token.name) %></td>

                                    <td><label class="switch"><input type="checkbox" <% if (token.read== true){ %>checked<% } %> id="read-<%= decrypt(token.name) %>"><span class="slider round"></span></label> <span id="readen-<%= decrypt(token.name) %>"><%= token.read %></span></td>

                                    <td><label class="switch"><input type="checkbox" <% if (token.write== true){ %>checked<% } %> id="write-<%= decrypt(token.name) %>"><span class="slider round"></span></label> <span id="writeen-<%= decrypt(token.name) %>"><%= token.write %></span></td>

                                    <td><label class="switch"><input type="checkbox" <% if (token.alters== true){ %>checked<% } %> id="alters-<%= decrypt(token.name) %>"><span class="slider round"></span></label> <span id="altersen-<%= decrypt(token.name) %>"><%= token.alters %></span></td>

                                    <td><label class="switch"><input type="checkbox" <% if (token.systems== true){ %>checked<% } %> id="systems-<%= decrypt(token.name) %>"><span class="slider round"></span></label> <span id="systemsen-<%= decrypt(token.name) %>"><%= token.systems %></span></td>

                                    <td><label class="switch"><input type="checkbox" <% if (token.journals== true){ %>checked<% } %> id="journals-<%= decrypt(token.name) %>"><span class="slider round"></span></label> <span id="journalsen-<%= decrypt(token.name) %>"><%= token.journals %></span></td>

                                    <td><i class="fa fa-trash textless" aria-hidden="true" id="<%= decrypt(token.name) %>-del"></i></td>
                                </tr>
                                <% }) %>
                        </tbody>
                        </table>
                    
                </div>
                <h2>Documentation</h2>
                <p>Lighthouse API allows users to integrate their account with other scripts that they create. With tokens, they can read or write/delete data and assign specific tokens to specific tasks, if they so wish. These calls will only work if the above tokens have been granted permission to access the information requested.</p>
                <p>All API requests will start with <code><%- config.URL_PREFIX %>/api/</code></p>
                <p>Every call <em>must</em> include the token in the request header, under 'usertoken'. Example below in JS:<br>
                <pre class="language-javascript"><code class="language-javascript">
async function getMembers() {
    const call = await fetch(`<%- config.URL_PREFIX %>/api/members/USER-ID`, {
        method: "GET", 
        headers: {
        'Content-Type': 'application/json',
        'usertoken': 'TOKEN-HERE' // Never share this with anyone
        }
    });
    const reply = await call.json(); // Returns JSON of the information you requested.
    }
    getMembers();
                </code></pre>
                We do not reccommend hard-coding tokens into your scripts, as they could easily be accessed. The above code is only an example, and the way the token is shown should not be used in any production environment.
</p>

                <hr>
                <section>
                    <h3><%= capitalise(pluralize(cookies.alter_term)) %></h3>
                    <div class="endpoint">
                        <p>GET <code>/members/{User ID}</code></p>
                        <p>Returns an object of <%= pluralize(cookies.alter_term) %>.</p>
                    </div>
                </section>
                <section>
                    <h3><%= capitalise(pluralize(cookies.system_term)) %></h3>
                    <div class="endpoint">
                        <p>GET <code>/systems/{User ID}</code></p>
                        <p>Returns an object of <%= pluralize(cookies.system_term) %>.</p>
                    </div>
                </section>
                <section>
                    <h3>Journals</h3>
                    <div class="endpoint">
                        <p>GET <code>/journals/{User ID}</code></p>
                        <p>Returns an object of journal posts.</p>
                    </div>
                </section>
            </section>
    </div>
    <script>
        $("input").on("change", async function(){
            // alert($(this).attr('id'))
            let mode=($(this).attr('id')).split("-")[0];
            let tok= ($(this).attr('id')).split("-")[1];

            let response = await fetch(`/api/tokens`, { 
                method: "PUT",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                }, body:JSON.stringify({
                    "mode": mode,
                    "tok": tok,
                    "enable": $(this).prop("checked")
                })
            });
            let resBod = await response.text();
            if (response.ok){
                let enabled= $(this).prop("checked") == true ? "true" : "false";
                $(`#${mode}en-${tok}`).text(enabled)
            }
        })
        $("#generateTok").click(async function(){
			event.preventDefault();
            let response = await fetch(`/api/generate-token`, { 
                method: "POST",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                },
				body: JSON.stringify({id: '<%= cookies.u_id %>'})
            });
            let resBod = await response.text();
            if (response.ok) location.reload();
        
		});

        $(".fa-trash").click(async function(){
            // alert($(this).attr('id'));
            let delTok= ($(this).attr('id')).split("-")[0];
            if (confirm(`Do you really want to delete token ${delTok}?`)){
            let response = await fetch(`/api/tokens`, { 
                            method: "DELETE",
                            headers: { 
                            "api-lh-call": "api-lh-call",
                            'Content-Type': 'application/json',
                            "tok": delTok
                            }
                        });
                        let resBod = await response.text();
                        if (response.ok) location.reload()
            }
            
            
        });

        $("#uid").click(function(){
            navigator.clipboard.writeText($("#uid").text());
            $.iaoAlert({ msg: "Copied User ID!", type: "success", mode: "dark" });
        });
        $(".copy").click(function(){
            navigator.clipboard.writeText($(this).attr('id'));
            $.iaoAlert({ msg: "Copied token. <strong>Do not share this token with anyone.</strong>", type: "success", mode: "dark" });
        })
    </script>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
