<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <% 
                var altTerm;
                var sysTerm;
                if (cookies.alter_term){
                    altTerm= cookies.alter_term;
                } else {
                    altTerm= "alter";
                }
                if (cookies.system_term){
                    sysTerm= cookies.system_term;
                } else {
                    sysTerm= "system";
                }
                if (cookies.subsystem_term){
                    subSysTerm= cookies.subsystem_term;
                } else {
                    subSysTerm= "sub-system";
                }
                %>
            <h1>How to Use Lighthouse</h1>
            <section>
                <img src="/img/logo.png" alt="Lighthouse Logo" class="tinyimg clearfix" style="float: left; margin:calc(.5em)">
                <p>Welcome to Lighthouse, a website for plural people to journal! Unlike a typical journal, Lighthouse allows each user to create <%= pluralize(altTerm) %> who all have their own separated journals. <%= capitalise(pluralize(altTerm)) %> can also fill out basic information on themselves from triggers to hobbies, to what they need from their <%= sysTerm %> for accommodation.</p>
            <section>
                <h2>Table of Contents</h2>
                <ul>
                    <li><a href="/tutorial#settings">Settings</a></li>
                    <li><a href="/tutorial#alt">Creating <%= capitalise(pluralize(sysTerm)) %></a></li>
                    <li><a href="/tutorial#sys">Creating <%= capitalise(pluralize(altTerm)) %> and Journals</a></li>
                    <li><a href="/tutorial#comm">Communal Journals</a></li>
                    <li><a href="/tutorial#forum">Forums</a></li>
                </ul>
            </section>
            <hr>
            <section id="settings">
                <h2>Settings</h2>
                <p>In your settings page, you can set custom terms, toggle certain parts of the site, and even set your language (though this is nowhere near done). If you need to change your email or username, you can do that as well.</p>
            </section>
            <section id="sys">
                <h2>Creating <%= capitalise(pluralize(sysTerm)) %></h2>
                <p>Before you can make <%= pluralize(altTerm) %>, you need to create a <%= sysTerm %> to put them in. On the <a href="/system" target="_blank" title="My <%= capitalise(sysTerm) %>">My <%= capitalise(sysTerm) %></a> page, you can add a <%= sysTerm %> by clicking "Add a <%= capitalise(sysTerm) %>". Lighthouse can support multiple <%= pluralize(sysTerm) %>, for those who may have <%= pluralize(subSysTerm) %>. You may also notice a Communal Journal section, which will be discussed later on.</p>
            </section>
            <section id="alt">
                <h2>Creating <%= capitalise(pluralize(altTerm)) %> and Journals</h2>
                <p>Once a <%= sysTerm %> has been created, you can now add <%= pluralize(altTerm) %>! Simply click on the <%= sysTerm %>, and add the new <%= altTerm %>'s name in the "Add a New <%= capitalise(altTerm) %>" blank. This will generate a card with their name on it.</p>
                <p>From here, you can click on the <%= altTerm %>'s card, taking you to their page. If this <%= altTerm %> is brand new, they won't have a journal yet. Simply pick a colour, choose if the journal should have a password, and hit "Create Journal" button.</p>
            </section>
            <section id="comm">
                <h2>Your Communal Journal</h2>
                <p>On the <a href="/system" target="_blank" title="My <%= capitalise(sysTerm) %>">My <%= capitalise(sysTerm) %></a> page, there is a section called the "Communal Journal". This is an area for all <%= pluralize(altTerm) %> to come together and document thoughts together. This could be memories, discussion, anything. You can also pin posts to the top, so that those posts always show up first.</p>
            </section>
            <section id="forum">
                <h2>Forums</h2>
                <p>On the <a href="/forum" target="_blank">Forum</a> page, <%= pluralize(altTerm) %> can chat amongst each other about a variety of topics. This is purely for your account only, and cannot communicate with other users on Lighthouse. Forums are to encourage longer forms of discussion, which some may find helpful.</p>
                <p>You can start by creating a category, like "<%= capitalise(sysTerm) %> Discussion" or "Hobbies". Once a category has been made, forums can be created that go under their respective category. In the earlier example, you might put a forum named "Biking" or "Drawing" under the "Hobbies" category.</p>
                <p>Inside each forum is a list of topics. This is where discussion happens. For instance, a topic might have a post titled "Which biking path should we take tomorrow?" with the post title having a list of nearby places to go biking. From there, <%= pluralize(altTerm) %> can leave replies.</p>
                <p>For those who experienced or use forums and message boards, this is functionally the same but operated under one account.</p>
            </section>
    </div>

    <%- include ("../partials/footer.ejs") %>
    </body>

</html>
