<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h2><%= capitalise(session.system_term) %> Wishlist</h2>
            <p>Below is a place for <%= pluralize(session.alter_term) %> to make goals or express wants and needs. This can be for materialistic wishes or general life goals.</p>
            <p>You might notice that there's no time limit posted with these wishes. That's to alleviate pressure and allow for more realistic goals to be set.</p>
            <h3>Make a Wish</h3>
            <form method="post">
                <input name="wish">
                <input type="submit" name="createWish" value="Submit Wish">
            </form>
            <hr/>
            <h3>Posted Wishes</h3>
            <% console.log(wishArr) %>
            <% if (wishArr.length== 0) { %>
                <p>No wishes posted yet!</p>
            <% } else { %> 
                <ul>
                <% for (i in wishArr){ %> 
                        <li><%- wishArr[i].text %></li>
                    <% } %>
                </ul>    
            <% } %>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
