<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>   
                <h2>Worksheets for your <%- capitalise(session.system_term) %></h2>
                <ul>
                    <li><a href="/safety-plan">Your Safety Plan</a></li>
                    <li><a href="/bda">Before, During, After</a></li>
                    <li><a href="/des">DES-II (Dissociative Experiences Scale)</a></li> 
                </ul>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
